{% if label == 'express' %}
    <span class="badge badge-danger">Срочная</span>
{% elseif label == 'current' %}
    <span class="badge badge-info">Текущая</span>
{% elseif label == 'closed' %}
    <span class="badge badge-success">Завершенная</span>
{% elseif label == 'working' %}
    <span class="badge badge-warning">В работе</span>
{% elseif label == 'on-review' %}
    <span class="badge badge-primary">На проверке</span>
{% endif %}