{#
сайдбар личного кабинета
#}
{% set publicationsCount = render(controller('App\\Controller\\User\\Profile\\SidebarController::publicationsCount', {user: user, userType: isPrivate ? 'own' : 'foreign' })) %}
{% set sections = [
    [
        {
            name: "bookmarks",
            title: "Закладки",
            counterClass: "outline",
            link: path('bookmarks'),
            count: user.postsBookmarked.count + user.commentsBookmarked.count,
            visible: isPrivate
        },
        {
            name: "comments",
            title: "Комментарии",
            counterClass: "outline",
            link: isPrivate ? path('user_comments') : path('foreign_user_comments', {nickname: user.nickname}),
            count: user.comments.count,
            visible: isPrivate ? true : user.comments.count > 0
        },
        {
            name: "tests",
            title: "Тесты",
            counterClass: "outline",
            link: path('user_tests'),
            count: 100,
            visible: true
        },
        {
            name: "publications",
            title: "Публикации",
            counterClass: "outline",
            link: isPrivate ? path('user_publications') : path('foreign_user_posts', {nickname: user.nickname}),
            count: publicationsCount,
            visible: isPrivate ? true : publicationsCount > 0
        },
        {
            name: "notifications",
            title: "Уведомления",
            counterClass: "error-outline",
            counterAttr: 'data-notifications-count',
            link: path('user_notifications'),
            count: render(controller('App\\Controller\\User\\NotificationController::count')),
            visible: isPrivate
        },
        {
            name: "subscriptions",
            title: "Подписки",
            link: path('api_subscriptions'),
            counterClass: "outline",
            count: user.tags.count,
            visible: isPrivate
        }
    ]

]%}

<aside class="sidebar-width account-sidebar">
    <div class="account-sidebar__block">
        {% if activeSection == 'main' or not isPrivate %}
            <div class="user {{ activeSection == 'main' ? 'active' }}" data-account-forward>
        {% else %}
            <a class="user" href="{{ path('cabinet') }}">
        {% endif %}
        
            {# аватар #}
            {% if isPrivate %}
                <form class="user-avatar file-loader" data-action="{{ path('api_change_avatar') }}">
                    <div class="user-avatar__figure">
                        <div class="user-avatar__image" style="background-image: url({{ user.avatar }})" ></div>
                        <label class="avatar-loader" data-loader-dropzone>
                            <div class="ico ico-add-image ico_40"></div>
                            <input type="file" data-loader-input accept="image/*">
                            
                        </label>
                        <div class="avatar-preloader"></div>
                    </div>

                    <div class="file-loader__message" data-loader-message></div>
                </form>
            {% else %}
                <div class="user-avatar">
                    <div class="user-avatar__figure">
                        <div class="user-avatar__image" style="background-image: url({{ user.avatar }})" ></div>
                    </div>
                </div>
            {% endif %}


            <div class="user__name nickname">
                {% set nickname = user.nickname is defined ? user.nickname : user.email %}
                <div class="nickname__view flex-center-middle">
                    <span class="nickname__text" data-content-before="@">{{ nickname }}</span>

                    {% if isPrivate %}
                        <span class="ml-2 ico ico-edit ico_16 color_secondary"></span>
                    {% endif %}
                </div>

                {% if isPrivate %}
                    <form class="nickname__edit hidden">
                        <div class="flex-center-middle" data-content-before="@">
                            <input type="text" class="username" data-origin="{{ nickname }}" value="{{ nickname }}" required min="3">
                            <button type="submit" data-load><span class="ico ico-submit"></span></button>
                        </div>
                        <div class="error fs-1 color_error"></div>
                    </form>
                {% endif %}
            </div>

            <div class="user__data">
                зарегистрирован(а) {{ user.createdAt | date('d.m.Y') }}
            </div>
        {% if activeSection == 'main' or not isPrivate %}
            </div>
        {% else %}
            </a>
        {% endif %}
    </div>

    {% for group in sections %}
        <div class="account-sidebar__block">
            {% for section in group %}
                {% if section.visible %}
                    {% set isActive = activeSection is defined and activeSection == section.name %}

                    {% if  isActive %}
                        <div class="account-section active"
                            data-account-forward
                            data-section="{{ section.name }}">
                    {% else %}
                        <a class="account-section"
                            data-section="{{ section.name }}"
                            href="{{ section.link }}">
                    {% endif %}

                    <span class="account-section__title">
                        {{ section.title }}
                    </span>

                    {# счетчик - выводить только если > 0 #}

                    <span class="account-section__count badge {{ section.counterClass is defined ? 'badge-' ~ section.counterClass : '' }} {{ section.count > 0 ? '' : 'hidden' }}" {{ section.counterAttr is defined ? section.counterAttr }}>{{ section.count }}</span>


                    {% if isActive %}
                        </div>
                    {% else %}
                        </a>
                    {% endif %}
                {% endif %}

            {% endfor %}
        </div>
    {% endfor %}

    {% if isPrivate %}
        <a class="account-sidebar__exit link-reverse" data-item="exit" href="{{ path('logout') }}">
            Выход
        </a>
    {% endif %}
</aside>