<form id="subscribe-settings" class="subscribe-settings form bg_white mobile-full pa-4" method="POST" action="{{ path('api_subscriptions') }}">
    {% include "components/flash.html.twig" %}
    <div class="row flex-wrap ">
        
        {% for tag in tags %}
            {% set checked = app.user and app.user.tags.contains(tag) %}
            <div class="col col-6-sm form__field">
                
                <label class="mr-4 toggler">
                    <input type="checkbox" {{ checked ? "data-checked" : "" }} class="tag-checkbox" {{ checked ? 'checked="checked"' : '' }} name="tags[]" value="{{ tag.id }}"/>
                    <span class="toggler__runner"></span>

                    <div class="toggler__label">{{ tag.name }}</div>
                </label>
                
            </div>
        {% endfor %}
    </div>

    <div class="mt-6 text-center">
        <button class="btn btn-large btn-primary" type="submit" disabled>Сохранить</button>
    </div>
</form>

<script>
    (function() {
        /* активировать кнопку при изменениях */
        let form = document.getElementById('subscribe-settings');
        let checkboxes = Array.from(form.querySelectorAll('.tag-checkbox'));
        let btn = form.querySelector('[type="submit"]');

        let isCheckboxChanged = function(checkbox) {
            return checkbox.checked !== checkbox.hasAttribute('data-checked');
        };

        form.addEventListener('change', function() {
            let isChanged = checkboxes.some(isCheckboxChanged);
            btn.disabled = !isChanged;
        });
    })();
</script>