

.gist-tool {
  position: relative;
  border: 1px solid #e6e6e6;
  padding: 20px;
  margin-top: 1em;
}

.gist-tool__label {
  position: absolute;
  font-size: 0.8em;
  color: #cacaca;
  background: white;
  padding: 5px;
  top: 0;
  left: 10px;
  transform: translateY(-50%);
}

.gist-tool__url {
  margin-bottom: 15px;
  color: #cacaca;
  word-break: break-all;
}

.gist-tool__url .url {
  color: #646464;
}

.gist-tool .cdx-input {

}