{% set isLiked = contains(app.user.id, post.userLikes) %}
{% set isBookmarked = contains(app.user.id, post.userBookmarks) %}

{% set editblockPlace = "feed" %}
{% set editblockType = "post" %}
{% set editblockObject = post %}

{% set isPublished = post.status == constant('App\\Domain\\Post\\Model\\Entity\\Post::PUBLISHED') %}

<article class="post-preview"
         data-id="{{ post.id }}"
         data-post-id="{{ post.id }}"
         data-load-item
         data-delete-item
         data-like-wrapper="post"
         data-bookmark-wrapper="post"
        {{ isLiked ? "data-liked" : "" }}
        {{ isBookmarked ? "data-bookmarked" : "" }}>
    <div class="post-preview__content">
        <div class="post-preview__data secondary-text mb-1 flex-between-middle">
            <div>
                <a class="link-reverse" data-author="data-author"
                   href="{{ post.user == app.user ? path( 'cabinet') : path('foreign_user_profile', {nickname: post.nickname}) }}">
                    {{ post.user ? post.nickname ? (post.nickname)|raw }}</a>
                <span data-date="data-date">{{ post.createdAt | date('d.m.Y') }}</span>
            </div>
            <div>
                {% include "components/editblock.html.twig" %}
            </div>
        </div>

        <a href="{{ path('single_post', {'id': post.id}) }}">
            <h3 class="h3 post-preview__title">{{ post.title }}</h3>
            <div class="post-preview__description">{{ post.preview }}</div>
        </a>

        {% if isPublished or count(post.postTags) > 0 %}
            <footer>
                <div class="tagbar flex-between">
                    <div class="tagbar__block">
                        {% if count(post.postTags) > 0 %}
                            {% set postTags = explode_string(',', post.postTags) %}
                            {% for tag in postTags %}
                                <a class="btn btn-small" href="{{ path('tag_posts', { tag: tag}) }}">{{ tag }}</a>
                            {% endfor %}
                        {% endif %}


                        {% if isPublished %}
                            {% if post.commentsCount is defined %}
                                <a href="{{ path('single_post', {'id': post.id}) }}#comments" class="btn btn-small">
                                    <div class="ico ico-comments ico_12"></div>
                                    <span data-comments="data-comments">{{ post.commentsCount }}</span>
                                </a>
                            {% endif %}

                            <span class="btn btn-small {{ isBookmarked ? 'marked' : ''}}" data-bookmark data-bookmark-mark data-load>
                                <div class="ico ico-bookmark ico_12"></div>
                                <span data-bookmarks="data-bookmarks">{{ count(post.userBookmarks) }}</span>
                            </span>

                            {% if app.user and app.user.id == post.user %}
                                <span class="btn btn-small btn-outline btn-inactive">
                                    <div class="ico ico-like ico_12"></div>
                                    <span>{{ count(post.userLikes) }}</span>
                                </span>
                            {% else %}
                                <span class="btn btn-small {{ isLiked ? 'marked' : ''}}" data-like data-like-mark data-load>
                                    <div class="ico ico-like ico_12"></div>
                                    <span data-likes="data-likes">{{ count(post.userLikes) }}</span>
                                </span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </footer>
        {% endif %}
    </div>
    {% if post.previewImage %}
        <div class="post-preview__image">
            <a href="{{ path('single_post', {'id': post.id}) }}">
                <img class="lazyload" data-src="{{ post.previewImage }}" />
            </a>
        </div>
    {% endif %}
</article>
