<a class="card" href="{{ item.link }}">
    {% if item.previewImage is defined %}
        <div class="card__image">
            <img class="lazyload" data-src="{{ item.previewImage }}">
        </div>
    {% endif %}

    <div class="card__content">
        <div class="card__title" data-title>{{ item.title }}</div>

        {% if item.date is defined %}
            <div class="card__additional" data-date>{{ item.date }}</div>
        {% endif %}

        {% if item.description is defined %}
            <div class="card__description" data-description>{{ item.description }}</div>
        {% endif %}

        {% if item.categories is defined or item.comments is defined or item.bookmarks is defined %}
            <div class="flex-wrap mt-2" data-card-meta>

                {% if item.categories is defined %}
                    <span class="btn btn-outline btn-small btn-inactive">
                        {{ item.categories[0].title }}
                    </span>
                {% endif %}

                {% if item.comments is defined %}
                    <span class="btn btn-outline btn-small btn-inactive" data-comments-tag>
                        <div class="ico ico-comments ico_12"></div>
                        <span class="count">{{ item.comments }}</span>
                    </span>
                {% endif %}

                {% if item.bookmarks is defined %}
                    <span class="btn btn-outline btn-small btn-inactive" data-bookmarks-tag>
                        <div class="ico ico-bookmark ico_12"></div>
                        <span class="count">{{ item.bookmarks }}</span>
                    </span>
                {% endif %}

            </div>
        {% endif %}     

        {% if item.more is defined %}
            <div class="flex-right mt-3" data-more>
                <span class="card__more">Узнать больше</span>
            </div>
        {% endif %}   

    </div>
</a>
