{% set isLiked = contains(app.user.id, test.userLikes) %}
{% set isBookmarked = contains(app.user.id, test.userBookmarks) %}

{% set editblockPlace = "feed" %}
{% set editblockType = "test" %}
{% set editblockObject = test %}

{% set testLink = path('test_start', { slug: test.slug }) %}

<div class="card test-preview"
    data-id="{{ test.id }}"
    data-slug="{{ test.slug }}"
    data-load-item
    data-delete-item
    data-like-wrapper="test"
    data-bookmark-wrapper="test"
    {{ isLiked ? "data-liked" : "" }}
    {{ isBookmarked ? "data-bookmarked" : "" }}>

    <a class="card__image" href="{{ testLink }}">
      
      {% if test.previewImage is defined %}
        <img class="lazyload" data-src="{{ test.previewImage }}">
      {% endif %}

      {% if test.result is defined %}
        <div class="test-preview__result">
          {{ test.result }}
        </div>
      {% endif %}
    </a>
    

    <div class="card__content">
        <div class="flex">

            <a href="{{ testLink }}" class="h3 card__title no-link" data-title>{{ test.title }}</a>

            {% include "components/editblock.html.twig" %}
        </div>

       
        <div class="flex-wrap mt-2" data-card-meta>
             
            {% if count(test.testTags) > 0 %}
                {% set testTags = explode_string(',', test.testTags) %}
                <a class="btn btn-outline-primary btn-small" href="{{ path('tag_posts', { tag: testTags[0] }) }}">
                    {{ testTags[0] }}
                </a>
            {% endif %}

           
            {% if test.commentsCount is defined %}
                <a href="{{ testLink }}#comments" class="btn btn-small">
                    <div class="ico ico-comments ico_12"></div>
                    <span data-comments="data-comments">{{ test.commentsCount }}</span>
                </a>
            {% endif %}

            <span class="btn btn-small {{ isBookmarked ? 'marked' : ''}}" data-bookmark data-bookmark-mark data-load>
                <div class="ico ico-bookmark ico_12"></div>
                <span data-bookmarks="data-bookmarks">{{ count(test.userBookmarks) }}</span>
            </span>

            {% if app.user and test.user is defined and app.user.id == test.user %}
                <span class="btn btn-small btn-outline btn-inactive">
                    <div class="ico ico-like ico_12"></div>
                    <span>{{ count(test.userLikes) }}</span>
                </span>
            {% else %}
                <span class="btn btn-small {{ isLiked ? 'marked' : ''}}" data-like data-like-mark data-load>
                    <div class="ico ico-like ico_12"></div>
                    <span data-likes="data-likes">{{ count(test.userLikes) }}</span>
                </span>
            {% endif %}
            

        </div>
              

    </div>
</div>
