{% set isBookmarked = false %}
{% set vacancyLink = path('vacancy_show', { slug: vacancy.slug }) %}

<div class="vacancy-preview"
    data-id="{{ vacancy.slug }}" 
    data-load-item
    data-delete-item
    data-bookmark-wrapper="vacancy"
    {{ isBookmarked ? "data-bookmarked" : "" }}>
    

    <div class="vacancy-preview__content">

        <div class="vacancy-preview__data secondary-text mb-1 flex-between-middle">
            <div class="flex-middle">
                {% if vacancy.company.image %}
                    <img class="mr-2 lazyload" data-src="{{ vacancy.company.image }}" height="20">
                {% endif %}

                <div class="fgrow-1 mr-4 color_main card__company-name "
                    title="{{ vacancy.company.name }}" >
                       {{ vacancy.company.name }}
                </div>

                <span>{{ vacancy.createdAt|date('d.m') }}</span>
            </div>
             <div>
                {% include "components/editblock.html.twig" %}
            </div>
        </div>
            
        <a href="{{ vacancyLink }}">

            <h3 class="h3 vacancy-preview__title">{{ vacancy.title }}</h3>


            <div class="secondary-text">
                {% if vacancy.workPlace == "remote" %}Удаленка
                {% else %}В офисе{% if vacancy.city%}, {{ vacancy.city }}{% endif %}{% endif %}
            </div>

            
            <div class="vacancy-preview__description mb-2">
                {% if vacancy.salaryFrom or vacancy.salaryTo %}
                    {% if vacancy.salaryFrom %}
                        от <strong class="h3">{{ vacancy.salaryFrom }}</strong> 
                    {% endif %}
                    {% if vacancy.salaryTo %}
                        до <strong class="h3">{{ vacancy.salaryTo }}</strong>
                    {% endif %}
                    RUB
                {% else %}
                    Зарплата на собеседовании
                {% endif %}
            </div>

        </a>
        

        
        <footer >
            <div class="tagbar flex-between">
                <div class="tagbar__block">
                    {% if vacancy.tags|length > 0 %}
                        {% for tag in vacancy.tags %}
                            <a class="btn btn-small" href="{{ path('tag_posts', { tag: tag.name }) }}">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}

                    
                    <span class="btn btn-small {{ isBookmarked ? 'marked' : ''}}" data-bookmark data-bookmark-mark data-load>
                        <div class="ico ico-bookmark ico_12"></div>
                        <span data-bookmarks="data-bookmarks">0</span>
                    </span>
                </div>
            </div>
            
        </footer>
             

    </div>

    {% if vacancy.image %}
        <div href="#" class="vacancy-preview__image">   
            <a href="">
                <img class="lazyload" data-src="{{ vacancy.image }}" />
            </a>
        </div>
    {% endif %}
</div>

