// $breakpointTablet: 64rem; // 1024px
$breakpointTablet: 60rem; // 960px
$breakpointTabletS: 48rem; // 768px
$breakpointMobile: 40rem; // 640px
$breakpointMobileM: 24rem; // 384px
$breakpointMobileS: 20rem; // 320px

$breakpointSidebarAppear: $breakpointTablet;
$breakpointMainmenuShow: $breakpointTablet;
$breakpointFooterChange: $breakpointTablet;
$breakpointFontSizeChange: $breakpointTablet;
$breakpointPostPreviewChange: $breakpointMobile;
$breakpointSubscribeButtonChange: $breakpointMobile;
$breakpointAuthorizationChange: $breakpointMobile;
$breakpointShowElevator: 70rem; // 1120px
$breakpointShareInLine: 48rem; // 768px;