$firmLightVioletColor: #cdcdf0;
$transparentFirmLightVioletColor: transparentize($firmLightVioletColor, 0.8);
$firmLightBlueColor: #378FF6;
$firmDarkBlueColor: #333a4e;
$firmBlackColor: #0b1233;

$addVioletColor: #794dee;
$addGreenColor: #64e890;
$addTurquoiseColor: #50d3b0;
$addPinkColor: #d65086;
$addLilacColor1: #ce00f9;
$addLilacColor2: #b577f7;
$addYellowColor: #f9d375;
$addOrangeColor: #f4a856;
$addAquaColor: #4fcced;
$addBlueColor1: #2946ec;
$addBlueColor2: #253dc7;
$addBlueColor3: #2133a2;
$addBlueColor4: #1f2f90;
$addBlueColor: #0000f9;

$colorGray1: #F5F5F5;
$colorGray2: #B2B2B2;
$colorGray3: #646464;
$colorGray4: #707070;

$colorBlue1: #506990;
$colorBlue2: #4A76A8;
$colorBlue3: #4267B2;
$colorLightBlue1: #EBF3FF;
$colorLightBlue2: #E2E8F0;

$colorGreen: #76DB89;
$colorYellow: #FFED1C;
$colorOrange: #FF9800;
$colorRed: #F74646;
$colorWhite: #FFFFFF;
$colorBlack: #000000;

$bookmarkYellowColor: #ead90d;
$likeRedColor: $colorRed;

$shadowColor: transparentize($colorBlack, 0.84);
$hoverShadowColor: transparentize($colorBlack, 0.64);
$hoverWhiteBg: transparentize($colorWhite, 0.6);

$mainColor: $firmDarkBlueColor;

$errorColor: $colorRed;
$warningColor: $colorOrange;
$infoColor: $mainColor;
$successColor: $colorGreen;
$lightColor: $colorGray1;


/* backgrounds */
$pageBg: $colorGray1;
$footerBg: $firmBlackColor;
$headerBg: $firmBlackColor;

$togglerTrackBg: $colorGray1;
$togglerThumbBg: $colorGray2;
$togglerThumbBgActive: $colorGreen;

$commentBranchCardBg: $transparentFirmLightVioletColor;
$editorAnnotationBg: $transparentFirmLightVioletColor;
$editblockBg: $mainColor;

$defaultButtonsBg: $pageBg;

$maskBg: transparentize($mainColor, 0.6);

$warningBlockBg: #fffaf1;

$fixShareBg: $firmBlackColor;

/* texts */
//$mainTextColor: $colorGray3;
$mainTextColor: $firmDarkBlueColor;
$secondaryTextColor: $colorGray2;
$headerTextColor: $colorWhite;
$footerTextColor: $colorWhite;

$headersColor: $mainColor;
$buttonsColor: $mainColor;
$buttonDisabledColor: $secondaryTextColor;
$buttonInactiveIconsColor: $colorGray2;

$linkColor: $firmLightBlueColor;
$badgeColor: $colorGray2;
$quoteLineColor: $mainColor;
$placeholderColor: transparentize($mainTextColor, 0.3);

$errorCodeColor: $firmLightBlueColor;

/* focus */
$outlineColor: $colorLightBlue2;

/* borders */
$borderColor: $colorGray2;
$dropzoneBorderColor: $borderColor;
$inputBorderColor: $borderColor;

/* socials */
$socialVk: #4A76A8;
$socialFb: #4267B2;
$socialGoogle: #DB4437;
$socialGithub: $colorBlack;
$socialTwitter: #1da1f2;
$socialOdk: #ef820e;
$socialTelegram: #179cde;


/* alert */


$alertSuccessBg: transparentize($colorGreen, 0.8);
$alertSuccessColor: darken($colorGreen, 25%);
$alertErrorBg: transparentize($colorRed, 0.8);
$alertErrorColor: darken($colorRed, 25%);
$alertWarningBg: transparentize($colorOrange, 0.8);
$alertWarningColor: darken($colorOrange, 25%);

$alertBrightSuccessBg: darken($colorGreen, 10%);
$alertBrightSuccessColor: $colorWhite;
$alertBrightErrorBg: darken($colorRed, 10%);
$alertBrightErrorColor: $colorWhite;
$alertBrightWarningBg: $colorOrange;
$alertBrightWarningColor: $colorWhite;

