$shadow: 0px 3px 6px $shadowColor;
$buttonShadow: none;
$popupShadow: none;
$bottomShadow: 0 2px 3px $shadowColor;
$cardShadow: none;
$floatAlertShadow: $shadow;
$hoverShadow: none;
$formShadow: none;
$customSelectHiddenShadow: $shadow;
$rightPartShadow: 3px 3px 3px $shadowColor;
$leftPartShadow: -3px 3px 3px $shadowColor;

$buttonRadius: 5px;
$buttonRadiusSmall: 5px;
$buttonRadiusLarge: 5px;
$popupRadius: 0px;
$cardRadius: 5px;
$inputRadius: 5px;

$pageShadow: 0 0 46px black;
$pageTransform: scale3d(0.9, 0.9, 0.9);
$pageTransformOrigin: 50% 200px 0;

$animationDuration: 400ms;
$menuAnimationDuration: 600ms;
$alertAnimationDuration: 500ms;

$cardGradient: linear-gradient(to right, transparent 10%, rgba(255, 255, 255, 0.8) 30%, white 80%);