
$sidebarWidth: 280px;
$gridGap: 20px;

$maxContentWidth: 730px + $sidebarWidth + 3 * $gridGap;
$footerContentWidth: 540px;

$headerHeight: 55px;

$buttonHeight: 30px;
$buttonHeightSmall: 24px;
$buttonHeightLarge: 40px;

$pagePaddingTop: 30px;
$pagePaddingBottom: 95px;

$headerZIndex: 10;
$menuZIndex: 20;
$subscribeZIndex: 5;
$editorBarZIndex: 9;
$accountSidebarZIndex: 9;
$popupZIndex: 25;
$maskZIndex: 24;
$menuItemZIndex: 6;
$notificationsListZIndex: 5;
$accountBarZIndex: 9;
$elevatorZIndex: 9;
$searchFormZIndex: $menuItemZIndex;
$fixShareZIndex: 9;
$editblockZIndex: 4;
$stickyHeaderZIndex: 4;
$customSelectHiddenZIndex: 5;
$customSelectErrorZIndex: 5;

$editorWidth: 650px;

$popupWidth: 350px;
$popupLargeWidth: 600px;

$userpicSize: 48px;
$userpicSizeSmall: 34px;
$userpicSizeTiny: 24px;

$notificationsListWidth: 500px;
$notificationsListHeight: 300px;

$shadowOffset: 4px;

$searchFieldWidth: $sidebarWidth;