$mainFont: 'PT Sans', sans-serif;
$secondaryFont: 'Futura PT', sans-serif;


/* основной шрифт */
$mainFontSize: 16px;
$mainFontSize-desktop: 16px;

$secondaryFontSize: 14px;

/* кнопки, теги */
$buttonFontSizeNormal: 16px;
$buttonFontSizeSmall: 14px;
$buttonFontSizeLarge: 18px;

$badgeFontSize: 12px;

/* размер иконок */
$iconSizeNormal: 24px;
$iconSizeSmall: 10px;

/* верхнее меню */
$mainMenuFontSize: $mainFontSize;

$mobileMenuFontSize: 16px;
$mobileSubmenuFontSize: 16px;

/* подвал */
$footerFontSize: 15px;

$h1FontSize: 25px;
$h1ContentFontSize: 22px;
$h1FontSize-desktop: 30px;
$h1ContentFontSize-desktop: 27px;
$h2FontSize: 20px;
$h2FontSize-desktop: 25px;
$h3FontSize: 18px;
$h3FontSize-desktop: 20px;
$h4FontSize: 16px;
$h4FontSize-desktop: 18px;

/* превью поста на главной */
$postPreviewTitleFontSize: 22px;
$postPreviewTitleFontSize-desktop: 24px;

/* карточки */
$cardFontSize: 14px;
$cardLineHeight: 1.5;
$cardTitleFontSize: 16px;
$cardFooterFontSize: $cardFontSize;
$commentCardFontSize: 16px;
$commentCardAdditionalFontSize: 14px;
$testPreviewResultFontSize: 50px;
$testPreviewResultFontFamily: $secondaryFont;

/* личный кабинет */
$accountSidebarFontSize: 18px;
$accountUserNameFontSize: 18px;

/* формы */
$formLabelFontSize: 18px;
$inputFontSize: 16px;
$inputHeight: 35px;
$checkboxSize: 14px;
$paymentFormLabelFontSize: 16px;

/* редактор */
$editorFontSize: 16px;

$emptyFontSize: 16px;

$popupFontSize: 20px;

$readableWidth: 730px;


$errorCodeFontSize: 120px;