.new-post {
  [contenteditable="true"][data-placeholder] {
      &:before {
          color: inherit;
          font-weight: inherit;
      }
      &:empty:before {
          content: attr(data-placeholder);
      }
      &:focus {
          outline: none;
        min-height: 1em;
      }
      &:focus:before {
          content: '';
      }
  }

  [data-post-field] {
      .error {
          outline: 2px solid red;
      }
  }

  &__title {
    &:focus {
        min-height: calc(1em);
    }
  }

  &__annotation {
      background-color: $editorAnnotationBg;
      color: $mainColor;
      font-size: 1.1em;
    min-height: 60px;
      
  }

  &__content {
      word-break: break-word;


  }

  &__meta {
      .dropdown {
          &__hidden {
              background: $colorWhite;
              left: -10px;
              min-width: calc(100% + 20px);
              height: auto;
          }
      }

      .items-search {
          &__list {
              max-height: 300px;
              overflow: auto;
              @include scrollbar;
          }
      }
  }

  &__last-saving {
      background-repeat: no-repeat;
      background-position: right 5px center;
      background-size: contain;
      text-align: right;
      margin-bottom: 10px;
      
      .saving & {
          color: transparent;
          @include preloaderBg();
      }
  }

  &__title {
      min-height: 30px;
  }

  &__description {
      min-height: 30px;
  }

  [data-length-checker] {
      position: relative;

      [data-length-field] {
          padding-right: 40px;
      }

      [data-length-counter] {
          position: absolute;
          right: 5px;
          top: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          font-size: $secondaryFontSize;
          color: $secondaryTextColor;
      }
  }
}

.editor {
    
    &__area {
        margin-top: $headerHeight / 2;
        margin-bottom: $headerHeight / 2;
        width: $editorWidth + 160px;
        max-width: 100%;
        padding: 40px 20px;
        background: $colorWhite;
        color: $mainTextColor;
        font-size: $editorFontSize;

        @media screen and (min-width: $breakpointMobile) {
            & {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }

    &-width {
        max-width: $editorWidth;
        margin-left: auto; 
        margin-right: auto;
    }
}