.editor-bar {
  height: $headerHeight;
  background: $colorWhite;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: $shadow;
  z-index: $editorBarZIndex;
  position: relative;

  .container {
      padding-left: $gridGap;
      padding-right: $gridGap;
  }
  

  button {
      outline: none;
  }

  &__action {
    cursor: pointer;
    position: relative;

    &:hover {

        &:before {
            content: attr(data-title);

            position: absolute;
            top: 100%;
            margin-top: 10px;
            left: 50%;
            transform: translateX(-50%);

            padding: 5px;
            background: $colorWhite;
            border-radius: $buttonRadius;
            box-shadow: $shadow;

            white-space: nowrap;

            color: $mainColor;
        }
    }
  }

  .x-editor__save[data-save="saving"] {
    .ico {
        opacity: 0;
    }

    @include preloaderBg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1em;
  }
}