{% set bodyClasses = "single-post-page post-page" %}
{% set postUrl = app.request.getSchemeAndHttpHost() ~ path('single_post', {'id': post.id}) %}
{% set isOutdated = date(post.updatedAt) < date('-2years') %}
{% set postType = 'post' %}

{% extends "layouts/postLayout.html.twig" %}

{% block postStyles %}
    <script src="{{ asset('assets/post/post.min.js') }}" async></script>
{% endblock %}

{% block postContent %}
    {% if (post.isDump == true) %}
        {{ post.renderedContent|codepenParse|parseShortCode|captionParse|autop|raw }}
    {% else %}
        {{ post.preview }}

        {% if post.previewImage %}
            <img src="{{ post.previewImage }}">
        {% endif %}

        {% set content = (post.renderedContent|json_decode) %}
        {% set blocks = content.blocks %}

        {% include "posts/partials/newArticleContent.html.twig" %}
    {% endif %}
{% endblock %}

{% block afterPostContent %}
    {% if needComments %}
        {{ render(controller('App\\Controller\\Post\\PostsController::postComments', {'post': post})) }}
    {% endif %}

    <div class="share-wrapper fix-share">
        {% include "components/share.html.twig" %}
    </div>
{% endblock %}


{% block postScripts %}
    {% if post.brokenLinks %}
    <script>
            window.onReady('strike-links', function() {
                let articleContent = document.querySelector('.post__content');
                let brokenLinks = {{ post.brokenLinks|raw }};
                strikeLinks(articleContent, brokenLinks);
            });
    </script>
        {% endif %}

    <script>
        window.onReady('highlight', () => {
            window.highlight.initBlock(document.querySelector('.post__content'));
            window.highlight.initBlock(document.querySelector('.comments'));
        });
    </script>
{% endblock %}
         


