{% set post = test %}
{% set postType = "test" %}
{% set editblockType = "test" %}
{% set actionType ="test" %}
{% set needComments = false %}

{% extends "layouts/postLayout.html.twig" %}

{% block postStyles %}
    <link rel="stylesheet" href="{{ asset('assets/post/test.min.css') }}">
    <script src="{{ asset('assets/post/test.min.js') }}" async></script>
{% endblock %}

{% block postAuthorInfo %}
{% endblock %}

{% block postContent %}
    {# шаблон пояснения к вопросу #}
    <template id="test-explanation-template">
        <div class="test-view-explanation">
        <div class="test-view-explanation__title">
            <b class="incorrect color_error">Неверно!</b>
            <b class="correct color_success">Верно!</b>
        </div>
        <div class="test-view-explanation__text"></div>
        </div>
    </template>
    
    {# шаблон варианта - текст #}
    <template id="test-variant-text-template">
        <div class="test-view-variant test-view-variant_text">
            <div class="flex-reverse-right">
                <div class="test-view-variant__text" data-variant-text data-variant-button></div>
                <div class="test-view-variant__button" data-variant-button></div>
            </div>
        </div>
    </template>

    {# шаблон варианта - изображение #}
    <template id="test-variant-image-template">
        <div class="test-view-variant test-view-variant_image">
            <div class="flex">
                <div class="test-view-variant__button" data-variant-button></div>
                <div class="test-view-variant__image">
                    <img src="">
                </div>
            </div>
        </div>
    </template>

    {# шаблон варианта - фрагмент кода #}
    <template id="test-variant-code-template">
        <div class="test-view-variant test-view-variant_code">
            <div class="flex-reverse-right">
                <pre class="test-view-variant__code" data-variant-code data-variant-button></pre>
                <div class="test-view-variant__button" data-variant-button></div>
            </div>
        </div>
    </template>

    {{ test.preview }}

    {% if test.previewImage %}
        <img src="{{ test.previewImage }}">
    {% endif %}

    <div class="test-view" data-test-view>

        <div class="test-view__content hidden">
            <div class="test-view__counter">
                <span class="current"></span>/<span class="total"></span>
            </div>

            <div class="test-view__question">
                
            </div>


            <div class="test-view__variants">
                
                
            </div>

            <div class="test-view__question-description"></div>

        

        </div>

        <div class="test-view__button">
            <button class="btn btn-large btn-primary hidden" data-test-check>Проверить</button>
            <button class="btn btn-large btn-primary" data-test-next data-load>Начать тест</button>
        </div>

        <div class="test-view-result hidden">
            <div class="test-view-result__counter">
                <span class="test-view-result__correct"></span>
                из
                <span class="test-view-result__total"></span>
            </div>
            <div class="test-view-result__text"></div>
        </div>

    </div>
{% endblock %}

{% block afterPostContent %}
    {% if needComments %}
        {# {{ render(controller('App\\Controller\\Post\\PostsController::postComments', {'post': post})) }} #}
    {% endif %}
{% endblock %}
        
{% block postScripts %}
    <script>
        try {
            let testId = "{{ test.id }}";

            window.onReady('test-view', function() {
                let testView = new window.TestView({
                    id: testId,
                    next: document.querySelector('[data-test-next]'),
                    container: document.querySelector('.test-view'),
                    question: document.querySelector('.test-view__content'),
                    result: document.querySelector('.test-view-result'),
                    nextMethod: "test_question_next",
                    checkMethod: "test_question_checkAnswer",
                    resultMethod: "test_terminate"
                });
            });
        } catch(e) {
            console.error(e);
        }
    </script>
{% endblock %}