.filters-sidebar {
  margin-bottom: 20px;

  margin-left: -1 * $gridGap;
  margin-right: -1 * $gridGap;
}

.filters-content {
  margin-left: -1 * $gridGap;
  margin-right: -1 * $gridGap;
}

.filters-block {
  position: sticky;
  top: $headerHeight + 20px;
}

@media screen and (min-width: $breakpointMobile) {
  .filters-sidebar {
      margin-right: 0px;
      margin-left: 0px;
  }

  .filters-content {
      margin: 0;
  }
}

@media screen and (min-width: $breakpointSidebarAppear) {
  .filters-row {
      display: flex;
  }

  .filters-sidebar {
      margin-right: 20px;
      width: $sidebarWidth;
      flex-shrink: 0;
  }

  .filters-content {
      flex-grow: 1;
  }
}