.page-footer {
    background-color: $footerBg;
    color: $footerTextColor;
    font-size: $footerFontSize;
    text-align: center;
    

    a {
        color: inherit;
    }

    &__image {
        position: relative;
        margin-top: 30px;
    }

    &__content {
        width: 100%;
        max-width: $footerContentWidth;
        padding-top: 30px;
        padding-bottom: 60px;
        margin-left: auto;
        margin-right: auto;

        p {
            margin-top: 2em;
            margin-bottom: 2em;
        }

        footer {
            margin-top: 4em;
        }
    }

    .link {
        color: inherit;
    }

    .ico {
        color: $colorWhite;
    }

    &__columns {    
        line-height: 2;
        & > div {
            max-width: 300px;
            margin: auto;
        }
    }
}

.subscribe-block {
    position: relative;

    &__input {
        position: absolute;
        left: 0;
        top: 6px;
        width: 0%;
        transition: width $animationDuration;
        z-index: 2;
        color: $mainColor;
        border-radius: $inputRadius;

        .bg_white {
            overflow: hidden;
            width: 100%;
            border-radius: inherit;
        }

        input {
            flex-grow: 1;
            border: 0;
            outline: 0;
            box-shadow: none;
            color: $mainColor;
            padding: 10px 10px 10px 10px;
            margin-right: 10px;

            &::placeholder {
                opacity: 0.6;
            }
        }

        .ico {
            margin-right: 10px;
            cursor: pointer;
            color: inherit;
        }

        .error-message {
            position: absolute;
            top: 100%;
            left: 0;
            line-height: 1.4;
        }

        .opened & {
            width: 100%;
        }
    }
}

@media screen and (min-width: $breakpointFooterChange) {
    .page-footer {
        text-align: left;
        .container {
            display: flex;
            justify-content: center;
        }
        &__image {
            margin-right: 60px;
        }
        &__content {
            margin-left: 0;
            margin-right: 0;
        }
        
        &__columns {
            display: flex;

            & > div {
                margin: 0;
            }

            & > :first-child {
                padding-right: 60px;
                flex-shrink: 0;
            }

            & > :last-child {
                flex-grow: 1;
            }
        }

        
    }
}