.container {
    width: 100%;
    max-width: $maxContentWidth;
    margin-left: auto;
    margin-right: auto;

    padding-left: $gridGap;
    padding-right: $gridGap;
}

.row {
    margin-left: -0.5 * $gridGap;
    margin-right: -0.5 * $gridGap;

    &-flex {
        display: flex;
    }

    @media screen and (min-width: $breakpointMobile) {
        &-flex-md {
            display: flex;
        }
    }

    @media screen and (min-width: $breakpointTablet) {
        &-flex-lg {
            display: flex;
        }
    }
}

.col {
    padding-left: 0.5 * $gridGap;
    padding-right: 0.5 * $gridGap;

    &_auto {
        flex-grow: 1;
    }

    @for $i from 1 to 13 {
        &-#{$i} {
            flex-basis: 100%;
        }

        &-#{$i}-sm {
            flex-basis: $i / 12 * 100%;
            padding-left: 0.5 * $gridGap;
            padding-right: 0.5 * $gridGap;
        }
    }

    @media screen and (min-width: $breakpointMobile) {
        @for $i from 1 to 13 {
            &-#{$i}-md {
                flex-basis: $i / 12 * 100%;
                padding-left: 0.5 * $gridGap;
                padding-right: 0.5 * $gridGap;
            }
        }
    }

    @media screen and (min-width: $breakpointTablet) {
        @for $i from 1 to 13 {
            &-#{$i}-lg {
                flex-basis: $i / 12 * 100%;
                padding-left: 0.5 * $gridGap;
                padding-right: 0.5 * $gridGap;
            }
        }
    }
}




