.page-header {
    background: $headerBg;
    color: $headerTextColor;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    height: $headerHeight;
    z-index: $headerZIndex;

    .container {
        position: relative;
    }

    .container, .row {
        height: 100%;
    }

    .logo {
        margin-right: 10px;
        flex-shrink: 0;
    }

    .tag {
        transition: opacity $animationDuration;
        
        &:hover {
            opacity: 0.5;
        }
    }

    .badge {
        position: absolute;
        font-weight: 700;
        top: 60%;
        right: -8px;
        transition: opacity $animationDuration;
        user-select: none;
    }
}

.main-menu {
    list-style: none;
    font-size: $mainMenuFontSize;

    &__item {
        position: relative;
        z-index: $menuItemZIndex;
        
        .arrow {
            margin-left: 10px;
        }
    }

    &__title {
        color: inherit;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;

        padding: 20px;
        justify-content: center;

        
        cursor: pointer;

        .ico {
            margin-left: 8px;
            transition: transform $animationDuration;
            display: none;
        }

        &:hover {
            background-color: transparentize($color: #fff, $amount: 0.8)
        }
    }

    &__submenu {
        background: $headerBg;
        list-style: none;
        transition: opacity $animationDuration;

        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;

        .main-menu__item {
            margin: 0;
        }

        .main-menu__title {
            padding: 10px;
        }
    }
}

.top-menu {
    &__item {
        margin-right: 15px;
        text-decoration: none;
        position: relative;
        
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        & > .ico {
            transition: opacity $animationDuration;
            cursor: pointer;
        }

        &:hover {
            & > .ico, .count {
                opacity: 0.5;
            }
        }
    }

    &__userpic {
        width: 24px;
        height: 24px;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }

}

.toggle-mainmenu {
    position: relative;
    width: $iconSizeNormal;
    height: $iconSizeNormal;

    margin-left: $iconSizeNormal;
    margin-top: auto;
    margin-bottom: auto;

    transition: opacity $animationDuration;

    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}



@media screen and (min-width: $breakpointMobileM) {
    .page-header {
        .logo {
            margin-right: 30px;
        }
    }
    .top-menu {
        &__item {
            margin-right: 15px;
        }
    }
}



@media screen and (min-width: $breakpointMainmenuShow) {
    .toggle-mainmenu {
        display: none;
    }

    .main-menu {
        display: flex;
        position: relative;
        right: auto;
        overflow: visible;
        background-color: transparent;
        padding: 0;

        &__item {
            margin-right: 10px;

            &:last-of-type {
                margin-right: 0;
            }
        }

        &__title {
            padding: 0 10px;
            justify-content: flex-start;

            .ico {
                display: block;
            }
        }

        &__submenu {
            display: none;
            opacity: 0;
        }

        &__item:hover {
            .main-menu__submenu {
                display: block;
                opacity: 1;
            }
            .main-menu__title {
                .ico {
                    transform: rotate(-180deg);
                }
            }
        }
    }

    body.menu-opened {
        overflow: auto;
    }
}

