.mobile-menu {
    font-size: $mobileMenuFontSize;

    position: fixed;
    left: 0;
    right: 0;
    top: 0; bottom: 0;
    z-index: $menuZIndex;

    transform: translateX(-100%);

    transition: transform $menuAnimationDuration;
    overflow: hidden;
    background-color: $headerBg;
    padding-top: 20px;
    padding-bottom: $headerHeight;

    color: $colorWhite;

    .social {
        padding: 20px;
    }

    &__list {
        list-style: none;
    }

    &__item {
        position: relative;
        
        .arrow {
            margin-left: 10px;
        }
    }

    &__title {
        
        text-decoration: none;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        cursor: pointer;

        .svg-icon {
            stroke: $colorWhite;
        }

        &:hover {
            background-color: transparentize($color: #fff, $amount: 0.8)
        }
    }

    &__link {
        flex-grow: 1;
        color: inherit;
        padding: 10px 0;
        text-decoration: none;
    }

    &__parent {
        .menu-opener {
            transform: rotate(-90deg);
            transition: transform $animationDuration;
            transform-origin: center;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &.opened {
            .menu-opener {
                transform: rotate(0deg);
            }
        }
    }

    &__submenu {
        display: none;

        background: $headerBg;
        list-style: none;
        transition: opacity $animationDuration;

        font-size: $mobileSubmenuFontSize;
        font-weight: 400;

        .mobile-menu__link {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    &__close {
        opacity: 0;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;

        cursor: pointer;
        .svg-icon {
            
            transition: opacity $menuAnimationDuration;
        }
    }

    .svg-icon {
        fill: $colorWhite;
        stroke: $colorWhite;
    }
}

.page {
    transform-origin: $pageTransformOrigin;
    transition: transform $menuAnimationDuration;
}

body.menu-opened {
    .page {
        position: fixed;
        left: 0; right: 0;
        transform: $pageTransform;
        box-shadow: $pageShadow;
    }

    .mobile-menu {
        transform: translateX(0);
        overflow: auto;

        &__close {
            opacity: 1;
        }
    }
}