@mixin mobile-full() {
    margin-left: -1 * $gridGap;
    margin-right: -1 * $gridGap;

    @media screen and (min-width: $breakpointMobile) {
        & {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@mixin tablet-full() {
    margin-left: -1 * $gridGap;
    margin-right: -1 * $gridGap;

    @media screen and (min-width: $breakpointTablet) {
        & {
            margin-left: 0;
            margin-right: 0;
        }
    }
}


@mixin correct-display() {
    display: block;
    &[class *= 'flex'] {
        display: flex;
    }
}

@mixin item-margin-right($margin: 10px) {
    margin-right: $margin;

    &:last-child {
        margin-right: 0;
    }
}

@mixin item-margin-left($margin: 10px) {
    margin-left: $margin;

    &:last-child {
        margin-left: 0;
    }
}

@mixin toggle-block() {
    position: relative; 
    &__title {
        cursor: pointer;

        .ico {
            transition: transform $animationDuration;
        }

        .opened & {
            .ico {
                transform: rotate(-180deg);
            }
        }
    }
  
    &__hidden {
        display: none;
  
        .opened & {
            @include correct-display();
        }
    }

  }

@mixin article-full {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: $breakpointMobile) {
        & {
            margin-left: -40px;
            margin-right: -40px;
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}