* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    padding-top: $headerHeight;
    
    &-content {
        flex-grow: 1;
        min-height: calc(100vh - 55px);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &-padding {
        padding-top: $pagePaddingTop;
        padding-bottom: $pagePaddingBottom;
    }

    &-main {
        width: 100%;
    }

    &-sidebar {
        flex-shrink: 0;
    }

    main {
        margin-left: $gridGap;
        margin-right: $gridGap;
    }

    .mobile-full {
        @include mobile-full;
    }

    .tablet-full {
        @include tablet-full;
    }
}

@media screen and (min-width: $breakpointTablet) {
    .page {
        .container {
            padding-left: $gridGap;
            padding-right: $gridGap;
        }

        main {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@media screen and (min-width: $breakpointSidebarAppear) {
    .page {
        &-content {
            overflow: visible;
        }
        &-main {
            width: calc(100% - 300px);
        }
    }
    .sidebar-width {
        width: $sidebarWidth;
        flex-shrink: 0;
    }
}