
img {
  max-width: 100%;
}

.sidebar {
  .nav-dropdown-items {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .nav-link, .nav-dropdown.open .nav-link {
    background: transparent;
    &.active {
      color: #20a8d8; 
      background: inherit;
    }
    &:hover {
      color: white;
      background-color: black;
    }
  }
}

.waiting-confirm {
  font-size: 0;
  &:before {
    content: "Подтвердите действие";
    font-size: 0.875rem;
  }
}

.x-editor .form-control {
  height: auto;
  word-break: break-word;
}