.test {
  &__questions {
    counter-reset: previews;
  }
  
  &-question-preview {
    counter-increment: previews;

    cursor: grab;

    &.error {
      background: var(--warning);
    }

    .btn {
      margin-left: 10px;
    }

    &__text {
      white-space: nowrap;
      height: 1.2em;
      line-height: 1.2;
      overflow: hidden;
      text-overflow: ellipsis;

      &:before {
        
        content: "Вопрос " counter(previews) ": ";
        font-weight: bold;
      }
    }

    
  }

  &-result-preview {
    &.error {
      background: var(--warning);
    }

    .btn {
      margin-left: 10px;
    }

    &__text {
      white-space: nowrap;
      height: 1.2em;
      line-height: 1.2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-result-range {
    &__input {
      width: 50px;
      padding-right: 2px;
      padding-left: 4px;
    }
  }

  &-question {
    
    &__create-variant {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    &__controls {
      margin-top: 20px;
    }

    &__title, &__description {
      padding-left: 50px;
      padding-right: 50px;
    }

    
  }

  &-result {

    &__controls {
      margin-top: 20px;
    }

    &__title {
      padding-left: 50px;
      padding-right: 50px;
    }

    
  }

  .codex-editor {
    &__redactor {
      padding-bottom: 50px!important;
    }
    .ce-block__content, .ce-toolbar__content {
      max-width: none;
      padding-right: 50px;
    }
  }

  &-variant {
    padding: 0.5rem 0;
    &_image-type {
      padding: 1rem 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__code {
      width: 100%;
      min-height: 10em;
      resize: vertical;
      background: black;
      color: white;
      font-family: monospace;
      padding: 10px;
    }
  }
}