{% extends 'admin/adminLayout.html.twig' %}

{% set breadcrumbs = [
    {
        title: 'Пользователи'
    }
]%}

{% block adminContent %}
    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">{{ form_widget(form.email) }}</div>
                <div class="col-md-2">{{ form_widget(form.role) }}</div>
                <div class="col-md-2">{{ form_widget(form.network) }}</div>
                <div class="col-md-2">{{ form_widget(form.status) }}</div>
                    <button type="submit" class="btn btn-primary" style="margin-right: 10px">Фильтровать</button>
                    <a href="{{ path('admin_users_all') }}" class="btn btn-outline-secondary">
                        Сбросить
                    </a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="box">
        <table class="table table-bordered bg-white">
            <thead class="thead-dark">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Почта', 'email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Роль', 'role') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Социальная сеть', 'network') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Статус', 'status') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr>
                    <td><a href="{{ path('admin_users_user_show', {email: user.email}) }}">{{ user.email }}</a></td>
                    <td>{{ user_role(user.role) }}</td>
                    <td>{{ user.network }}</td>
                    <td>{{ user_status(user.status) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}