{% extends 'admin/adminLayout.html.twig' %}

{% set breadcrumbs = [
    {
        link: path('admin_users_all'),
        title: 'Пользователи',
    }, {
        link: path('admin_users_user_show', {email: user.email}),
        title: user.email
    }, {
        title: 'Редактирование'
    }
]%}

{% block adminContent %}
    {% include 'components/flash.html.twig' %}
    <div class="card" style="margin: 20px">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
