{% extends 'admin/adminLayout.html.twig' %}


{% set breadcrumbs = [
    {
        link: path('admin_users_all'),
        title: 'Пользователи',
    }, {
        title: user.email
    }
]%}

{% block adminContent %}

    {% include 'components/flash.html.twig' %}

    <div class="controls" style="margin-bottom: 10px">
        <a href="{{ path('admin_users_user_role', {email: user.email}) }}" class="btn btn-primary">Поменять роль</a>
        <a href="{{ path('admin_users_user_assign', {email: user.email}) }}" class="btn btn-primary">Сделать автором</a>
        {% if user.status == 'Blocked' %}
            <div class="form-group col-xs-6" style="float: left; margin-right: 10px">
                <form action="{{ path('admin_users_user_unblock', {email: user.email}) }}" method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('unblock') }}" />
                    <button type="submit" class="btn btn-success">Разблокировать</button>
                </form>
            </div>
        {% elseif user.status != 'Blocked' %}
            <div class="form-group col-xs-6" style="float: left; margin-right: 10px">
                <form action="{{ path('admin_users_user_block', {email: user.email}) }}" method="post" onsubmit="return confirm('Вы уверены?')">
                    <input type="hidden" name="token" value="{{ csrf_token('block') }}" />
                    <button type="submit" class="btn btn-danger">Заблокировать</button>
                </form>
            </div>
        {% endif %}
    </div>

    <div class="box">
        <table class="table table-bordered bg-white">
            <tbody>
            <tr>
                <th>Имя</th>
                <td>{{ user.nickname }}</td>
            </tr>
            <tr>
                <th>Почта</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Роль</th>
                <td>{{ user_role(user.role) }}</td>
            </tr>
            <tr>
                <th>Количество публикаций</th>
                <td>{{ user.posts.count }}</td>
            </tr>
            <tr>
                <th>Привязанные соц. сети</th>
                <td>
                    {% for network in user.networks %}
                        <li class="badge badge-warning">{{ network.network }}</li>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Подписан на теги</th>
                <td>
                    {% for tag in user.tags %}
                        <li class="badge badge-success">{{ tag.name }}</li>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Статус</th>
                <td>{{ user_status(user.status) }}</td>
            </tr>
            <tr>
                <th>Город</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Дата регистрации</th>
                <td>{{ user.createdAt|date("m-d-Y") }}</td>
            </tr>
            <tr>
                <th>Дата обновления аккаунта</th>
                <td>{{ user.updatedAt|date("m-d-Y") }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}