{#{% set postLink = path('single_post', { id: item.post.id }) %}#}
{% set commentText = item.comment|striptags %}

<article class="comment">
    <header class="comment__header flex-middle">
        <a class="userpic userpic_tiny no-link" 
            href="{{ item.user == app.user ? path( 'cabinet') : path('foreign_user_profile', {nickname: item.user.nickname}) }}"
            style="background-image: url({{ item.user.avatar }});"></a>
        <div class="comment__data">
            <a class="comment__user link-reverse" 
                href="{{ item.user == app.user ? path( 'cabinet') : path('foreign_user_profile', {nickname: item.user.nickname}) }}">
                    {{ item.user.nickname ? item.user.nickname : item.user.email }}
                </a>
            <div class="comment__meta">{{ item.updatedAt|date('d-m-y') }}</div>
        </div>
    </header>
    <div class="comment__content">
{#        <a class="link-reverse color_main" href="{{ postLink }}#comment-{{ item.id }}">#}
            {% if commentText|length %}
                {{ commentText|slice(0, 70) }}{{ commentText|length > 70 ? '...' : '' }}
            {% elseif item.images|json_decode|length %}
                [изображение]
            {% endif %}
        </a>
    </div>
    <footer class="comment__footer">
{#        <a class="link color_main" href="{{ postLink }}">{{ item.post.title }}</a>#}
    </footer>
</article>