<form id="{{ commentsFormId is defined ? commentsFormId : ''}}" class="comments-form file-loader mv-4" method="POST"
    data-action=""
    data-post-id="{{ post is defined ? post.id : '' }}"  
    data-file-loader data-multiple data-max="2097152" data-max-count="10">
    <div class="comments-form__content file-loader__dropzone" data-loader-dropzone>

        <div class="comments-form__workarea">
            <textarea class="comments-form__field" name="comment-content" placeholder="Оставить комментарий (можно использовать markdown)" 
                data-loader-content data-load-method="comment_image_from_url_upload"></textarea>
            <div class="comments-form__preview file-loader__preview" data-loader-preview></div>
            <div class="comments-form__message file-loader__message" data-loader-message></div>
            <label class="comments-form__clip">
                <div class="ico ico-add-image"></div>
                <input type="file" data-loader-input multiple name="commentFiles[]" accept="image/*" />
            </label>
            <div class="preloader hidden"></div>
            <label class="comments-form__submit">
                <div class="ico ico-submit"></div>
                <input type="submit"/>
            </label>
        </div>
        <div class="comments-form__service">
            
            <div class="comments-form__help link-reverse">
                Что такое markdown?
                <div class="ico ico-arrow-down"></div>
            </div>
        </div>
    </div>
    <footer class="secondary-text">
        <div class="comments-form__parent pt-1 pl-4">
            <input type="hidden" name="location" value="{{ commentsLocation }}">
            <input type="hidden" name="parentId" value="">
        </div>
        <div class="link-reverse comments-form__cancel-edit  pt-1 pl-4">Отменить редактирование</div>
    </footer>
</form>