{% set isLiked = comment.userLikes.contains(app.user) %}
{% set isBookmarked = comment.userBookmarks.contains(app.user) %}

{% set commentFromPostAuthor = post is defined ? comment.user.id == post.user.id  %}

{% if app.user and app.user.id == comment.user.id %}
    {% set isCommentAuthor = true %}
{% else %}
    {% set isCommentAuthor = false %}
{% endif %}

{% set commentShowPost = true %}
{% set commentShowChildren = false %}
{% set commentShowActions = false %}

{% set editblockPlace = "comment" %}
{% set editblockType = "comment" %}
{% set editblockObject = comment %}

{% if location == "post" %}
    {% set commentShowPost = false %}
    {% set commentShowChildren = true %}
    {% set commentShowActions = true %}
{% endif %} 

<div class="comments-branch" 
    data-comment-branch  
    id="{{ 'comment-' ~ comment.id.value }}"
    data-id="{{ comment.id }}"
     {{ comment.children is defined and comment.children is not empty ? 'data-has-children' }} 
    data-load-item>

    {% if commentShowPost %}
        <div class="pa-2 fs-1">
            <a class="link" href="{{ path('single_post', {'id': comment.post.id}) }}">Статья: {{ comment.post.title }}</a>
        </div>
    {% endif %}
    
                        
    <div class="block comment-block comment {{ commentFromPostAuthor ? 'highlighted' : '' }} {{ comment.status == 'EDITED' ? 'edited' : '' }}" 
        data-comment 
        data-id="{{ comment.id.value }}"
        data-like-wrapper="comment"
        data-bookmark-wrapper="comment"
        {{ isLiked ? 'data-liked' : '' }}
        {{ isBookmarked ? 'data-bookmarked' : '' }}
        data-post-id="{{ comment.post.id }}">

        <div class="comment-block__content">
            <div class="comment-block__header">
                <header class="flex-middle">
                    <a class="userpic no-link" data-userpic="{{ comment.user.avatar }}"
                        href="{{ comment.user == app.user ? path( 'cabinet') : path('foreign_user_profile', {nickname: comment.user.nickname}) }}">
                        <img src="{{ comment.user.avatar }}">
                    </a>
                    
                    <div>
                        <a class="comment__user link-reverse" 
                        href="{{ comment.user == app.user ? path( 'cabinet') : path('foreign_user_profile', {nickname: comment.user.nickname}) }}">
                            {{ comment.user.userName }}
                        </a>
                        <div class="comment__meta">
                            {% set parentLink = parentComment is defined ? parentComment : false %}

                            <span class="main-comment-h">
                                ответил на
                                <a class="link-reverse" href="{{ parentLink ? '#comment-' ~ parentLink : ''}}" data-parent-id={{ parentLink }}>комментарий</a>
                            </span> 
                        
                            <span class="main-comment-s">
                                оставил(а)
                                <a class="link-reverse" href="{{ '#comment-' ~ comment.id.value }}" data-comment-id={{ comment.id.value }}>комментарий</a>
                            </span>
                            
                            <span class="comment__date">{{ comment.createdAt | date('d.m.Y') }}</span>
                        </div>
                    </div>
                </header>
            </div>

            <div class="comment-block__text" >
                <div class="comment-block__comment-text" data-comment-text>
                    {{ comment.comment|html_purify|raw }}
                </div>

                <div class="comment-block__images flex-wrap">
                    {% if comment.images %}
                        {% set images = comment.images|json_decode %}
                        {% for img in images %}
                            <div class="comment-block__image">
                                <img data-src="{{ img }}" class="lazyload">
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="comment-block__edited">
                    изменено <span class="comment__edit-date">{{ comment.updatedAt | date('d.m.Y') }}</span>
                </div>
                
            </div>

            
        </div>

        <footer class="comment-block__footer block__offset flex-between-middle-wrap">
            <div class="mr-1">
                {% if commentShowActions %}

                    <span class="link-reverse color_base mr-2" data-comment-reply>Ответить</span>

                    &nbsp;
                {% endif %}

                
                {% include "components/editblock.html.twig" %}
            </div>

            <div>
                {% if isCommentAuthor %}
                    <span class="btn btn-small btn-outline btn-inactive">
                        <div class="ico ico-like ico_12"></div>
                        <span>{{  comment.userLikes.count() }}</span>
                    </span>
                    
                {% else %}
                    <span class="btn btn-small btn-outline-primary {{ isLiked ? 'marked' : '' }}" data-like data-like-mark>
                        <div class="ico ico-like ico_12"></div>
                        <span data-likes>{{  comment.userLikes.count() }}</span>
                    </span>
                     
                {% endif %}

                <span class="btn btn-small btn-outline-primary {{ isBookmarked ? 'marked' : '' }}" data-bookmark data-bookmark-mark> 
                    <div class="ico ico-bookmark ico_12"></div>
                    <span data-bookmarks>{{ comment.userBookmarks.count() }}</span>
                </span>
            </div>

        </footer>
    </div>

    {# это блок должен быть у шаблона комментария (даже если comment == false) #}
    {% if commentShowChildren is defined and commentShowChildren %}
        <div class="comments-branch__toggle opened" data-toggle-block data-toggle-slide data-toggle-inside data-opened>
            <div class="comments-branch__fold" data-toggle-toggle>
                <span data-toggle-show>Скрыть</span><span data-toggle-hide>Показать</span> дочерние комментарии <span class="ico ico-arrow-down ico_20"></span>
            </div>
            <div class="comments-branch__children" data-toggle-hidden>  
                {% if comment.children is defined and comment.children is not empty %}
                    {% set parentComment = comment.id.value %}
                    {% for comment in comment.children %}
                        {% include 'components/comments/comment.html.twig' %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>