{% set mdElements = {
"bold": {
    "title": "Жирный текст",
    "content": "**bold text**"
},
"emphasis": {
    "title": "Курсив",
    "content": "*cursive text*"
},
"link": {
    "title": "Ссылки",
    "content": "[текст](ссылка)"
},
"code": {
    "title": "Код",
    "content": "`const a = 42;`"
},
"pre": {
    "title": "Блок кода",
    "content": "```" ~ "\n" ~
                "$message = \"Hello\";" ~ "\n" ~
                "echo $message;" ~ "\n" ~
                "```"
},
"strike": {
    "title": "Зачеркнутый текст",
    "content": "~~strikethrough~~"
},
"tables": {
    "title": "Таблицы",
    "content": "header 1 | header 2" ~ "\n" ~
                "-------- | -------- " ~ "\n" ~
                "cell 1.1 | cell 1.2" ~ "\n" ~
                "cell 2.1 | cell 2.2 " 
},
"ordered-list": {
    "title": "Нумерованный список",
    "content": "1. item 1" ~ "\n" ~
                "2. item 2" ~ "\n" ~
                "    1. item 2.1"
},
"unordered-list": {
    "title": "Маркированный список",
    "content": "- item 1" ~ "\n" ~
                "- item 2" ~ "\n" ~
                "    - item 2.1"
}
} %}

{% set mdElementsOrder = [
    ["bold", "emphasis"],
    ["link", "strike"],
    ["code"],

    ["pre"],
    ["unordered-list"],
    ["ordered-list"]
]%}


<section class="markdown-help hidden">
    <div class="row flex-wrap">
        {% for group in mdElementsOrder %}
            <div class="col col-4-lg col-6-md col-12-sm">
                {% for el in group %}
                    {% set element = mdElements[el] %}
                    
                    <h4>{{ element.title }}</h4>
                    <div>
                        <pre>{{ element.content }}</pre>
                    </div>
                    <br>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>
