{% set activeSection = "bookmarks" %}

{% set meta = {
    title: 'Закладки пользователя ' ~ app.user.nickname,
    postfix: true
}%}

{% extends "layouts/accountLayout.html.twig" %}

{% block accountStyles %}
    <link rel="stylesheet" href="{{ asset('assets/feed/feed.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/comments/comments.min.css') }}">
    <script src="{{ asset('assets/feed/feed.min.js') }}" async></script>
    <script src="{{ asset('assets/comments/comments.min.js') }}" async></script>
{% endblock %}

{% block content %}
    {% set commentsLocation = "feed" %}
    {% include "components/comments/commentFormTemplate.html.twig" %}
    {% include "components/comments/markdownHelp.html.twig" %}

    <h1>Закладки</h1>
    <section class="feed">
        {# фильтры #}
            <div class="filters filters_type" data-filters>
                <div class="btn btn-outline-primary filters__item active" data-filters-item data-value="publications">Публикации</div>
                <div class="btn btn-outline-primary filters__item" data-filters-item data-value="comments">Комментарии</div>
            </div>
        {# /фильтры #}
        {# лента тегов #}
            {# {% if tags is defined %}
                {% include('components/tags.html.twig') %}
            {% endif %} #}
        {# /лента тегов #}
        <div class="feed__posts mobile-full" data-load-wrapper>
            <div class="posts" data-load-container>
                {% if posts is defined and posts|length > 0 %}
                    {% include "components/feeds/feed.html.twig" %}
                {% else %}
                    <div class="empty"><a href="{{ path('proglib_app') }}">Добавьте</a> что-нибудь в закладки</div>
                {% endif %}
            </div>
            {# load more #}
                <div class="flex-center">
                    <button class="btn btn-primary load-more mv-1 {{ remainingPages > 0 ? '' : 'hidden' }}">
                            Загрузить ещё
                    </button>
                </div>
            {# /load more #}

        </div>{# .feed__posts #}

    </section>{# .feed #}

{% endblock %}

{% block scripts %}
    <script>
        window.onReady('feed', function() {
            let typeFilters = new Filters(document.querySelector('.filters_type'), 'type');
            let feed = new Feed({
                filters: [typeFilters],
                method: 'user_bookmarks_fetch',
                getEmptyMessage: function(filters) {
                    return '<a href="{{ path('proglib_app') }}">Добавьте</a> что-нибудь в закладки';
                    
                }
            })
        });
    </script>
{% endblock %}