{% set activeSection = "comments" %}
{% set isPrivate = false %}

{% set meta = {
    title: 'Комментарии пользователя ' ~ app.user.nickname,
    postfix: true
}%}

{% extends "layouts/accountLayout.html.twig" %}

{% block accountStyles %}
    <link rel="stylesheet" href="{{ asset('assets/comments/comments.min.css') }}">
    <script src="{{ asset('assets/comments/comments.min.js') }}" async></script>

    <link rel="stylesheet" href="{{ asset('assets/services/highlight/highlight.min.css') }}">
    <script src="{{ asset('assets/services/highlight/highlight.min.js') }}" async></script>
{% endblock %}

{% block content %}
    {% set commentsLocation = "feed" %}
    {% include "components/comments/commentFormTemplate.html.twig" %}
    {% include "components/comments/markdownHelp.html.twig" %}

    <h1>Комментарии</h1>
    <div class="feed">
        {% if comments is defined and comments|length > 0 %}

            {# фильтры #}
                <div class="filters filters_sort" data-filters>
                    <div class="btn btn-outline-primary filters__item active" data-filters-item data-value="latest">По порядку</div>
                    <div class="btn btn-outline-primary filters__item" data-filters-item data-value="popular">Популярные</div>
                </div>

                
                <div class="filters filters_time" data-filters>
                    <div class="btn btn-outline-primary filters__item active tag_hover" data-filters-item data-value="for_all_the_time">За все время</div>
                    <div class="btn btn-outline-primary filters__item tag_hover" data-filters-item data-value="last_week">За неделю</div>
                    <div class="btn btn-outline-primary filters__item tag_hover" data-filters-item data-value="last_month">За месяц</div>
                    <div class="btn btn-outline-primary filters__item tag_hover" data-filters-item data-value="last_year">За год</div>
                </div>
                
            {# /фильтры #}
        {% endif %}

        <div class="feed__posts mobile-full" data-load-wrapper>
            <div class="mt-1 mb-4 comments__branches" data-load-container>
                {% if comments is defined and comments|length > 0 %}
                    {% include "components/feeds/commentsFeed.html.twig" %}
                {% else %}
                    <div class="empty"><a href="{{ path('proglib_app') }}">Прокомментируйте</a> что-нибудь</div>
                {% endif %}
            </div>
            {# load more #}
                <div class="flex-center">
                    <button class="btn btn-primary btn-large load-more mv-1 {{ remainingPages > 0 ? '' : 'hidden' }}">
                        Загрузить ещё
                    </button>
                </div>
            {# /load more #}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    
    
    {% if comments is defined and comments|length > 0 %}
        <link rel="stylesheet" href="{{ asset('assets/feed/feed.min.css') }}">
        <script src="{{ asset('assets/feed/feed.min.js') }}" async></script>
        <script>
            window.onReady('feed', function() {
                let filters = [];
                let sortFilters = document.querySelector('.filters_sort');
                if (sortFilters) {
                    filters.push(new Filters(sortFilters, 'orderByStatus'));
                }
                let timeFilters = document.querySelector('.filters_time');
                if (timeFilters) {
                    filters.push(new Filters(timeFilters, 'orderByDate'));
                }

                let method = "user_foreign_comments_fetch";
                {% if isPrivate %}
                    method = "user_comments_fetch";
                {% endif %}

                let request = {{ request is defined ? request|json_encode|raw : 'null' }};
                
                let feed = new Feed({
                    filters: filters,
                    method: method,
                    request: request,
                    getEmptyMessage: function(filters) {
                        let message = "Нет комментариев";
                        {% if isPrivate %}
                            message = "<a href='{{ path('proglib_app') }}'>Прокомментируйте</a> что-нибудь";
                        {% endif %}
                        return message;
                    }
                })
            });

            window.onReady('highlight', function() {
                let comments = document.querySelector('.comments__branches');
                window.highlight.initBlock(comments);

                document.body.addEventListener('feed.events.update', function() {
                    window.highlight.initBlock(comments);
                })
            });
        </script>
    {% endif %}
{% endblock %}