{% set activeSection = "" %}

{% set meta = {
    title: 'Пользователь ' ~ app.user.nickname,
    postfix: true
}%}


{% extends "layouts/accountLayout.html.twig" %}

{% block content %}
    
    <section class="feed">
      <div class="empty">
        Юзер вообще обнаглел! Сидит тут и ничего не делает. Попинайте его дружно.
      </div>        
    </section>{# .feed #}

{% endblock %}