{% set activeSection = "main" %}

{% set meta = {
    title: 'Настройки профиля ' ~ app.user.nickname,
    postfix: true
}%}

{% extends "layouts/accountLayout.html.twig" %}

{% block content %}

{% set socialLinks = {
    "vk": {
        "account": "Vk",
        "network": "Vk",
        "label": "vk",
        "id": null,
        "attachLink": path('vk_attach'),
        "detachMethod": "vk_detach",
        "title": "Вконтакте"
    },
    "fb": {
        "account": "Facebook",
        "network": "facebook",
        "label": "fb",
        "id": null,
        "attachLink": path('facebook_attach'),
        "detachMethod": "facebook_detach",
        "title": "Facebook"
    },
    "google": {
        "account": "Google",
        "network": "google",
        "label": "google",
        "id": null,
        "attachLink": path('google_attach'),
        "detachMethod": "google_detach",
        "title": "Google"
    },
    "github": {
        "account": "Github",
        "network": "github",
        "label": "github",
        "id": null,
        "attachLink": path('github_attach'),
        "detachMethod": "github_detach",
        "title": "Github"
    }
}%}


{% for network in networks %}
    {% if network.network == socialLinks.vk.network %}
        {% set vk = socialLinks.vk|merge({ "id": network.clientId }) %}
        {% set socialLinks = socialLinks|merge({ "vk": vk }) %}
    {% elseif network.network == socialLinks.fb.network %}
        {% set fb = socialLinks.fb|merge({ "id": network.clientId }) %}
        {% set socialLinks = socialLinks|merge({ "fb": fb }) %}
    {% elseif network.network == socialLinks.google.network %}
        {% set google = socialLinks.google|merge({ "id": network.clientId }) %}
        {% set socialLinks = socialLinks|merge({ "google": google }) %}
    {% elseif network.network == socialLinks.github.network %}
        {% set github = socialLinks.github|merge({ "id": network.clientId }) %}
        {% set socialLinks = socialLinks|merge({ "github": github }) %}
    {% endif %}
{% endfor %}

<h1>Настройки</h1>

<div class="bg-block mobile-full">
    {% include "components/flash.html.twig" %}

    <form id="user-form" data-validate class="user-form form" action="{{ path('user_cabinet_edit') }}" method="POST">
        <div class="form__field">
            <div class=" form__label">Имя</div>
                <input type="text" class="form__input form__input_full"
                    data-mutable min="3" max="100"
                    name="user-name" placeholder="Как к вам обращаться?"
                    data-value="{{ user.name }}"
                    value="{{ user.name }}"  >
        </div>

        <div class="form__field">
            <div class=" form__label">E-mail</div>
                <input type="email" class="form__input form__input_full"
                    data-mutable
                    name="user-mail" placeholder="Куда вам писать?"
                    data-value="{{ user.email }}"
                    value="{{ user.email }}"  >
        </div>

        <div class="form__field">
            <div class="form__label with-suggestions">Город</div>
                <input type="text" class="form__input form__input_full"
                    data-mutable data-city-field
                    name="user-city" placeholder="Где вы живете?"
                    data-value="{{ user.city }}"
                    value="{{ user.city }}" >
        </div>

        <div class="flex-wrap">

            <div class="form__field fgrow-1 mr-4">
                <div class="form__label">Связанные аккаунты</div>
                <div class="social-links">
                    <div class="flex-wrap">
                        {% for soc in socialLinks %}
                            <div class="social-links__item mb-1 btn {{ soc.id ? 'active' : '' }}"
                                {{ soc.id and networks.count() > 1 ? 'data-can-unlink' : '' }}
                                data-social-id="{{ soc.id }}"
                                data-social="{{ soc.label }}"
                                data-detach="{{ soc.detachMethod }}"
                                onclick={{ soc.id ? "javascript:void(0)" : "window.location.href='" ~ soc.attachLink ~ "'" }}

                                data-title="{{ soc.title }}">

                                <div class="ico ico-{{ soc.label }} ico_16"></div>

                                <div class="ml-5 soc-unlink ico ico-close ico_12"></div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="hidden color_error social-links__error mt-2">

                    </div>
                </div>

            </div>

        </div>

        <div class="form__field">
            <div class="form__label">Резюме</div>

            {# если есть резюме поставить атрибут data-show #}
            <div class="user-resume" {{ user.resume is defined and user.resume ? "data-loaded" : "" }}>

                {# если нет - загрузить #}
                <div class="user-resume__load">
                    <div class="file-loader resume-loader" data-loader data-loader-docs data-without-preview data-action="{{ path('api_user_resume_upload') }}" data-field-name="file" data-max="5242880">
                        <div class="flex-middle">
                            <label class="btn btn-primary loader-button">
                                Загрузить
                                <input type="file" accept="application/msword,application/pdf" name="user-resume" class="hidden" data-value="" data-loader-input>
                            </label>
                            <div class="file-loader__empty" data-loader-status>Файл не выбран</div>
                        </div>
                        <div class="color_error hidden pt-2" data-loader-message></div>
                    </div>
                </div>

                {# если есть, посмотреть/удалить #}
                <div class="user-resume__edit">
                    <a class="btn btn-primary" data-resume-url href="{{ user.resume }}" target="_blank">Посмотреть</a>
                    <button class="btn btn-outline-primary loader-button" id="delete-resume">
                        Удалить
                    </button>
                    <span class="color_error delete-error" onclick="this.textContent = ''"></span>
                </div>

            </div>
        </div>

        <div class="form__field">
            <div class="form__label">
                <div class="mb-2">
                    Push-уведомления
                    <label class="ml-4 toggler">
                        <input type="checkbox" {{ user.isSubscribeForPush ? 'checked="checked"' : '' }} name="push-notifications-toggle"/>
                        <span class="toggler__runner"></span>
                    </label>
                </div>

                <div class="mb-2">
                    Подписка на персональную
                    <span class="nowrap">
                        email&#8209;рассылку
                        <label class="ml-4 toggler">
                            <input type="checkbox" {{ user.isSubscribeForNotifications ? 'checked="checked"' : '' }} name="user-subscribes" />
                            <span class="toggler__runner"></span>
                        </label>
                    </span>
                </div>
            </div>

        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-large btn-primary" disabled>Сохранить</button>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
    <script>
        (function() {
            let resumeBlock = document.querySelector(".user-resume");
            let resumeAttr = "data-loaded";
            let resumeUrl = resumeBlock.querySelector("[data-resume-url]");
            let deleteBtn = document.getElementById("delete-resume");
            let deleteError = resumeBlock.querySelector('.delete-error');
            let subscribesToggler = document.querySelector("input[name='user-subscribes']");
            let socialLinksError = document.querySelector(".social-links__error");
            let $loader = document.querySelector('.resume-loader');

            /* переключение тумблера подписки */
            subscribesToggler.addEventListener('change', function() {
                let postData = new FormData();
                let checked = this.checked;
                postData.append("subscribed", checked);
                API('store_subscribe', null, postData)
                    .catch(e => {});
            });

            /* активировать кнопку при изменениях */
            let userForm = document.getElementById('user-form');
            let submitBtn = userForm.querySelector('[type="submit"]');

            let isChanged = function() {
                let mutableInputs = Array.from(userForm.querySelectorAll('[data-mutable]'));
                return mutableInputs.some(function(input) {
                    return input.value !== input.dataset.value;
                });
            };
            let checkChanged = function() {
                if (isChanged()) {
                    submitBtn.removeAttribute('disabled');
                } else {
                    submitBtn.setAttribute('disabled', true);
                }
            }

            userForm.addEventListener('input', checkChanged);
            userForm.addEventListener('change', checkChanged);



            /* загрузчик резюме */
            window.onReady('custom-loader', function() {
                let loader = new CustomFileLoader($loader, {
                    previewClass: "simple-preview",
                    onChange: function(src) {
                        resumeUrl.setAttribute("href", src);
                        resumeBlock.setAttribute(resumeAttr, "");
                        this.clear();
                        deleteError.textContent = '';
                    }
                });

                /* удалить резюме */
                deleteBtn.addEventListener("click", function(e) {
                    e.preventDefault();
                    confirm(
                        {
                            "question": "Вы уверены, что хотите удалить резюме?",
                            "confirm": "Да, уверен"
                        },
                        function() {
                            deleteBtn.setAttribute('data-progress', '');
                            deleteError.textContent = '';
                            API("user_resume_delete", {}, new FormData())
                                .then(function(res) {
                                    /* показать блок с загрузкой файла */
                                    loader.clear();
                                    resumeBlock.removeAttribute(resumeAttr);
                                    deleteBtn.removeAttribute('data-progress', '');
                                })
                                .catch(function(err) {
                                    console.log(err);
                                    deleteError.textContent = 'Не удалось удалить резюме';
                                    deleteBtn.removeAttribute('data-progress', '');
                                })

                        }
                    )
                });
            });



            /* отвязать аккаунт */
            addHandler('click', function(e) {
                let btn = e.target.closest('[data-can-unlink]');
                if (btn) {

                    let socName = btn.dataset.title;
                    let detachMethod = btn.dataset.detach;
                    let clientId = btn.dataset.socialId;

                    window.confirm(
                        {
                            question: "Точно отвязать аккаунт " + socName + "?",
                            confirm: "Точно-точно",
                        },
                        function() {
                            let data = new FormData();
                            data.append('clientId', clientId);

                            let showErrorMessage = function(message) {
                                socialLinksError.textContent = message;
                                socialLinksError.classList.remove("hidden");
                            }

                            API(detachMethod, {}, data)
                                .then(function(result) {
                                    if (result.success) {
                                        btn.classList.remove('active');
                                        socialLinksError.classList.add("hidden");

                                        let actives = document.querySelectorAll('.social-links__item.active');
                                        if (actives.length < 2) {
                                            actives.forEach(active => {
                                                btn.removeAttribute('data-can-unlink');
                                            });
                                        }
                                    } else {

                                        if (result.error == "mainNetwork") {
                                            openMailPopup({
                                                method: "confirm_email",
                                                title: "Укажите ваш адрес электронной почты",
                                                message: "Мы отправим вам письмо для подтверждения."
                                            });
                                        } else if (result.error == "lastNetwork") {
                                            showErrorMessage("Не удаляйте последний аккаунт, пожалуйста :(");
                                        } else {
                                            showErrorMessage("Не удалось отвязать аккаунт " + socName);
                                        }
                                    }
                                })
                                .catch(function(error) {
                                    console.log(error);
                                    showErrorMessage("Не удалось отвязать аккаунт " + socName);
                                });
                        }
                    );
                }
            })
        })()
    </script>
{% endblock %}