{% set activeSection = "notifications" %}

{% set meta = {
    title: 'Уведомления пользователя ' ~ app.user.nickname,
    postfix: true
}%}

{% set notificationsTypes = [
    {
        name: 'post-like',
        text: 'Лайки к моим постам',
        checked: preferences ? 'post-like' in preferences
    },
    {
        name: 'post-comment',
        text: 'Комментарии к моим постам',
        checked: preferences ? 'post-comment' in preferences
    },
    {
        name: 'comment-like',
        text: 'Лайки к моим комментариям',
        checked: preferences ? 'comment-like' in preferences
    },
    {
        name: 'comment-comment',
        text: 'Ответы на мои комментарии',
        checked: preferences ? 'comment-comment' in preferences
    }
]%}

{% extends "layouts/accountLayout.html.twig" %}

{% block accountStyles %}
    <link rel="stylesheet" href="{{ asset('assets/feed/feed.min.css') }}">
    <script src="{{ asset('assets/feed/feed.min.js') }}" async></script>
{% endblock %}

{% block content %}
<h1>Уведомления</h1>
<section class="feed">
    {% if notifications is defined and notifications|length > 0 %}
        {% set unreadNotificationsCount = render(controller('App\\Controller\\User\\NotificationController::count')) %}
        {# фильтры #}
            <div class="flex-between-wrap">
                <div class="filters filters_type mr-4" data-filters>
                    <div class="btn btn-outline-primary filters__item active" data-filters-item data-value="all">Все</div>
                    <div class="btn btn-outline-primary filters__item" data-filters-item data-value="not_read">Непрочитанные <span data-content-before="(" data-content-after=")" data-notifications-count data-content-empty>{{ unreadNotificationsCount > 0 ? unreadNotificationsCount }}</span></div>
                </div>

                <div class="mb-3">
                    <span class="mr-2 {{ unreadNotificationsCount > 0 ? '' : 'hidden' }} c-pointer link-reverse" data-notifications-mark>
                        Отметить все прочитанными
                    </span>
                    <span class="ico ico-settings configure-notifications"></span>
                </div>
            </div>
        {# /фильтры #}
    {% endif %}

    <div class="feed__posts mobile-full" data-load-wrapper>
        <div class="notifications" data-load-container>
            {% if notifications is defined and notifications|length > 0 %}
                {% include "components/feeds/notificationsFeed.html.twig" %}
            {% else %}
                <div class="empty">
                    У вас пока нет уведомлений
                </div>
            {% endif %}
        </div>
        {# load more #}
            <div class="flex-center mt-4">
                <button class="btn btn-primary load-more mv-1 {{ remainingPages is defined and remainingPages > 0 ? '' : 'hidden' }}">
                        Загрузить ещё
                </button>
            </div>
        {# /load more #}
    </div>
</section>{# .feed #}

{% endblock %}

{% block popups %}
<div class="popup notifications-settins" id="notifications-settings">
    <div class="popup__content">
        <div class="popup__close hover-rotate">
            <div class="ico ico-close"></div>
        </div>
        <div class="popup__text">
            <h2 class="h2">Настройки уведомлений</h2>
            <form method="POST" action="{{ path('user_notification_preferences_setUp') }}">
                {% for type in notificationsTypes %}
                    <div class="text-left">
                        <label class="checkbox">
                            <input type="checkbox" name="notifications-type[]"
                                value="{{ type.name }}"
                                {{ type.checked ? 'checked' : '' }}
                                data-checked="{{ type.checked }}">
                            <span>{{ type.text }}</span>
                        </label>
                    </div>
                {% endfor %}

                <div class="popup__button">
                    <button class="btn btn-large btn-primary" type="submit" disabled>Сохранить</button>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}

    {% if notifications is defined and notifications|length > 0 %}
        <link rel="stylesheet" href="{{ asset('assets/feed/feed.min.css') }}">
        <script src="{{ asset('assets/feed/feed.min.js') }}" async></script>
        <script>
            window.onReady('feed', function() {
                let typeFilters = new Filters(document.querySelector('.filters_type'), 'status');

                let feed = new Feed({
                    filters: [typeFilters],
                    method: 'user_notifications_fetch',
                    getEmptyMessage: function(filters) {
                        return "Нет уведомлений";
                    }
                });

                feed.on('feed.events.update', function(data) {
                    window.updateNotificationsCounters(data.remainingCount || 0);
                })
            });

            window.addHandler('click', function(e) {
                let notificationItemDelete = e.target.closest('.notification-item__delete');
                if (notificationItemDelete) {
                    let notificationItem = e.target.closest('.notification-item');
                    let notificationId = notificationItem.dataset.id;
                    let data = new FormData();
                    data.append('id', notificationId);
                    notificationItem.classList.add('deleted');
                    window.confirm(
                        {
                            question: "Точно удалить уведомление?",
                            confirm: "Точно-точно",
                        },
                        () => {
                            API("user_notification_delete", null, data)
                                .then(function(res) {
                                    if (res.success) {
                                        sslide(notificationItem).slideUp(400, function() {
                                            notificationItem.remove();
                                        });
                                    }
                                })
                                .catch(function(error) {
                                    console.error(error);
                                });
                        },
                        () => {
                            notificationItem.classList.remove('deleted');
                        }
                    );
                }
            });

            let $settingsPopup = document.getElementById('notifications-settings');

            if ($settingsPopup) {
                let settingsButton = document.querySelector('.configure-notifications');
                let settingsForm = $settingsPopup.querySelector('form');
                let settingsFormButton = settingsForm.querySelector('[type="submit"]');
                let checkboxes = Array.from(settingsForm.querySelectorAll('[type="checkbox"]'));
                let isChanged = function() {
                    return checkboxes.some(function(checkbox) {
                        console.log(checkbox.value, checkbox.checked, checkbox.dataset.checked)
                        return checkbox.checked != checkbox.dataset.checked;
                    })
                }

                window.onReady('popup', function() {
                    console.log('ready')
                    let settingsPopup = new Popup($settingsPopup);
                    settingsButton.addEventListener('click', function() {
                        console.log('click')
                        settingsPopup.open();
                    });
                    settingsForm.addEventListener('change', function() {
                        settingsFormButton.disabled = !isChanged();
                    })
                })
            }

        </script>
    {% endif %}

{% endblock %}
