{% set activeSection = "publications" %}

{% set meta = {
    title: 'Публикации пользователя ' ~ app.user.nickname,
    postfix: true
}%}


{% extends "layouts/accountLayout.html.twig" %}

{% block accountStyles %}
    <link rel="stylesheet" href="{{ asset('assets/feed/feed.min.css') }}">
    <script src="{{ asset('assets/feed/feed.min.js') }}" async></script>
{% endblock %}

{% block content %}

<h1>Публикации</h1>
<section class="feed">
    {% if isPrivate %}
        {# фильтры #}
            <div class="filters" data-filters>
                <div class="btn btn-outline-primary filters__item active" data-filters-item data-value="PUBLISHED">Опубликованные</div>
                <div class="btn btn-outline-primary filters__item" data-filters-item data-value="DRAFT">Черновики</div>
            </div>
        {# /фильтры #}
    

        {# лента тегов #}
            {% if tags is defined %}
                {% include('components/tags.html.twig') %}
            {% endif %}
        {# /лента тегов #}
    {% endif %}

    <div class="feed__posts mobile-full" data-load-wrapper>
        <div class="posts" data-load-container>
            {% if posts is defined and posts|length > 0 %}
                {% include "components/feeds/feed.html.twig" %}
            {% else %}
                <div class="empty">
                    {% if isPrivate %}
                        <a href="{{ path('new_post') }}">Напишите</a> что-нибудь интересное
                    {% else %}
                        У пользователя {{ user.nickname }} пока нет публикаций.
                    {% endif %}
                </div>
            {% endif %}
         </div>
        {# load more #}
            <div class="flex-center">
                <button class="btn btn-large btn-primary load-more mv-1 {{ remainingPages > 0 ? '' : 'hidden' }}">
                        Загрузить ещё
                </button>
            </div>
        {# /load more #}
    </div>{# .feed__posts #}

</section>{# .feed #}

{% endblock %}

{% block scripts %}

    <script>
        window.onReady('feed', function() {
            let filters = [];
            let statusFilters = document.querySelector('.filters');
            if (statusFilters) {
                filters.push(new Filters(statusFilters, 'status'))
            }
            let method = "user_foreign_publications_fetch";
            {% if isPrivate %}
                method = "user_publications_fetch";
            {% endif %}

            let request = {{ request is defined ? request|json_encode|raw : 'null' }};

            let feed = new Feed({
                filters: filters,
                method: method,
                request: request,
                getEmptyMessage: function(filters) {
                    let message = "Нет публикаций";
                    {% if isPrivate %}
                        message = "<a href='{{ path('new_post') }}'>Напишите</a> что-нибудь интересное";
                    {% endif %}
                    return message;
                }
            })
        });
    </script>

{% endblock %}