{% set activeSection = "subscriptions" %}

{% set meta = {
    title: 'Подписки пользователя ' ~ app.user.nickname,
    postfix: true
}%}


{% extends "layouts/accountLayout.html.twig" %}

{% block content %}
    <section>
                
        <h1>Подписки</h1>

        {% include "user/partials/subscriptionsForm.html.twig" %}
                
    </section>
{% endblock %}

