{% set activeSection = "tests" %}

{% set meta = {
    title: 'Тесты пользователя ' ~ app.user.nickname,
    postfix: true
}%}

{% extends "layouts/accountLayout.html.twig" %}

{% block accountStyles %}
    <link rel="stylesheet" href="{{ asset('assets/feed/feed.min.css') }}">
    <script src="{{ asset('assets/feed/feed.min.js') }}" async></script>
{% endblock %}

{% block content %}
    <h1>Тесты</h1>
    <section class="feed">
        {# лента тегов #}
            {# {% if tags is defined %}
                {% include('components/tags.html.twig') %}
            {% endif %} #}
        {# /лента тегов #}
        <div class="feed__posts mobile-full" data-load-wrapper>
            <div class="posts row row-flex-md flex-wrap" data-load-container>
                {% if tests is defined and tests|length > 0 %}
                    {% include "components/feeds/testsFeed.html.twig" %}
                {% else %}
                    <div class="empty"><a href="#" class="link">Пройдите</a> какой-нибудь интересный тест</div>
                {% endif %}
            </div>
            {# load more #}
                <div class="flex-center">
                    <button class="btn btn-large btn-primary load-more mv-1 {{ remainingPages > 0 ? '' : 'hidden' }}">
                            Загрузить ещё
                    </button>
                </div>
            {# /load more #}

        </div>{# .feed__posts #}

    </section>{# .feed #}

{% endblock %}

{% block scripts %}
    <script>
        window.onReady('feed', function() {
            let method = "user_foreign_tests_fetch";
            let message = "";
            {% if isPrivate %}
                method = "tests_fetch";
                message = '<a href="#" class="link">Пройдите</a> какой-нибудь интересный тест';
            {% endif %}
            let feed = new Feed({
                method: method,
                getEmptyMessage: function(filters) {
                    return message;
                }
            })
        });
    </script>
{% endblock %}