{#
Разметка личного кабинета с левым сайдбаром 
Стили:
- account/account.min.css
Скрипты:
- account/account.min.js (async)
Блоки:
в styles
    - accountStyles (дополнительные стили для разных страниц ЛК)
в pageContent:
    - openSidebar (кнопка Вернуться в ЛК)
    - sidebar (сайдбар ЛК, /user/partials/profileSidebar.html.twig)
    - content (основной контент ЛК)
#}

{% set bodyClasses = "account-page" ~ (activeSection is defined ? " account-page-" ~ activeSection : "") %}

{# юзера надо передавать в шаблон #}
{% if user is not defined %}
    {% set user = app.user %}
{% endif %}
{% set isPrivate = app.user ? app.user == user %}
{% set request = {
    userId: user.id
}%}

{% extends "layouts/simpleLayout.html.twig" %}

{% block styles %}
    <link href="{{ asset('assets/account/account.min.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/account/account.min.js') }}" async></script>

    {% if isPrivate %}
        <script src="{{ asset('assets/account/account-private.min.js') }}" async></script>
    {% endif %}

    {% block accountStyles %}
    {% endblock %}
{% endblock %}

{% block pageContent %}
    {% block openSidebar %}
        <div class="s-hide back-to-account" data-account-back>
            <div class="ph-4">
                &lt; Вернуться в личный кабинет
            </div>
        </div>
    {% endblock %}

    <div class="container">
        <div class="row row-flex" data-account-container>

            {# sidebar #}
                <div class="col page-sidebar page-padding" data-account-sidebar>
                    {% block sidebar %}
                        {% include "user/partials/profileSidebar.html.twig" %}
                    {% endblock %}
                </div>
            {# /sidebar #}  

            {# main column #}
                <div class="col page-main page-padding" data-account-content>
                    <main>
                        
                        {% block content %}
                        {% endblock %}
                        
                    </main>
                </div>
            {# /main column #}
        </div>
    </div>{# .container #}
{% endblock %}