{# 
Базовая разметка с правым сайдбаром - фиды, пост 
Специфических стилей, скриптов нет
Блоки:
в pageContent:
  - topAdvert (верхний рекламный баннер)
  - content (содержимое main, пустой)
  - sidebar (правый сайдбар, layouts/sidebar.html.twig)
#}

{% extends "layouts/simpleLayout.html.twig" %}

{% block pageContent %}
  {# top banner #}
  {% block topAdvert %}
{#      <div class="a-block a-block_top">#}
{#          <div style="width: 100%; height: 150px; color: rgba(80, 105, 144, 0.8); border: 2px solid; font-size: 40px; font-weight: bold; display: flex; align-items: center; padding: 0 40px; justify-content: center;">Python-разработчик</div>#}
{#      </div>#}
  {% endblock %}
  {# /top banner #}

  <div class="container">
    <div class="row row-flex">

      {# main column #}
        <div class="col page-main page-padding">
          <main>
            {% block content %}
            {% endblock %}
          </main>
        </div>
      {# /main column #}

      {# sidebar #}
        <div class="col page-sidebar s-show page-padding">
          {% block sidebar %}
            {% include "layouts/sidebar.html.twig" %}
          {% endblock %}
        </div>
      {# /sidebar #}  


    </div>
  </div>{# .container #}
{% endblock %}