{# подвал #}
<footer class="page-footer">
    <div class="container">
        <div class="page-footer__image">
            <img src="{{ asset('img/site/frog.png') }}" width="140"/>
        </div>
        <section class="page-footer__content">
            {% include "components/contacts.html.twig" %}
            <div class="page-footer__columns">
                <div>
                    <div class="mv-6">
                        <div>
                            <a class="link" href="{{ path('user_agreement') }}">Пользовательское соглашение</a>
                        </div>
                        <div>
                            <a class="link" href="{{ path('privacy_policy') }}">Политика конфиденциальности</a>
                        </div>
                    </div>

                    {# <div class="mv-6">
                        <div>
                            <a class="link" href="#">Свяжитесь с нами</a>
                        </div>
                        <div>
                            <a class="link" href="#">Реклама</a>
                        </div>
                    </div> #}
                </div>
                <div>
                    <div class="mv-6">
                        <div>
                            Push-уведомления
                            <label class="ml-4 toggler">
                                <input type="checkbox" {{ app.user and app.user.isSubscribeForPush ? 'checked="checked"' : '' }} name="push-notifications-toggle"/>
                                <span class="toggler__runner"></span>
                            </label>
                        </div>
                        
                        <div>
                            <form class="subscribe-block" id="subscribe-form" data-validate data-on-submit>
                                <div class="subscribe-block__input">
                                    <div class="bg_white flex-middle">
                                        <input class="input" type="email" name="user-mail" placeholder="user@mail.ru" required>
                                    
                                        <label>
                                            <input type="submit" class="hidden">
                                        
                                            <div class="ico ico-submit"></div>
                                        </label>
                                    </div>
                                </div>
                                <div class="subscribe-block__label" onclick="this.parentElement.classList.add('opened')">
                                    <span class="link">Подписка</span> 
                                    <div class="ml-1 ico ico-message ico_16"></div>
                                </div>
                                <div class="subscribe-block__message"></div>
                            </form>

                            <script>
                                /* подписка в футере */
                                (function() {
                                    let subscribeForm = document.getElementById('subscribe-form');
                                    if (!subscribeForm) return;

                                    let messageText = subscribeForm.querySelector('.subscribe-block__message');

                                    window.onReady('validator', function() {
                                        let mail = subscribeForm["user-mail"];
                                        if (!mail) return;
                                        
                                        subscribeForm.addEventListener(FormValidator.events.validated, function() {
                                            let value = mail.value;
                                            let showMessage = function(status, message) {
                                                subscribeForm.classList.remove('opened');
                                                
                                                window.showAlert ? window.showAlert(message, "bottom-right", status) : null;
                                            }
                                            let data = new FormData();
                                            data.append('mail', mail.value);
                                            API('mailing_email_get', {}, data)
                                                .then(function(res) {
                                                    if (res.success) {
                                                        mail.value = "";
                                                        showMessage("success", "Проверьте почту!<br>Мы отправили вам письмо с подтверждением подписки");
                                                    } else {
                                                        showMessage("error", "Что-то пошло не так :(");
                                                    }
                                                })
                                                .catch(function(error) {
                                                    if (error.status === 500) {
                                                        showMessage("error", "Вы уже подписывались");
                                                    }
                                                });
                                            
                                        });
                                    });

                                    window.onReady('event-handlers', function() {
                                        window.addHandler('click', function(e) {
                                            if (!subscribeForm.contains(e.target)) {
                                                subscribeForm.classList.remove('opened');
                                                subscribeForm.dispatchEvent(new Event("reset"));
                                            }
                                        });
                                    })
                                })();
                                
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                &copy; Библиотека программиста, 2016-{{ date()|date('Y') }}.<br/>
                При копировании материала ссылка<br/>
                на источник обязательна.
            </footer>
        </section>
    </div>
</footer>