{% set headerMenuItems = [
    {
        title: "Новое",
        link: path('proglib_app'),
        count: 0  
    },
    {
        title: "Лучшее",
        link: path('posts_favorite_by_week'),
        submenu: [
            {
                title: "За неделю",
                link: path('posts_favorite_by_week')
            },{
                title: "За месяц",
                link: path('posts_favorite_by_month')
            },{
                title: "За год",
                link: path('posts_favorite_by_year')
            },
        ]
    },{
        title: "Вакансии",
        link: path('vacancies_all')
    }
]%}

{# шапка страницы #}
<header class="page-header">
    <nav class="container">
        <div class="row row-flex">
            <div class="col col_auto flex-between page-header__left">
                <div class="flex">
                    <a class="logo flex-middle" href="{{ path('proglib_app') }}">
                        <img src="{{ asset('img/site/proglib.svg') }}" width="160" height="40"
                                title="Библиотека программиста proglib.io"
                                alt="Библиотека программиста proglib.io"/>
                    </a>
                    <ul class="main-menu desktop-show flex">

                        {% for item in headerMenuItems %}
                            <li class="main-menu__item">
                                <a class="main-menu__title" href="{{ item.link }}">
                                    {{ item.title }}
                                    {% if item.submenu is defined %}
                                        <div class="ico ico-arrow-down ico_16"></div>
                                    {% endif %}

                                    {% if item.count is defined %} 
                                        <div class="badge badge-success {% if item.count <= 0 %} hidden {% endif %}" data-posts-count>
                                            {{ item.count }}
                                        </div>
                                    {% endif %}
                                </a>

                                {% if item.submenu is defined %}
                                    <ul class="main-menu__submenu">
                                        {% for subitem in item.submenu %}
                                            <li class="main-menu__item">
                                                <a class="main-menu__title" href="{{ subitem.link }}">{{ subitem.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% if app.user is not null %}
                    <div class="flex-middle mobile-hide new-post">
                        <a href="{{ path('new_post') }}" class="btn btn-outline-white">
                            Написать
                            <div class="ico ico-plus ico_12 ml-1"></div>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="col page-header__right">
                <div class="flex-right h-100">
                    {% set topmenuClasses = "s-mobile-hide" %}
                    {% include "components/usermenu.html.twig" %}
                    <div class="toggle-mainmenu " onclick="document.body.classList.add('menu-opened')">
                        <div class="ico ico-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
