{% set mobileMenuItems = [
    {
        title: "Новое",
        link: path('proglib_app'),
    },
    {
        title: "Лучшее",
        link: path('posts_favorite_by_week'),
        submenu: [
            {
                title: "За неделю",
                link: path('posts_favorite_by_week')
            },{
                title: "За месяц",
                link: path('posts_favorite_by_month')
            },{
                title: "За год",
                link: path('posts_favorite_by_year')
            },
        ]
    },{
        title: "Вакансии",
        link: path('vacancies_all')
    }
]%}

{# мобильное меню #}
<div class="mobile-menu">
    <div class="mobile-menu__close" onclick="document.body.classList.remove('menu-opened')">
        <div class="ico ico-close"></div>
    </div>

    <div class="pl-4 pb-4">
        {% set topmenuClasses = " s-mobile-show" %}
        {% include "components/usermenu.html.twig" %}
    </div>
    
    <ul class="mobile-menu__list pv-4">

        {% for item in mobileMenuItems %}
            <li class="mobile-menu__item {{ item.submenu is defined ? 'mobile-menu__parent' : ''}}" {{ item.submenu is defined ? 'data-toggle-block data-toggle-slide' : ''}}>
                <div class="mobile-menu__title">
                    <a class="mobile-menu__link" href="{{ item.link }}">{{ item.title }}</a>

                    {% if item.submenu is defined %}
                        <div class="menu-opener" data-toggle-toggle>
                            <div class="ico ico-arrow-down ico_20"></div>
                        </div>
                    {% endif %}
                </div>

                {% if item.submenu is defined %}
                    <ul class="mobile-menu__submenu" data-toggle-hidden>

                        {% for subitem in item.submenu %}
                            <li class="mobile-menu__item">
                                <div class="mobile-menu__title">
                                    <a class="mobile-menu__link"  href="{{ subitem.link }}">{{ subitem.title }}</a>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <div class="pl-4 mt-4">
        {% include "components/contacts.html.twig" %}
    </div>
</div>