{#
Шаблон страницы поста/теста
Стили:
    - post/post.min.css
    - services/highlihgt/highlight.min.css
    - comments/comments.min.css (если нужно)
Скрипты:
    - services/highlight/highlight.min.js (async)
    - comments/comments.min.js (async) (если нужно)
    - feed/feed.min.js (async) (если нужно)
Блоки
В styles:
    - postStyles (Дополнительные стили для статьи/теста, пустой)
В content:
    - postAuthorInfo (Информация об авторе)
    - postContent (Собственно контент, пустой)
    - afterPostContent (После контента, для комментов, слайдеров, пустой)
    - postRecommendations (Слайдер рекомендаций)
В scripts:
    - postScripts (Дополнительные скрипты для статьи/теста, пустой)
#}

{% set postUrl = "" %}
{% set isPublished = post.status is defined ? post.status == constant('App\\Domain\\Post\\Model\\Entity\\POST::PUBLISHED') %}
{% set needComments = needComments is defined ? needComments : isPublished %}

{% set isLiked = post.userLikes is defined ? post.userLikes.contains(app.user) : false %}
{% set isBookmarked = post.userBookmarks is defined ? post.userBookmarks.contains(app.user) : false %}
{% set actionType = actionType is defined ? actionType : "post" %}

{% set editblockPlace = "post" %}
{% set editblockType = editblockType is defined ? editblockType : "post" %}
{% set editblockObject = post %}


{% set meta = {
    title: post.title,
    postfix: true,
    description: post.preview is defined ? post.preview
}%}

{% extends "layouts/baseLayout.html.twig" %}

{% block ogTitle %}{{ post.title }}{% endblock %}
{% block ogDescription %}{{ post.preview is defined ? post.preview }}{% endblock %}
{% block ogUpdatedTime %}{{ post.updatedAt is defined ? post.updatedAt | date('d.m.Y') }}{% endblock %}
{% block ogImage %}{{ post.previewImage is defined ? post.previewImage }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('assets/post/post.min.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/services/highlight/highlight.min.css') }}" />
    <script src="{{ asset('assets/services/highlight/highlight.min.js') }}" async></script>

    {% if needComments %}
        <link rel="stylesheet" href="{{ asset('assets/comments/comments.min.css') }}" />
        <script src="{{ asset('assets/comments/comments.min.js') }}" async></script>
        <script src="{{ asset('assets/feed/feed.min.js') }}" async></script> 
    {% endif %}

    {% block postStyles %}
    {% endblock %}
{% endblock %}


{% block content %}
    {% if isOutdated is defined and isOutdated %}
        <div class="flash flash__warning">
            <span><b>Внимание!</b> Данный материал мог устареть.</span> 
            <span class="ico ico-warning color_warning"></span>
        </div>
    {% endif %}

    <article class="post mb-6 mobile-full {{ postType }}"
        data-id="{{ postType != "vacancy" ? post.id }}"
        data-slug="{{ post.slug is defined ? post.slug }}"
        data-like-wrapper="{{ actionType }}" 
        data-bookmark-wrapper="{{ actionType }}" 
        {# data-author-id="{{ post.user.id }}" #}
        {{ isLiked ? "data-liked" : "" }}
        {{ isBookmarked ? "data-bookmarked" : "" }}>

        <header class="post__header">

            
            {# editblock #}
            {% if editblockHide is not defined %}
                <div class="mobile-hide">
                    {% include "components/editblock.html.twig" %}
                </div>  
            {% endif %}
            {# /editblock #}
            

            <h1 class="post__title">{{ post.title }}</h1>

            {% block postAuthorInfo %}
                <div class="flex mb-4">
                    <a class="userpic mr-2 no-link"
                        href="{{ post.user == app.user ? path( 'cabinet') : path('foreign_user_profile', {nickname: post.user.nickname}) }}"
                        style="background-image: url({{ post.user.avatar }});"></a>
                    <div>
                        <a class="link-reverse color_main"
                            href="{{ post.user == app.user ? path( 'cabinet') : path('foreign_user_profile', {nickname: post.user.nickname}) }}">
                            {{ post.user.username }}
                        </a>
                        <div class="secondary-text" title="{{ post.updatedAt|date('d.m.Y') }}">
                            {{ post.updatedAt|date('d.m') }}
                        </div>
                    </div>
                </div>
            {% endblock %}
            
            <div class="tagbar flex-between">
                <div class="tagbar__block flex-wrap">
                    {% if post.tags|length > 0 %}
                        <div class="mb-2 mr-8">
                            {% for tag in post.tags %}
                                <a href="#" class="btn btn-small" data-category>{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                    {% if isPublished %}

                        {% if post.getCommentsCount is defined or post.userBookmarks is defined %}
                            <div class="mr-8 mb-2">
                                {% if post.getCommentsCount is defined %}
                                    <a href="#comments" class="btn btn-small">
                                        <div class="ico ico-comments ico_12"></div>
                                        <span data-comments="data-comments">{{ post.getCommentsCount() }}</span>
                                    </a>
                                {% endif %}

                                {% if post.userBookmarks is defined %}
                                    <span class="btn btn-small {{ isBookmarked ? 'marked' : ''}}" data-bookmark data-bookmark-mark>
                                        <div class="ico ico-bookmark ico_12"></div>
                                        <span data-bookmarks="data-bookmarks">{{ post ? post.userBookmarks.count }}</span>
                                    </span>
                                {% endif %}
                                
                                {% if post.userLikes is defined %}
                                    {% if postType != "test" and app.user and app.user == post.user %} 
                                        <span class="btn btn-small btn-outline btn-inactive">
                                            <div class="ico ico-like ico_12"></div>
                                            <span>{{ post.userLikes.count }}</span>
                                        </span>
                                    {% else %}
                                        <span class="btn btn-small {{ isLiked ? 'marked' : ''}}" data-like data-like-mark>
                                            <div class="ico ico-like ico_12"></div>
                                            <span data-likes="data-likes">{{ post.userLikes.count }}</span>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}

                        <div class="mr-8 mb-2 share-wrapper">
                            {% include "components/share.html.twig" %}
                        </div>
                    {% endif %}
                </div>
                
                
                    <div class="tagbar__block">
                        {% if isPublished %}
                            <div class="views mobile-hide">
                                <div class="ico ico-eye ico_16"></div>
                                <span class="ml-1 fs-1" data-views="data-views">{{ post.views }}</span>
                            </div>
                         {% endif %}

                        {# editblock #}
                        {% if editblockHide is not defined %}
                            <div class="mobile-show">
                                {% include "components/editblock.html.twig" %}
                            </div>
                        {% endif %}
                        {# /editblock #}
                    </div>
               
            </div>{# .tagbar #}

            
           
        </header>

        <div class="post__content">
            {% block postContent %}
            {% endblock %}
        </div>

        {% if isPublished %}
            <div class="tagbar flex-between">
                <div class="tagbar__block flex-wrap">
                    {% if post.userBookmarks is defined or post.userLikes is defined %}
                        <div class="mr-8 mb-2">
                            {% if post.userBookmarks is defined %}
                                <span class="btn btn-small {{ isBookmarked ? 'marked' : ''}}" data-bookmark data-bookmark-mark>
                                    <div class="ico ico-bookmark ico_12"></div>
                                    <span data-bookmarks="data-bookmarks">{{ post ? post.userBookmarks.count }}</span>
                                </span>
                            {% endif %}

                            {% if post.userLikes is defined %}
                                {% if postType != "test" and app.user and app.user == post.user %}
                                    <span class="btn btn-small btn-outline btn-inactive">
                                        <div class="ico ico-like ico_12"></div>
                                        <span>{{ post.userLikes.count }}</span>
                                    </span>
                                {% else %}
                                    <span class="btn btn-small {{ isLiked ? 'marked' : ''}}" data-like data-like-mark>
                                        <div class="ico ico-like ico_12"></div>
                                        <span data-likes="data-likes">{{ post.userLikes.count }}</span>
                                    </span>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}

                    <div class="mr-8 mb-2 share-wrapper">
                        {% include "components/share.html.twig" %}
                    </div>
                </div>

                <div class="tagbar__block">
                    <div class="views mobile-hide">
                        <div class="ico ico-eye ico_16"></div>
                        <span class="ml-1 fs-1" data-views="data-views">{{ post.views }}</span>
                    </div>
                </div>
            </div>
        {% endif %}
    </article>

    <div class="mobile-full a-block a-block_post">
        <div style="max-width: 728px; width: 100%; height: 90px; background: black; color: white; font-size: 40px; font-weight: bold; display: flex; align-items: center; padding: 0 40px; margin: 0 auto;">Python-разработчик</div>
    </div>

    <div class="mt-6">
        {% for tag in post.tags %}    
            <a href="{{ path('tag_posts', {tag: tag.name}) }}" class="btn btn-primary">{{ tag.name }}</a>
        {% endfor %}


        {% if isPublished and post.getCommentsCount is defined %}
            <span href="#comments" class="btn btn-primary">
                <div class="ico ico-comments ico_16"></div>
                <span data-comments="data-comments">{{ post.getCommentsCount() }}</span>
            </span>
        {% endif %}
    </div>

    <div class="elevator hidden" id="elevator" data-direction="top">
        <div class="ico ico-arrow-down ico_40"></div>
    </div>

    {% block afterPostContent %}
    {% endblock %}


    {% block postRecommendations %}
        {% if isPublished %}
            {% if recommendations is defined and recommendations|length > 0 %}
                {% include 'posts/partials/recommendations.html.twig' %}
            {% endif %}
        {% endif %}
    {% endblock %}
{% endblock %} 

{% block scripts %}
    {% if needComments %}
        <script>
            window.onReady('feed', function() {
                new Feed({
                    method: "post_comments_fetch",
                    request: {
                        post_id: "{{ post.id }}"
                    },
                    getMoreText: function(remaining) {
                        remaining = remaining || 0;
                        //return "Загрузить еще " + remaining + " " + window.helpers.getWordEnding(remaining, ["комментарий", "комментария", "комментариев"]);
                        return "Загрузить еще";
                    }
                })
            }); 
        </script>
    {% endif %}

    {% block postScripts %}
    {% endblock %}
{% endblock %}

{% block popups %}
    <div class="popup image-preview" id="image-preview">
        <div class="popup__close">
            <div class="ico ico-close"></div>
        </div>
        <div class="image-preview__content">
            <img src="">
        </div>
    </div>
{% endblock %}