{# 
стандартный сайдбар (фиды, пост, поиск)
- тесты
- рекламный блок
- блоги
- рекламный блок
- комментарии
#}

{% set sidebarSet = sidebarSet is defined ? sidebarSet : ['tests', 'advert', 'blogs', 'advert', 'comments'] %}

<aside class="sidebar-width">

    {% for sidebarBlock in sidebarSet %}
        {% if sidebarBlock == 'tests' %}
            {# {{ render(controller('App\\Infrastructure\\Http\\Test\\TestingController::sidebar')) }} #}
        {% elseif sidebarBlock == "advert" %}
            {# <div class="block mb-4">
                <div class="block__content">
                <div style="max-width: 280px; width: 100%; height: 280px; background: black; color: white; font-size: 30px; font-weight: bold; display: flex; align-items: center; padding: 10px;">Python<br>разработчик</div>
                </div>
                <footer class="block__footer block__offset"><a class="link color_main fs-1" href="#">Реклама на proglib.io</a></footer>
            </div> #}
        {% elseif sidebarBlock == "blogs" %}
            {# blogs #}
                {% include('facade/desktop/blogs.html.twig') %}
            {# /blogs #}
        {% endif %}
    {% endfor %}

</aside>

{% if "comments" in sidebarSet %}
    <aside  class="sidebar-width sticky-block comments-block">
        {# comments #}
            {{ render(controller('App\\Controller\\Messaging\\DirectController::lastFiveComments')) }}
        {# /comments #}
    </aside>
{% endif %}