{# 
базовый каркас страницы
Стили:
- service.min.css - критические стили
- main.min.css - основные стили сайта
Скрипты:
- service.min.js (sync) - критические функции
- main.min.js (async) - основной скрипт сайта
Блоки:
- styles (стили в head, пустой)
- pageHead (после стилей в head, пустой)
- mobileMenu (мобильное меню)
- pageHeader (шапка сайта)
- pageContent (контент страницы, пустой)
- pageFooter (подвал сайта)
- popups (всплывашки, пустой)
- pageBottom (низ страницы, пустой)
- scripts (скрипты внизу body, пустой)
Переменные:
  Метаданные:
    - metaSiteName
    - metaTitle
    - metaDescription
    - metaKeywords
    - metaImage
    - metaUpdatedTime
  Классы:
    - bodyClasses
#}

{% set metaPostfix = "|Библиотека программиста" %}
{% set customMeta = meta is defined ? meta : {} %}

{% if customMeta.postfix is defined and customMeta.postfix %}
  {% set customMeta = customMeta|merge({ title: customMeta.title ~ metaPostfix }) %}
{% endif %}

{% set pageMeta = {
  siteName: "Библиотека программиста",
  title: "Библиотека программиста",
  description: "Здесь вы можете найти материалы, которые помогут вам ускорить процесс обучения разработке. Мы публикуем обзоры книг, видеолекции, видеоуроки и советы.",
  keywords: "",
  image: asset('/img/site/frog.png'),
  updatedTime: ""
}|merge(customMeta) %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta name="centrifugo-url" content="{{ centrifugo_url }}">
  <meta name="centrifugo-user" content="{{ app.user ? app.user.id : '' }}">
  <meta name="centrifugo-token" content="{{ centrifugo_token() }}">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{ pageMeta.title }}</title>
  <meta name="description" content="{{ pageMeta.description }}" />
  <meta name="keywords" content="{{ pageMeta.keywords }}" />

  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ app.request.uri }}" />
  <meta property="og:site_name" content="{{ pageMeta.siteName }}">

  <meta property="og:title" content="{{ pageMeta.title }}" />
  <meta property="og:description" content="{{ pageMeta.description }}" />

  <meta property="og:updated_time" content="{{ pageMeta.updatedTime }}" />
  <meta property="og:image" content="{{ pageMeta.image }}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ pageMeta.title }}" />
  <meta name="twitter:description" content="{{ pageMeta.description }}" />

  <meta itemprop="name" content="{{ pageMeta.title }}">
  <meta itemprop="description" content="{{ pageMeta.description }}">
  
  <link rel="canonical" href="/">

  <link rel="stylesheet" href="{{ asset('assets/service.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('assets/main.min.css') }}" />

  <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ asset('/favicon/site.webmanifest') }}">
  <link rel="mask-icon" href="{{ asset('/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{ asset('/favicon/favicon.ico') }}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="{{ asset('/favicon/browserconfig.xml') }}">
  <meta name="theme-color" content="#ffffff">

  {{ render(controller('App\\Controller\\IndexController::apiScript')) }}


  <script src="{{ asset('assets/service.min.js') }}"></script>

  {% if app.user %}
    <script>
          window.authorized = true;
          window.userId = "{{ app.user.id }}";
    </script>
  {% endif %}
  
  {% block styles %}
  {% endblock %}

  {% block pageHead %}
  {% endblock %}
</head>

<body class="{{ bodyClasses is defined ? bodyClasses : '' }}">
  
  {% block mobileMenu %}
    {% include 'layouts/mobileMenu.html.twig' %}
  {% endblock %}

  <div class="page flex-column vh100">

    {% block pageHeader %}
      {% include "layouts/header.html.twig" %}
    {% endblock %}

    <div class="page-content">

      {% block pageContent %}
      {% endblock %}

    </div>

    {% block pageFooter %}
      {% include "layouts/footer.html.twig" %}
    {% endblock %}

  </div>

  {# confirm popup #}
    <div class="mask" id="mask"></div>
    <div class="popup" id="confirm">
      <div class="popup__content">
        <div class="popup__close hover-rotate">
          <div class="ico ico-close ico_20"></div>
        </div>
        <div class="popup__text">Вы уверены?</div>
        <div class="popup__button">
          <button class="btn btn-large btn-primary">Подтвердить</div>
        </div>
      </div>
    </div>
  {# /confirm popup #}

  
  {# authorization popup #}
    {% include "user/popups/authorization.html.twig" %}
  {# /authorization popup #}

  {# email popup #}
  {% include "user/popups/noMail.html.twig" %}
  {% if app.session.get('failure') != null %}
    <script>
      openMailPopup({
        method: "confirm_email",
        title: "Укажите ваш адрес электронной почты",
        message: "Мы отправим вам письмо для подтверждения регистрации"
      });
    </script>    
  {% endif %}
  {# /email popup #}

  {# complain popup #}
    {% include "user/popups/complain.html.twig" %}
  {# /complain popup #}

  {% block popups %}
  {% endblock %}

  <script src="{{ asset('assets/main.min.js') }}" async></script>

  {% block pageBottom %}
  {% endblock %}
  
  {% block scripts %}
  {% endblock %}
</body>

</html>