{#{% set currentPath = path(app.request.attributes.get('_route'),#}
{#    app.request.attributes.get('_route_params')) %}#}

{% set var = 1 %}

{% if var == 1 %}

<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link active" href="#">Все </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Мои </a>
    </li>
</ul>

{% else %}

<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link" href="#">Все </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Мои </a>
    </li>
</ul>
{% endif %}