{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}

{% if currentPath == path('admin_tasks_all') %}
    {% include 'admin/partials/authors/_all_tasks_tabs.html.twig' %}
{% elseif currentPath == path('admin_tasks_current') %}
    {% include 'admin/partials/authors/_owner_tasks_tabs.html.twig' %}
{% endif %}