{% extends 'base.html.twig' %}

{% block title %}
    Posts
{% endblock %}

{% block body %}
    {% for post in posts %}
        <article class="post">
            <h2>
                {{ post.title }}
            </h2>
        <p>
            {{ post.preview }}
        </p>
            <p class="post-metadata">
                <span class="metadata">
                    <i class="fa fa-calendar"></i>
                    {{ post.createdAt|date }}
                </span>
                <span class="metadata">
                    <i class="fa fa-user"></i>
                    {{ post.author.username }}
                </span>
            </p>
        </article>
    {% else %}
    {% endfor %}
{% endblock %}