.comments-form {
  .file-loader {
      &__preview {
          padding: 10px;
      }

      &__message {
          padding: 10px 20px 20px;
      }
  }

  &[data-drop] {
      .file-loader__dropzone {
          background-color: $colorLightBlue1;
      }
  }
}

.comment-preview {
  display: inline-block;
  vertical-align: bottom;
  margin: 10px;
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
  font-size: 0;

  &.loading {
      background: $lightColor;
  }

  &.error {
      background: $errorColor;
  }

  .file-preview {
      &__image {
          @include comment-image-preview();
          max-width: none;
          max-height: none;
      }
  
      &__controls {
          position: absolute;
          top: 0; bottom: 0;
          left: 0; right: 0;
          margin: 0;
  
          opacity: 0;
          transition: opacity $animationDuration;
          
          background: transparentize($color: $colorBlack, $amount: 0.6);
  
          display: flex;
      }
  
      &__clear {
          font-size: 0;
          margin: auto;
          .ico {
              color: $colorWhite;
          }
      }
  }

  

  &:hover {
      .file-preview__controls {
          opacity: 1;
      }
  }
}