.file-loader__x-editor {
    .file-loader {
        &__previews {
            padding: 0;
        }

        &__dropzone {
            height: 100px;
            padding: 20px;
            border: 1px dashed $dropzoneBorderColor;
            display: flex;
            justify-content: center;
            align-items: center;
    
            &-button {
                cursor: pointer;
                color: $secondaryTextColor;
        
                input {
                    display: none;
                }

                &:hover {
                    color: $mainColor;
                }
            }

        } 

        &__progress {
            display: none;
    
            height: 15px;
            width: 200px;
            border: 1px solid $secondaryTextColor;
    
            transition: width 100ms;
    
            border-radius: 10px;
            overflow: hidden;
    
            &-bar {
                background: $mainColor;
                height: 100%;
                width: 0;
            }
        }
    }

        
    &[data-files] {
        .file-loader__dropzone {
            display: none;
        }
    }

    &[data-progress] {
        .file-loader {
            &__progress {
                display: block;
            }
            &__dropzone-button {
                display: none;
            }
            &__previews {
                display: none;
            }
            &__dropzone {
                display: flex;
            }
        }  
    }

    &[data-error], &.invalid {
        .file-loader__dropzone {
            border-color: $errorColor;
            &-button {
                color: $errorColor;
                &:hover { color: $errorColor; }
            }
        }
    }

    &[data-drop] {
        .file-loader__dropzone {
            border-color: $mainColor;    

            &-button {
                color: $mainColor;
                &:hover { color: $mainColor; }
            }
        }
    }
}

.x-editor-preview {
  display: inline-block;
  margin: 0;

  .file-preview {
      &__controls {
          margin-top: 5px;
          text-align: center;
          display: block;
      }
  
      &__clear {
          color: $secondaryTextColor;
          font-size: inherit;
          .ico {
              display: none;
          }
          &:hover {
              text-decoration: underline;
              transform: none;
          }
      }

      &__image {
          max-width: 100%;
          max-height: 100%;
      }

  }

  &.error {
      display: none;
  }
}