// кастомный загрузчик файлов
// общие стили

.file-loader {

  /* Надпись Файл не выбран */
  &__empty {
      margin-left: 10px;
      margin-right: 10px;
      color: $secondaryTextColor;

      [data-files] & {
          display: none;
      }
  }

  /* Контейнер для превьюшек */
  &__preview {
      display: none;

      [data-previews] & {
          display: block;
      }
  }

  /* Сообщение */
  &__message {
      &:empty { display: none; }
      font-size: $secondaryFontSize;
      
      cursor: pointer;

      [data-error] & {
          color: $errorColor;
      }
  }
}

/* TODO: wtf? */
.trest {
    div {
        color: red;
    }
}

.file-preview {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
      max-width: 50px;
      max-height: 50px;
  }
  &__controls {
      margin-top: 0px;
      margin-left: 10px;
  }
  &__clear {
      cursor: pointer;
      font-size: 0;
      @include hover-rotate;
      .ico {
          display: block;
          color: $mainColor;
      }
  }
  &__preloader {
      display: none;
  }

  .file-preview__text ~ .file-preview__controls {
      align-self: flex-start;
      padding-top: 4px;
  }

}
