.test-image-loader {
  margin-bottom: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .file-loader {
    
    &__previews {
      display: none;
      flex-grow: 1;
    }
    &__image {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__dropzone {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      color: lightgray;
    }
    &__dropzone-button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      
      cursor: pointer;
    } 
  }

  .file-preview {
    display: flex;
    flex-direction: column;

    &__progress {
      display: none;
    }
    &__image {
      flex-grow: 1;
      display: flex;
      align-items: center;
      max-width: none;
      max-height: none;
    }
    &__clear {
      display: flex;
      align-items: center;
      justify-content: center;

      .ico {
        display: none;
      }
    }
  }

  img {
    max-width: 100%;
    max-height: 200px;
  }

  &[data-previews] {

    .file-loader {
      &__previews {
        display: flex;
      }
      &__dropzone {
        display: none;
      }
    }
  }

  &[data-error] {
    .file-loader {
      &__dropzone {
        display: flex;
        color: var(--danger);
      }
      &__message {
        color: var(--danger);
      }
    }
  }
}
