@mixin profileSection {
  position: relative;
  text-decoration: none;
  display: block;
  cursor: pointer;

  &.active {
      &:before {
          content: '';
          position: absolute;
          top: 0; bottom: 0;
          left: 0;
          width: 0;
          border-left: 5px solid $mainColor;
      }
  }

  @media screen and (min-width: $breakpointSidebarAppear) {
      &.active { 
          cursor: default;
      }
  }
}

.account {
  &-sidebar {
        position: sticky;
        top: $headerHeight + 30px;

        &__block {
            background: $colorWhite;
            margin-bottom: 30px;
        }

        .user {
            padding: 20px;
            text-align: center;

            @include profileSection();
    
            &-avatar { 
                margin: 0 auto 20px;
                
                &__figure {
                    width: 70px;
                    height: 70px;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 50%;
                    overflow: hidden;
                    position: relative;
                    cursor: pointer;
                    border: 2px solid transparent;
                    transition: border-color $animationDuration;
                }

                &__image {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    border-radius: inherit;
                    border: 2px solid white;
                    background-repeat: no-repeat;
                    background-color: $lightColor;
                    background-size: cover;
                    background-position: center;
                }

                .avatar-preloader {
                    @include preloaderBg();
                    position: absolute;
                    top: 15px; bottom: 15px;
                    left: 15px; right: 15px;
                    display: none;
                }

                &[data-progress] {
                    .user-avatar__image {
                        opacity: 0.5;
                    }
                    .avatar-preloader {
                        display: flex;
                    }
                }
    
                .avatar-loader {
                    position: absolute;
                    top: -2px; bottom: -2px;
                    left: -2px;
                    right: -2px;
                    opacity: 0;
                    transition: opacity $animationDuration;
                    background: transparentize($color: $colorWhite, $amount: 0.2);
                    display: flex;
                    cursor: pointer;

                    input {
                        display: none;
                    }

                    .ico {
                        margin: auto;
                        color: $mainColor;
                    }
                }

                &__figure:hover, &[data-drop] {
                    .avatar-loader {
                        opacity: 1;
                    }
                }

                
            }
    
            &__name {
                font-size: $accountUserNameFontSize;
                font-weight: 900;
                color: $mainColor;
            }

            &__data {
                font-size: $secondaryFontSize;
                color: $secondaryTextColor;
            }
        }

        &__exit {
            color: $secondaryTextColor;
            font-weight: 700px;
            text-decoration: none;
            padding-left: 20px;
            padding-right: 20px;
        }
  }

  &-section {
      display: flex;
      height: 64px;
      align-items: center;
      padding: 20px;

      @include profileSection();

      &__title {
          font-size: $accountSidebarFontSize;
          color: $mainColor;
      }

      &__count {
          margin-left: 10px;
      }

      &:after {
          content: '';
          position: absolute;
          left: 20px; right: 20px;
          bottom: 0;
          height: 0;
          border-top: 1px solid $lightColor;
      }

      &:last-child {
          &:after {
              display: none;
          }
      }

      &:hover {
          background: transparentize($color: $mainColor, $amount: 0.8);

          &:after {
              display: none;
          }
      }
  }

  .page-padding {
      padding-top: 0;
  }

  &-back {
      padding: 5px $gridGap;
      color: $secondaryTextColor;
      box-shadow: $bottomShadow;
      margin-bottom: 20px;
      transition: color $animationDuration;
      cursor: pointer;

      &:hover {
          color: $mainTextColor;
      }
  }
}

.account-page {
  .page-sidebar {
      position: absolute;
      left: 0;
      top: $headerHeight;
      width: 100%;
      transform: translateX(-100%);
      z-index: $accountSidebarZIndex;
  }
  .page-content {
      padding-top: 30px;

      @media screen and (min-width: $breakpointSidebarAppear) {
          & {
              padding-top: 0;
          }
      }
  }
}

.back-to-account {
  box-shadow: $bottomShadow;
  height: 30px;
  display: flex;
  align-items: center;
  color: $secondaryTextColor;
  opacity: 1;
  transition: opacity $animationDuration;
  cursor: pointer;

  position: fixed;
  left: 0;
  right: 0;
  top: $headerHeight;
  z-index: $accountBarZIndex;
  background-color: $pageBg;

  body.account-opened & {
      visibility: hidden;
      opacity: 0;
  }
}

@media screen and (min-width: $breakpointSidebarAppear) {
  .account {
      .page-padding {
          padding-top: $pagePaddingTop;
      }
  }

  .account-page {
      .page-sidebar {
          display: block;
          width: auto;

          position: static;
          transform: none;
      }

      .back-to-account {
          display: none;
      }
  }
}

.user-resume {
  &[data-loaded] {
      .user-resume__load {
          display: none;
      }
  }

  &:not([data-loaded]) {
      .user-resume__edit {
          display: none;
      }
  }
}

.nickname {
    display: inline-block;
    padding: 0 10px;
    max-width: 100%;

    &__view {
        cursor: pointer;
        
        .ico {
            transition: color $animationDuration;
        }

        &:hover {
            .ico {
                color: inherit;
            }
        }
    }

    &__text {
        word-break: break-all;
    }

    &__edit {
        input {
            margin: 0 5px;
            border: none;
            border-bottom: 1px solid $borderColor;
            width: 200px;
            max-width: calc(100% - 60px);
        }
        button[type="submit"] {
            &, &:focus {
                background-color: transparent;
            border: none;
            outline: none;
            }
            
        }

        .error {
            font-weight: normal;
        }
    }

    .edit-nickname {

    }
}