.error-screen {
  text-align: center;
  color: $mainColor;
  font-size: 1.4rem;

  &__code {
    font-size: $errorCodeFontSize;
    color: $errorCodeColor;
    font-family: $secondaryFont;
    font-weight: bold;
  }
}