.post {
    background: $colorWhite;
    padding: 20px 20px 1px;

    &__header {
        position: relative;

        .editblock {
            float: right;
            margin-left: 20px;
        }
    }

    &__title {
        margin-top: 0;
        word-break: break-word;
    }

    .tagbar {
        margin: 20px 0;

        .button {
            margin-right: 10px;
        }

        .views {
            white-space: nowrap;
        }

        .share-wrapper {
            display: none;
        }
    }

    &__image {
        width: 100%;
    }

    &__content {
        word-break: break-word;
        
        @include contentElements;
        
        color: $mainTextColor;
        font-weight: 500;
        line-height: 1.7;

        padding-bottom: 40px;

        .post-full {
            @include article-full();
        }

        .post-inset {
            margin-top: 20px;
            margin-bottom: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            line-height: 1.4;
        }

        .quote {
            @include article-full();

            border-left: 6px solid $quoteLineColor;

            &__content {
                display: flex;
                
                margin-bottom: 10px;
                position: relative;

                .ico {
                    color: $secondaryTextColor;
                    transform: rotate(180deg);
                    flex-shrink: 0;
                    margin-right: 10px;
                }
            }

            &__cite {
                text-align: right;
                color: $secondaryTextColor;
            }

            @media screen and (min-width: $breakpointMobile) {
                margin-left: 0;
                margin-right: 0;
                padding-left: 20px;
                padding-right: 20px;
            }
        }


        .warning {
            background-color: $warningBlockBg;

            &__title {
                color: $warningColor;
            }
        }

        .delimiter {
            color: $secondaryTextColor;
            font-size: 2em;
            margin: 10px 0;
        }

        .spoiler {
            border-radius: $cardRadius;
            overflow: hidden;
            border: 1px solid transparentize($borderColor, 0.6);
            &__visible {
                cursor: pointer;
            }
            &__hidden {
                border-top: 1px solid transparentize($borderColor, 0.6);
            }
            .ico {
                position: relative;
                top: 5px;
                transition: transform $animationDuration;
                transform: rotate(0);
            }

            &.opened {
                .ico {
                    transform: rotate(-180deg);
                }
            }
        }
    }

    @media screen and (min-width: $breakpointMobile) {
        & {
            padding-left: 40px;
            padding-right: 40px;
        }

        .quote {
            .ico {
                display: block;
            }
        }
    }

    @media screen and (min-width: $breakpointTablet) {
        & {  
            .tagbar {
                .share-wrapper {
                    display: block;
                }
            }
        }
    }
}

.gist-code {
    table {
        tr {
            border-bottom: none;

            &:nth-of-type(n) {
                background: transparent;
            }
            
        }
    }
}
