.test-view {
  padding: $headerHeight 0 40px;;
  
  &__content {
    margin: 0;
  }

  &__counter {
    color: $secondaryTextColor;
  }

  &__question {
    margin: 10px 0;
  }

  &__variants {
    margin: 20px 0;
  }

  &-variant {
    margin: 10px 0;

    &__text, &__code {
      cursor: pointer;
    }

    &__button {
      width: 24px;
      height: 24px;

      border-radius: 50%;

      border: 4px solid $lightColor;

      margin-right: 10px;

      cursor: pointer;

      &:hover {
        border-color: transparentize($mainColor, 0.6);
      }
    }

    &__text:hover + .test-view-variant__button,
    &__code:hover + .test-view-variant__button {
      border-color: transparentize($mainColor, 0.6);
    }

    &__image {
      position: relative;
      cursor: pointer;

      img {
        max-width: 100%;
        height: 160px;
        margin: 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparentize($mainColor, 0.4);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M13 10h-3v3h-2v-3h-3v-2h3v-3h2v3h3v2zm8.172 14l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z'/%3E%3C/svg%3E");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 72px 72px;
        opacity: 0;
        transition: opacity $animationDuration;
        pointer-events: none;
      }

      &:hover:before {
        opacity: 1;
      }
    }

    &.disabled {
      .test-view-variant {
        &__button {
          &, &:hover {
            border-color: $lightColor;
          }
        }
      }
    }

    &.checked {
      .test-view-variant {
        &__button {
          &, &:hover {
            border-color: $mainColor;
          }
        }
      }
    }

    &.correct {
      .test-view-variant {
        &__button {
          &, &:hover {
            border-color: $successColor;
          }
        }
      }
    }

    &.checked.incorrect {
      .test-view-variant {
        &__button {
          &, &:hover {
            border-color: $errorColor;
          }
        }
      }
    }


  }

  &-explanation {
    margin-bottom: 20px;
    
    p, &__title {
      margin: 10px 0;
    }

    &.correct {
      .incorrect {
        display: none;
      }
    }

    &.incorrect {
      .correct {
        display: none;
      }
    }
  }

  &-result {
    color: $mainColor;
  }
}