
<div class="popup authorization" id="authorization">
    <div class="authorization__container flex">
        <div class="brand pa-2 flex-center">
            <img src="{{ asset('img/site/proglib.svg') }}" width="160" height="40" 
                title="Библиотека программиста proglib.io" 
                alt="Библиотека программиста proglib.io"/>

            <footer class="authorization__confirm">
                Авторизуясь, вы соглашаетесь с <a href="{{ path('user_agreement') }}" target="_blank">правилами пользования сайтом</a> и даете <a href="{{ path('privacy_policy') }}" target="_blank">согласие на обработку персональных данных</a>.
            </footer>
        </div>
        <div class="popup__content flex-column-between">
            <div class="popup__close hover-rotate">
                <div class="ico ico-close ico_20"></div>
            </div>

            

            <div class="authorization__buttons flex-column">
                <div class="flex-center">
                    <span class="auth-button" data-social="vk" onclick="window.location.href='{{ path('connect_vk_start') }}'">
                        <span class="ico ico-vk ico_48"></span>
                        vkontakte
                    </span>
                    <span class="auth-button" data-social="google" onclick="window.location.href='{{ path('connect_google_start') }}'">
                        <span class="ico ico-google ico_40"></span>
                        google
                    </span>
                </div>
                <div class="flex-center">
                    <span class="auth-button" data-social="github" onclick="window.location.href='{{ path('connect_github_start') }}'">
                        <span class="ico ico-github ico_48"></span>
                        github
                    </span>
                    <span class="auth-button" data-social="fb" onclick="window.location.href='{{ path('connect_facebook_start') }}'">
                        <span class="ico ico-fb ico_40"></span>
                        facebook
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>