{% set complainReasons = [
  "Спам",
  "Оскорбление",
  "Материал для взрослых",
  "Детская порнография",
  "Пропаганда наркотиков",
  "Продажа оружия",
  "Насилие",
  "Призыв к травле",
  "Призыв к суициду",
  "Жестокое обращение с животными",
  "Введение в заблуждение",
  "Мошенничество",
  "Экстремизм",
  "Неоригинальный контент",
] %}

<div class="popup popup_large no-mail complain" id="complain" data-type="post">
  <div class="popup__content">
    <div class="popup__close hover-rotate">
      <div class="ico ico-close"></div>
    </div>
    <div class="popup__text">
      <h3 class="h2" data-type-visible="post">Что не так с этим материалом?</h3>
      <h3 class="h2" data-type-visible="comment">Что не так с этим комментарием?</h3>
      <h3 class="h2" data-type-visible="test">Что не так с этим тестом?</h3>
      
      <form class="form text-left complain__form" method="POST" action="">
        <div class="row flex-wrap">
          {% for reason in complainReasons %}
            <div class="col-6">
              <label class="checkbox">
                <input type="checkbox" value="{{ reason }}" name="reasons">
                <span>{{ reason }}</span>
              </label>
            </div>
          {% endfor %}
        </div>

        <div class="pt-6">
          <textarea class="complain__field" name="complain-text"></textarea>
        </div>

        <input type="hidden" name="complain-type" value="post">
        <input type="hidden" name="complain-id" value="">

        <div class="popup__button">
          <button class="btn btn-large btn-primary" type="submit" disabled>Пожаловаться</button>
        </div>
      </form>

      
    </div>
  </div>
</div>