<div class="popup no-mail" id="no-mail">
    <div class="popup__content">
        <div class="popup__close hover-rotate">
            <div class="ico ico-close"></div>
        </div>
        <div class="popup__text">
            <section class="no-mail__request">
                <div class="color_main mb-4 no-mail__title"></div>

                <form class="form ph-4" id="no-mail-form" data-validate data-on-submit>
                    <input class="form__input form__input_full" type="email" value="" placeholder="ivan.ivanov@mail.ru" required>

                    <p class="secondary-text no-mail__message"></p>

                    <div class="popup__button">
                        <button class="btn btn-large btn-primary" type="submit">Отправить</button>
                    </div>
                </form>
            </section>
            <section class="no-mail__confirm hidden">
                <div class="color_main mb-4">Пожалуйста, проверьте ваш почтовый ящик.</div>
                <div class="secondary-text"> Если письмо не пришло, проверьте папку Спам.</div>
            </section>
        </div>
    
    </div>
</div>

<script>
    (function() {
        let mailPopup;
        let form = document.getElementById('no-mail-form');
        let mail = form.querySelector('input[type="email"]');

        let $popup = document.getElementById('no-mail');

        let preparePopup = function(config) {
            $popup.querySelector('.no-mail__title').innerHTML = config.title;
            $popup.querySelector('.no-mail__message').innerHTML = config.message;

            $popup.querySelector('.no-mail__request').classList.remove("hidden");
            $popup.querySelector('.no-mail__confirm').classList.add("hidden");
        }

        window.onReady('popup', function() {
            mailPopup = new Popup($popup);
            window.ready('mail-popup');
        });

        window.openMailPopup = function openMailPopup(config) {
            window.onReady(['mail-popup', 'validator'], function() {
                preparePopup(config);
                mailPopup.open();

                API("destroy_popup")
                    .catch(function(e) { });

                if (!form.validator) {
                    form.validator = new FormValidator(form);
                }

                form.addEventListener("FormValidator.events.validated", function(e) {
                    let data = new FormData();
                    data.append("mail", mail.value);
                    API(config.method, {}, data)
                        .then(function(res) { // письмо ушло
                            $popup.querySelector('.no-mail__request').classList.add("hidden");
                            $popup.querySelector('.no-mail__confirm').classList.remove("hidden");
                        })
                        .catch(function(e) {
                            mailPopup.close();
                            if (config.onError) config.onError(e);
                        })
                }, { once: true });
            })
        }
    })();
</script>