{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}

{% if currentPath == path('admin_tasks_all') %}

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('admin_tasks_all') }}">Все ({{ count.all }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_current') }}">Текущие ({{ count.current }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_express') }}">Срочные ({{ count.express }})</a>
        </li>
        {% if is_granted('ROLE_EDITOR') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_in_work') }}">В работе ({{ count.work }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_on_review') }}">На проверке ({{ count.onReview }})</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_closed') }}">Завершенные ({{ count.closed }})</a>
        </li>
    </ul>

{% elseif currentPath == path('admin_tasks_current') %}

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_all') }}">Все ({{ count.all }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('admin_tasks_current') }}">Текущие ({{ count.current }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_express') }}">Срочные ({{ count.express }})</a>
        </li>
        {% if is_granted('ROLE_EDITOR') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_tasks_in_work') }}">В работе ({{ count.work }})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_tasks_on_review') }}">На проверке ({{ count.onReview }})</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_closed') }}">Завершенные ({{ count.closed }})</a>
        </li>
    </ul>

{% elseif currentPath == path('admin_tasks_express') %}

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_all') }}">Все ({{ count.all }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_current') }}">Текущие ({{ count.current }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('admin_tasks_express') }}">Срочные ({{ count.express }})</a>
        </li>
        {% if is_granted('ROLE_EDITOR') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_tasks_in_work') }}">В работе ({{ count.work }})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_tasks_on_review') }}">На проверке ({{ count.onReview }})</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_closed') }}">Завершенные ({{ count.closed }})</a>
        </li>
    </ul>

{% elseif currentPath == path('admin_tasks_in_work') %}

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_all') }}">Все ({{ count.all }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_current') }}">Текущие ({{ count.current }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_express') }}">Срочные ({{ count.express }})</a>
        </li>
        {% if is_granted('ROLE_EDITOR') %}
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('admin_tasks_in_work') }}">В работе ({{ count.work }})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_tasks_on_review') }}">На проверке ({{ count.onReview }})</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_closed') }}">Завершенные ({{ count.closed }})</a>
        </li>
    </ul>
{% elseif currentPath == path('admin_tasks_in_work') %}

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_all') }}">Все ({{ count.all }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_current') }}">Текущие ({{ count.current }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_express') }}">Срочные< ({{ count.express }})</a>
        </li>
        {% if is_granted('ROLE_EDITOR') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_tasks_in_work') }}">В работе ({{ count.work }})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('admin_tasks_on_review') }}">На проверке ({{ count.onReview }})</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('admin_tasks_closed') }}">Завершенные ({{ count.closed }})</a>
        </li>
    </ul>
{% elseif currentPath == path('admin_tasks_closed') %}

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_all') }}">Все ({{ count.all }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_current') }}">Текущие ({{ count.current }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_express') }}">Срочные ({{ count.express }})</a>
        </li>
        {% if is_granted('ROLE_EDITOR') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_tasks_in_work') }}">В работе ({{ count.work }})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_tasks_on_review') }}">На проверке ({{ count.onReview }})</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('admin_tasks_closed') }}">Завершенные ({{ count.closed }})</a>
        </li>
    </ul>
{% elseif currentPath == path('admin_tasks_on_review') %}

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_all') }}">Все ({{ count.all }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_current') }}">Текущие ({{ count.current }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_express') }}">Срочные ({{ count.express }})</a>
        </li>
        {% if is_granted('ROLE_EDITOR') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_tasks_in_work') }}">В работе ({{ count.work }})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('admin_tasks_on_review') }}">На проверке ({{ count.onReview }})</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_tasks_closed') }}">Завершенные ({{ count.closed }})</a>
        </li>
    </ul>

{% endif %}
