{# иконочное меню в шапке (справа) #}
{% set headerIconsMenuItems = [
  {
    link: "#",
    icon: "bell",
    badge: {
      type: "danger",
      text: 5
    }
  },
  {
    link: "#",
    icon: "list"
  },{
    link: "#",
    icon: "location-pin"
  }
] %}

{# выпадающее меню юзера #}
{% set userMenuItems = [
  {
    groupName: "Account",
    items: [
      {
        link: "#",
        fa: "bell-o",
        title: "Updates",
        badge: {
          type: "info",
          text: 42
        }
      },
      {
        link: "#",
        fa: "envelope-o",
        title: "Messages",
        badge: {
          type: "success",
          text: 42
        }
      },
      {
        link: "#",
        fa: "tasks",
        title: "Tasks",
        badge: {
          type: "danger",
          text: 42
        }
      },
      {
        link: "#",
        fa: "comments",
        title: "Comments",
        badge: {
          type: "warning",
          text: 42
        }
      }
    ],
  },{
    groupName: "Settings",
    items: [
      {
        link: "#",
        fa: "user",
        title: "Profile",
      },
      {
        link: "#",
        fa: "wrench",
        title: "Settings",
      },
      {
        link: "#",
        fa: "usd",
        title: "Payments",
        badge: {
          type: "secondary",
          text: 42
        }
      },
      {
        link: "#",
        fa: "file",
        title: "Projects",
        badge: {
          type: "primary",
          text: 42
        }
      }
    ]
  },{
    items: [
      {
        link: "#",
        fa: "shield",
        title: "Lock Account",
      },
      {
        link: "#",
        fa: "lock",
        title: "Logout",
      }
    ]
  }
] %}

<header class="app-header navbar">
  {# управляет левым сайдбаром (мобильный вид) #}
  <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
    <span class="navbar-toggler-icon"></span>
  </button>

  {# лого #}
  <a class="navbar-brand" href="{{ path('proglib_app') }}">
    <img class="navbar-brand-full" src="{{ asset('img/site/frog.png') }}" width="40" height="40" alt="Proglib Logo">
    <img class="navbar-brand-minimized" src="{{ asset('img/site/frog.png') }}" width="40" height="40" alt="Proglib Logo">
  </a>

  {# управляет левым сайдбаром (десктопный вид) #}
  <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
    <span class="navbar-toggler-icon"></span>
  </button>

  {# меню в шапке (слева) #}
  <ul class="nav navbar-nav d-md-down-none">

  </ul>

  {# иконочное меню в шапке (справа) #}
  <ul class="nav navbar-nav ml-auto">
    
    {% for item in headerIconsMenuItems %}
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="{{ item.link }}">
            <i class="icon-{{ item.icon }}"></i>
            {% if item.badge is defined %}
              <span class="badge badge-pill badge-{{ item.badge.type }}">{{ item.badge.text }}</span>
            {% endif %}
          </a>
        </li>
    {% endfor %}
    
    <li class="nav-item dropdown">
      {# юзерпик #}
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <img class="img-avatar" src="{{ asset('img/site/duserpic.png') }}" alt="admin@bootstrapmaster.com">
      </a>
      {# выпадающее меню юзера #}
      <div class="dropdown-menu dropdown-menu-right">
        
        {% for group in userMenuItems %}
          {% if group.name is defined %}
            <div class="dropdown-header text-center">
              <strong>{{ group.name }}</strong>
            </div>
          {% else %}
            <div class="dropdown-divider"></div>
          {% endif %}

          {% for item in group.items %}
            <a class="dropdown-item" href="{{ item.link }}">
              <i class="fa fa-{{ item.fa }}"></i> {{ item.title }}
              {% if item.badge is defined %}
                <span class="badge badge-{{ item.badge.type }}">{{ item.badge.text }}</span>
              {% endif %}
            </a>
          {% endfor %}

        {% endfor %}

      </div>
    </li>
  </ul>

  {# управляет правым сайдбаром (десктопный вид) #}
  <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
    <span class="navbar-toggler-icon"></span>
  </button>
  {# управляет правым сайдбаром (мобильный вид) #}
  <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>