{% set breadcrumbsMenu = [
  {
    icon: "speech",
    link: "#",
    title: ""
  },
  {
    icon: "graph",
    link: "#",
    title: "Dashboard"
  },
  {
    icon: "settings",
    link: "#",
    title: "Settings"
  }
]%}

{% if breadcrumbs is not defined %}
  {% set breadcrumbs = [] %}
{% endif %}

<!-- Breadcrumb-->
<ol class="breadcrumb">
  <li class="breadcrumb-item" {{ breadcrumbs|length > 0 ? '' : 'active' }}>
    {% if breadcrumbs|length > 0 %}
      <a href="{{ path('admin_profile') }}">Главная</a>
    {% else %}
      Главная
    {% endif %}
  </li>
  {% for item in breadcrumbs %}
    {% set active = loop.index == breadcrumbs|length %}
    <li class="breadcrumb-item {{ active ? 'active' : '' }}">
      {% if item.link is defined %}
        <a href="{{ item.link }}">{{ item.title }}</a>
      {% else %}
        {{ item.title }}
      {% endif %}
    </li>
  {% endfor %}

  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group">
      {% for btn in breadcrumbsMenu %}
        <a class="btn" href="{{ btn.link }}">
          <i class="icon-{{ btn.icon }}"></i> {{ btn.title }}
        </a>
      {% endfor %}
    </div>
  </li>
</ol>