{% set leftAdminSidebarItems = [
  {
    visible: true,
    title: "Главная",
    link: path('admin_me'),
    icon: "speedometer",
    badge: {
      type: "primary",
      text: ""
    }
  },
  {
    visible: true,
    title: "УПРАВЛЕНИЕ",
    items: [
      {
        visible: is_granted('ROLE_SIMPLE_ADMIN'),
        title: "Пользователи",
        link: "#",
        icon: "user",
        items: [
          {
            visible: true,
            title: "Пользователи",
            link: path('admin_users_all'),
            icon: true
          },
          {
            visible: true,
            title: "Авторы",
            link: path('admin_members_all'),
            icon: true
          }
        ],
      },
      {
        visible: is_granted('ROLE_CHIEF_EDITOR'),
        title: "Теги",
        link: path('admin_tags_index'),
        icon: "tag"
      },
      {
        visible: true,
        title: "Задачи",
        link: "#",
        icon: "layers",
        items: [
          {
            visible: true,
            title: "Все задачи",
            link: path('admin_tasks_all'),
            icon: true
          },
          {
            visible: is_granted('ROLE_EDITOR'),
            title: "Создать",
            link: path('admin_tasks_create'),
            icon: true
          },
        ]
      },
      {
        visible: true,
        title: "Публикации",
        link: "#",
        icon: "pencil",
        items: [
          {
            visible: true,
            title: "Новая публикация",
            link: path("admin_work_post_create"),
            icon: true
          },
          {
            visible: is_granted('ROLE_EDITOR'),
            title: "На проверке",
            link: "#",
            icon: true,
            badge: {
              type: "info",
              text: 222
            }
          },
          {
            visible: is_granted('ROLE_EDITOR'),
            title: "Битые ссылки",
            link: "#",
            icon: true,
            badge: {
              type: "danger",
              text: 10
            }
          },
          {
            visible: true,
            title: "Bounce rate",
            link: "#",
            icon: true
          },
        ]
      },
      {
        visible: true,
        title: "Тесты",
        link: "#",
        icon: "puzzle",
        items: [
          {
            visible: true,
            title: "Новый тест",
            link: path("admin_test_create"),
            icon: true
          },
        ]
      }
    ]
  },
  {
    visible: is_granted('ROLE_CHIEF_EDITOR'),
    title: "РЕКЛАМА",
    items: [
      {
        visible: true,
        title: "Новая реклама",
        link: "#",
        icon: "pencil"
      },
      {
        visible: true,
        title: "Новая вакансия",
        link: "#",
        icon: "pencil"
      },
      {
        visible: true,
        title: "Статистика",
        link: "#",
        icon: "graph",
        items: [
          {
            visible: true,
            title: "#1",
            link: "#",
            icon: "graph"
          },
          {
            visible: true,
            title: "#2",
            link: "#",
            icon: "graph"
          }
        ]
      }
    ]
  },
  {
    visible: true,
    title: "СЕРВИСЫ",
    items: [
      {
        visible: true,
        title: "Логи",
        link: "#",
        icon: "settings",
        items: [
          {
            visible: true,
            title: "#1",
            link: "#",
            icon: "settings"
          },
          {
            visible: true,
            title: "#2",
            link: "#",
            icon: "settings"
          }
        ]
      }
    ]
  }
]%}

{% import _self as menu %}

{% macro menuItemTitle(data, hasDropdown) %}
  {# заголовок пункта меню #}
    {% if data.link is defined %}
      <a class="nav-link {{ hasDropdown ? 'nav-dropdown-toggle' : '' }}" href="{{ data.link }}">
    {% else %}
      <div class="nav-link {{ hasDropdown ? 'nav-dropdown-toggle' : '' }}">
    {% endif %}

      {% if data.icon is defined %}
        <i class="nav-icon icon-{{ data.icon }}"></i>
      {% endif %}

      {{ data.title }}

      {% if data.badge is defined %}
        <span class="badge badge-{{ data.badge.type }}">{{ data.badge.text }}</span>
      {% endif %}

    {% if data.link is defined %}
      </a>
    {% else %}
      </div>
    {% endif %}
  {# /заголовок пункта меню #}
{% endmacro %}

<div class="sidebar">
  <nav class="sidebar-nav">
  <ul class="nav">
    {# 
      верхний уровень
      группы вкладок с заголовком (разворачиваются)
      или без заголовка (не разворачиваются)
    #}
    {% for item1 in leftAdminSidebarItems %}
      {% if item1.visible is defined and item1.visible %}
        {% set hasDropdown = item1.items is defined %}
        <li class="nav-item {{ hasDropdown ? 'nav-dropdown' : ''}}">

          {# заголовок пункта меню #}
            {{ menu.menuItemTitle(item1, hasDropdown) }}
          {# /заголовок пункта меню #}

          {# 
            второй уровень
            выпадающее меню 
          #}
            {% if hasDropdown %}
              <ul class="nav-dropdown-items">

                {% for item2 in item1.items %}
                  {% if item2.visible is defined and item2.visible %}
                    {% set hasDropdown = item2.items is defined %}
                    <li class="nav-item {{ hasDropdown ? 'nav-dropdown' : ''}}">

                      {{ menu.menuItemTitle(item2, hasDropdown) }}

                      {# 
                        третий уровень
                        выпадающее меню 
                      #}
                        {% if hasDropdown %}
                          <ul class="nav-dropdown-items">

                            {% for item3 in item2.items %}
                              {% if item3.visible is defined and item3.visible %}
                                <li class="nav-item">

                                  {{ menu.menuItemTitle(item3, false) }}
                                </li>
                              {% endif %}
                            {% endfor %}

                          </ul>
                        {% endif %}
                      {# / третий уровень - выпадающее меню #}

                    </li>
                  {% endif %}
                {% endfor %}

              </ul>
            {% endif %}
          {# / второй уровень - выпадающее меню #}

        </li>
      {% endif %}
    {% endfor %}
  </ul>

{#      {{ knp_menu_render('sidebar', {'currentClass': 'active'}) }}#}
    
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>