{% for workEvent in workEvents %}

<div class="message">
    <div class="py-3 pb-5 mr-3 float-left">
        <div class="avatar">
            <img class="img-avatar" src="{{ workEvent.avatar ? asset(workEvent.avatar) : asset('img/site/duserpic.png') }}">
            <span class="avatar-status badge-success"></span>
        </div>
    </div>
    <div>
        <small class="text-muted">{{ workEvent.name }}</small>
        <small class="text-muted float-left mt-1">{{ workEvent.executed_at|date('Y-m-d H:i:s') }}</small>
    </div>
    <small class="text-body">{{ workEvent.content }}</small>
    <div class="font-weight">{{ workEvent.resume }}</div>
</div>
<hr>
{% endfor %}