<section class="comments mt-6" id="comments" data-comments-count={{ comments|length }}>
    {% set commentsLocation = "post" %}
    {% include "components/comments/commentFormTemplate.html.twig" %}
    {% include "components/comments/markdownHelp.html.twig" %}

    <div class="flex-between-middle-wrap">
        <h2 class="h2">Комментарии</h2>
    </div>

    {% set commentsFormId = "comments-form" %}
    {% include "components/comments/commentForm.html.twig" %}
    {% set commentsFormId = false %}
    <div data-load-wrapper>
        <div class="mv-4 comments__branches" data-load-container>
            {% include "components/feeds/commentsFeed.html.twig" %}
        </div>

        {# load more #}
            <div class="flex-center">
                <button class="btn btn-primary load-more mv-1 {{ remainingPages > 0 ? '' : 'hidden' }}">
                    Загрузить ещё 
                </button>
            </div>
        {# /load more #}
    </div>
</section>


