{% import "macro/articleContentMacro.html.twig" as blockTypes %}

{% if blocks %}
    {% for block in blocks %}

        {% if block.type == "paragraph" %}
            {{ blockTypes.paragraph(block.data) }}
        {% elseif block.type == "header" %}
            {{ blockTypes.header(block.data) }}
        {% elseif block.type == "delimiter" %}
            {{ blockTypes.delimiter(block.data) }}
        {% elseif block.type == "code" %}
            {{ blockTypes.code(block.data) }}
        {% elseif block.type == "list" %}
            {{ blockTypes.list(block.data) }}
        {% elseif block.type == "checkList" %}
            {{ blockTypes.checkList(block.data) }}
        {% elseif block.type == "image" %}
            {{ blockTypes.image(block.data) }}
        {% elseif block.type == "quote" %}
            {{ blockTypes.quote(block.data) }}
        {% elseif block.type == "raw" %}
            {{ blockTypes.raw(block.data) }}
        {% elseif block.type == "table" %}
            {{ blockTypes.table(block.data) }}
        {% elseif block.type == "warning" %}
            {{ blockTypes.warning(block.data) }}
        {% elseif block.type == "button" %}
            {{ blockTypes.button(block.data, post.id) }}
        {% elseif block.type == "spoiler" %}
            {{ blockTypes.spoiler(block.data) }}
        {% elseif block.type == "embed" %}
            {{ blockTypes.embed(block.data) }}
        {% elseif block.type == "gist" %}
            {{ blockTypes.gist(block.data) }}
        {% endif %}

    {% endfor %}
{% endif %}