

{% set slides = recommendations %}
{% set sliderTitle = "Рекомендуем" %}
{% set sliderType = "recommendations" %}
{% extends "components/slider.html.twig" %}

{% block configureSlide %}
    {% set item = {
        link: path('single_post', {id: slide.id}),
        title: slide.title,
        description: slide.preview,
        previewImage: slide.previewImage
    } %}
    
    {% include "components/cards/card.html.twig" %}
{% endblock %}

