.slider {
  margin-bottom: 30px;
  position: relative;
  
  .card {
      width: 250px;
  }

  &__viewport {
      overflow: hidden;
      margin-left: -1 * $gridGap;
      margin-right: -1 * $gridGap;

      .inactive & {
          overflow: auto;
      }

      @include scrollbar("horizontal");
  }

  .slides {
      display: flex;
      padding-bottom: 5px;
  }

  .slide {
      
      margin-left: $gridGap;
      

      &:first-child {
          padding-left: $gridGap;
          
          margin-left: 0;
          
      }

      &:last-child {
          padding-right: $gridGap;
      }
  }

  &__thumb {
      opacity: 0;
      position: absolute;
      bottom: 1px;
      left: 0;
      width: 0;
      height: 5px;
      background: $mainColor;
      transition: opacity $animationDuration;
      border-radius: 5px;

      .moving & {
          opacity: 1;
      }
  }

  &__left, &__right {
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      
      opacity: 1;
      transition: opacity $animationDuration;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  &__left {
      left: 0;
  }

  &__right {
      right: 0;
  }

  &:hover {
    .slider__thumb {
        opacity: 1;
    }
  }


  @media screen and (min-width: $breakpointSidebarAppear) {
      &.unfold {
          .slides {
              flex-wrap: wrap;
          }
      }
      
      &__viewport {
          margin-right: 0;
          margin-left: 0;
      }

      .slide {
          //width: calc((100% - 40px) / 3);
          &:first-child {
              padding-left: $shadowOffset;
          }
  
          &:last-child {
              padding-right: $shadowOffset;
          }

          .card {
              //width: 100%;
          }
      }

      .slider__left, .slider__right {
          opacity: 0;

          &.inactive {
              color: $secondaryTextColor;
              pointer-events: none;
              cursor: default;
          }
      }

      &:hover {
          .slider__left, .slider__right {
              opacity: 1;
          }
      }
  }
}

.slider.slidebar {
  position: relative;
  display: flex;

  .hide-rest {
    display: none;
  }

  &.unfold[data-view="block"] {
      .hide-rest {
          display: block;
      }
  }

  .btn {
      margin: 0;
  }

  .slider__viewport {
      margin-left: -1 * $gridGap;
      margin-right: -1 * $gridGap;
  }



  .slider-rest {
      display: inline-block;
      position: relative;
      padding-left: 10px;
      &__more {
          margin-right: 0;
          &:before {
              content: "...";
          }
      }
  }

  .slides {
      padding-left: $gridGap;
  }

  .slide {
      margin-right: 0.5 * $gridGap - 4px;
      margin-left: 0;
      padding-left: 4px;
      margin-bottom: 10px;

      &:last-child {
          margin-right: 0;
      }
  }

  @media screen and (min-width: $breakpointSidebarAppear) {
      & {
          display: flex;
      }

      .slides {
          padding-right: 0;
          overflow: hidden;
          padding-left: 0;
      } 

      .slider__viewport {
          margin-right: 0;
          margin-left: -1 * $shadowOffset;
      }
  }
}

.user-tags {
    &.opened {
        [data-toggle-hide] {
            display: none;
        }
    }

    &:not(.opened) {
        [data-toggle-show] {
            display: none;
        }
    }
}