{% set unsubscribeLink = "#" %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="margin: 0; padding: 0; background-color: #f5f5f5;">
    <!--таблица-контейнер-->
    <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; background-color: #f5f5f5; color: #646464; font-family: Arial, sans-serif;" width="100%" >
        <tbody>
            <tr>
                <td align="center" style="padding-top: 20px; padding-bottom: 20px;">


                    <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; max-width: 600px; width: 100%; margin: auto; background-color: white;">

                        {# шапка письма #}
                        {% block mailHeader %}
                            <tr>
                                <td>    
                                    <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; background-color: #0b1233; width: 100%; color: white;">
                                        <tr>
                                            <td style="border: 0; margin: 0; padding-left: 40px; padding-right: 40px;" align="center" valign="center" width="100%" height="60">
                                                <a href="{{ absolute_url(path('proglib_app')) }}" style="text-decoration: none">
                                                    <img src="{{ absolute_url(asset('img/site/proglib.svg')) }}" width="160" height="40" alt="Библиотека программиста" title="Библиотека программиста">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                        {% endblock %}

                        {# основной контент письма #}
                        <tr>
                            <td>
                                {% block mailContent %}

                                {% endblock %}
                            </td>
                        </tr>
                        

                        {# футер письма #}
                        {% block mailFooter %}
                            <tr>
                                <td>    
                                    <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; background-color: #0b1233; width: 100%; color: white;">
                                        <tbody>
                                            <tr>
                                                <td style="border: 0; margin: 0; padding-left: 40px; padding-right: 40px;" align="center" valign="center" width="100%" height="60">
                                                    <a href="#" style="text-decoration: none; margin: 0 10px; -webkit-text-size-adjust:none;" target="_blank">
                                                        <img src="{{ absolute_url(asset('img/site/social/vk.png')) }}" width="24" height="24" alt="VK">
                                                    </a>
                                                    &nbsp;
                                                    <a href="#" style="text-decoration: none; margin: 0 10px; -webkit-text-size-adjust:none;" target="_blank">
                                                        <img src="{{ absolute_url(asset('img/site/social/fb.png')) }}" width="24" height="24" alt="FB">
                                                    </a>
                                                    &nbsp;
                                                    <a href="#" style="text-decoration: none; margin: 0 10px; -webkit-text-size-adjust:none;" target="_blank">
                                                        <img src="{{ absolute_url(asset('img/site/social/tg.png')) }}" width="24" height="24" alt="TG">
                                                    </a>
                                                    &nbsp;
                                                    <a href="#" style="text-decoration: none; margin: 0 10px; -webkit-text-size-adjust:none;" target="_blank">
                                                        <img src="{{ absolute_url(asset('img/site/social/in.png')) }}" width="24" height="24" alt="INST">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endblock %}
                    </table>
                </td>
            </tr>
            {# отписаться #}
            {% block unsubscribe %}
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; width: 100%; ">
                            <tbody>
                                <tr>
                                    <td style="border: 0; margin: 0; padding-left: 40px; padding-right: 40px; " align="center" valign="center" width="100%">
                                        <a href="{{ unsubscribeLink }}" style="font-size: 13px; color: #B2B2B2; font-family: Arial, sans-serif; -webkit-text-size-adjust:none;">Отписаться от рассылки</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endblock %}
        </tbody>
    </table><!--конец контейнера-->
</body>
</html>