{% macro spacer(height) %}
    <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; width: 100%;">
        <tbody>
            <tr>
                <td style="margin: 0; height: {{ height }}px; font-size: 0; color: transparent;"></td>
            </tr>
        </tbody>
    </table> 
{% endmacro %}

{% macro link(text, link, style) %}
    <a href="{{ absolute_url(link) }}" style="color: #378FF6; font-family: Arial, sans-serif; -webkit-text-size-adjust:none;">{{ text|raw }}</a>
{% endmacro %}

{% macro text(text, align, style) %}
    <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; width: 100%;">
        <tbody>
            <tr>
                <td style="margin: 0; padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px; {{ style }}" align={{ align ? align : 'left' }}>
                    {{ text|raw }}
                </td>
            </tr>
        </tbody>
    </table> 
{% endmacro %}

{% macro note(text, align, style) %}
    <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; width: 100%;">
        <tbody>
            <tr>
                <td style="margin: 0; padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px; font-size: 14px; color: #B2B2B2; {{ style }}" align={{ align ? align : 'left' }}>
                    {{ text|raw }}
                </td>
            </tr>
        </tbody>
    </table> 
{% endmacro %}

{% macro title(text, align, style) %}
    <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; width: 100%;">
        <tbody>
            <tr>
                <td style="margin: 0; padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px; font-size: 20px; font-weight: bold; color: #0b1233; {{ style }}" align={{ align ? align : 'center' }}>
                    {{ text|raw }}
                </td>
            </tr>
        </tbody>
    </table> 
{% endmacro %}

{% macro button(text, link, style, linkStyle) %}
    <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; width: 100%;">
        <tbody>
            <tr>
                <td style="margin: 0; padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px; {{ style }}" align="center">
                    <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; background-color: #0b1233; border-radius: 10px; {{ style }}">
                        <tbody>
                            <tr>
                                <td style="margin: 0; padding: 0;">
                                    <a style="color: #333333; font: 16px Arial, sans-serif; line-height: 40px; -webkit-text-size-adjust:none; display: block; padding-left: 20px; padding-right: 20px; color: white; cursor: pointer; text-decoration: none; {{ linkStyle }}" target="_blank" href={{ absolute_url(link) }}>
                                        {{ text }}
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table> 
{% endmacro %}