{% set breadcrumbs = [
  {
    title: "Тесты",
    link: "#"
  },
  {
    title: "Новый тест",
    active: true
  }
] %}

{% extends "admin/adminLayout.html.twig" %}

{% block adminContent %}
  <div class="test x-editor" data-test>
    <div class="invalid-feedback pb-4 x-editor__error"></div>

    {# редактирование вопроса теста #}
    <template id="test-question-template">
      <div class="card test-question">
        {# Выбор типа варианта #}
        <div class="test-question__variants-popup modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-primary" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Выберите тип варианта</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="card text-white bg-primary text-center test-question__create-variant" data-test-create-variant="image"
                      title="Вариант ответа в виде изображения">
                      Картинка
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card text-white bg-primary text-center test-question__create-variant" data-test-create-variant="text"
                      title="Вариант ответа в виде текста">
                      Текст
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card text-white bg-primary text-center test-question__create-variant" data-test-create-variant="code"
                      title="Вариант ответа в виде фрагмента кода">
                      Код
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {# /Выбор типа варианта #}

        <div class="card-header d-flex justify-content-between align-items-center">
          <div>Редактирование вопроса</div>
          <div>
            <button class="btn btn-danger" data-delete title="Удалить вопрос">Удалить</button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col col-sm-12">
              <div class="form-group">
                <label>Текст вопроса</label>
                <div class="test-question__title form-control codex-editor" data-text></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-sm-12">
              <div class="form-group">
                <label>Пояснение к вопросу</label>
                <div class="test-question__description form-control codex-editor" data-test-question-description></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col col-sm-12">
              <div class="row" data-test-variants>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 col-form-label">
              <label class="form-check checkbox">
                <input class="form-check-input" type="checkbox" data-test-question-multiple>
                <span class="form-check-label">Множественный выбор</span>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col col-sm-12">
              <div class="test-question__error invalid-feedback" data-error></div>
              <div class="form-group test-question__controls">
                <button class="btn btn-primary" data-test-choose-variant>Добавить вариант</button>
                <button class="btn btn-primary" data-save></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
    {# /редактирование вопроса теста #}

    {# превью вопроса теста #}
    <template id="test-question-preview-template">
      <div class="list-group-item list-group-item-action test-question-preview">
        <div class="d-flex align-items-center justify-content-between">
          <div class="test-question-preview__text" data-text></div>
          <div class="flex-shrink-0">
            <button class="btn btn-sm btn-danger test-question-preview__delete" data-delete title="Удалить вопрос">
              <i class="fa fa-close"></i>
            </button>
            <button class="btn btn-sm btn-primary test-question-preview__edit" data-edit title="Изменить вопрос">
              <i class="fa fa-edit"></i>
            </button>
          </div>
        </div>
        <div class="test-question__error invalid-feedback hidden" data-error></div>
      </div>
    </template>
    {# /превью вопроса теста #}

    {# редактирование результата теста #}
    <template id="test-result-template">
      <div class="card test-result">
        <div class="card-header d-flex justify-content-between align-items-center">
          <div>Редактирование результата</div>
          <div>
            <button class="btn btn-danger" data-delete title="Удалить результат">Удалить</button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col col-sm-12">
              <div class="form-group">
                <label>Текст результата</label>
                <div class="test-result__title form-control codex-editor" data-text></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-sm-12">
              <div class="test-result__error invalid-feedback" data-error></div>
              <div class="form-group test-result__controls">
                <button class="btn btn-primary" data-save></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
    {# /редактирование результата теста #}

    {# превью результата теста #}
    <template id="test-result-preview-template">
      <div class="list-group-item list-group-item-action test-result-preview">
        <div class="flex-middle-between">
          <div class="flex-middle test-result-range mr-3" data-range>
            <div class="flex-middle mr-1">
              <input type="number" class="form-control test-result-range__input" value="0" max="100" min="0" data-range-from>
              <span>%</span>
            </div>
            <span class="mh-1">&mdash;</span>
            <div class="mh-1 flex-middle">
              <input type="number" class="form-control test-result-range__input" value="0" max="100" min="0" data-range-to>
              <span>%</span>
            </div>
          </div>
          <div class="test-result-preview__text flex-grow-1" data-text></div>
          <div class="flex-shrink-0">
            <button class="btn btn-sm btn-danger test-result-preview__delete" data-delete title="Удалить результат">
              <i class="fa fa-close"></i>
            </button>
            <button class="btn btn-sm btn-primary test-result-preview__edit" data-edit  title="Изменить результат">
              <i class="fa fa-edit"></i>
            </button>
          </div>
        </div>
        <div class="test-result__error invalid-feedback hidden" data-error></div>
      </div>
    </template>
    {# /превью результата теста #}

    <template id="test-variant-text-template">
      <div class="col-sm-12">
        <div class="test-variant test-variant_text-type">
          <div class="row">
            <div class="col">
              <div class="form-control test-variant__text" contenteditable></div>
            </div>
            <div class="col-auto">
              <button class="btn btn-outline-secondary test-variant__correct" data-correct title="Отметить как правильный">Correct</button>
              <button class="btn btn-danger text-white test-variant__delete" data-delete title="Удалить вариант">
                <i class="fa fa-close fa-lg"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </template>

    <template id="test-variant-code-template">
      <div class="col-sm-12">
        <div class="test-variant test-variant_code-type">
          <div class="row">
            <div class="col">
              <textarea class="test-variant__code" rows="6"></textarea>
            </div>
            <div class="col-auto">
              <button class="btn btn-outline-secondary test-variant__correct" data-correct title="Отметить как правильный">Correct</button>
              <button class="btn btn-danger text-white test-variant__delete" data-delete title="Удалить вариант">
                <i class="fa fa-close fa-lg"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </template>

    <template id="test-variant-image-template">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="test-variant test-variant_image-type">

          <form data-action="{{ path('admin_image_test_uploadFromFile') }}" 
            data-max="2097152"
            data-loader-images
            class="file-loader test-image-loader">

            <div class="file-loader__dropzone" data-loader-dropzone>
              <label class="file-loader__dropzone-button flex-column-middle">
                <input type="file" class="hidden" data-loader-input accept="image/*">
                <i class="fa fa-image"></i>
              </label>
            </div>
            
            <div class="file-loader__previews" data-loader-preview></div>

            <div class="file-loader__message" data-loader-message></div>
            
            {# если есть картинка, вставить ее сюда #}
            <input type="hidden" name="file-path" value="">
          </form>
            
          <div class="controls">
            <button class="btn btn-outline-secondary test-variant__correct" data-correct title="Отметить как правильный">Correct</button>
            <button class="btn btn-danger text-white test-variant__delete" data-delete title="Удалить вариант">
              <i class="fa fa-close fa-lg"></i>
            </button>
          </div>

        </div>
      </div>
    </template>

    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <div>Данные теста</div>
        <div>
          <button class="btn btn-primary x-editor__save" data-save disabled></button>
          {% if is_granted('ROLE_CHIEF_EDITOR') %}
            <button class="btn btn-primary x-editor__publish" data-load>Опубликовать</button>
          {% endif %}
        </div>
      </div>
      <div class="card-body">
        <div class="form-group">
          {% include "components/selectTags.html.twig" %}
        </div>


        <div class="form-group">
          <label>Название теста</label>
          <div class="flex-middle-right" data-length-checker>
            <div class="test__title form-control x-editor__title" contenteditable data-length-field></div>
            <div class="secondary-text ml-2" data-length-counter></div>
          </div>
        </div>
        <div class="form-group">
          <label>Описание теста</label>
          <div class="flex-middle-right" data-length-checker>
            <div class="test__description form-control x-editor__preview" contenteditable data-length-field></div>
            <div class="secondary-text ml-2" data-length-counter></div>
          </div>
        </div>

        <div class="form-group">
          <label>Изображение</label>

            <form data-action="{{ path('admin_tests_test_preview_upload') }}"
              data-max="2097152"
              data-loader-images
              class="file-loader file-loader__x-editor  x-editor__image-loader">
              <div class="file-loader__dropzone" data-loader-dropzone>
                <label class="file-loader__dropzone-button flex-column-middle">
                  <input type="file" data-loader-input accept="image/*">
                  <div class="ico ico-add-image ico_48"></div>
                  <div class="fs-1">Разрешение картинки строго 2:1, минимальная высота 500px.</div>
                </label>
                <div class="file-loader__progress">
                  <div class="file-loader__progress-bar" data-loader-progress></div>
                </div>
                    
              </div>
              
              <div class="file-loader__previews" data-loader-preview></div>

              <div class="file-loader__message" data-loader-message></div>
              
              <input type="hidden" name="file-path" id="test-image" 
                value=""
                data-post-field="image">

            </form>

        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div>Список вопросов</div>
        <button class="btn btn-primary" data-test-create-question>Добавить вопрос</button>
      </div>
      <div class="card-body">
        <div class="list-group test-questions"  data-test-questions-list>

        </div>
      </div>
    </div>

    <div data-test-question></div>

    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div>Результаты теста</div>
        <button class="btn btn-primary" data-test-create-result>Добавить результат</button>
      </div>
      <div class="card-body">
        <div class="list-group test-results"  data-test-results-list>

        </div>
      </div>
    </div>

    <div data-test-result></div>

    <div class="form-group">
      <button class="btn btn-danger x-editor__delete" disabled>Удалить тест</button>
    </div>

  </div>
{% endblock %}

{% block adminStyles %}
  <link rel="stylesheet" href="{{ asset('admin/tests.min.css') }}">
{% endblock %}

{% block adminScripts %}
  <script src="{{ asset('admin/tests.min.js') }}"></script>
  <script>
    (function() {
      let testData;

      {% if test is defined %}
        testData = {{ test|json_encode|raw }};
        testData.tags = {{ test.tags|map(=> _.id)|slice(0, test.tags|length)|json_encode|raw }};
      {% endif %}

      new TestConstructor({
        publishUrl: "{{ path('admin_tests_test_publish') }}",
        saveUrl: "{{ path('admin_tests_test_save') }}",
        deleteUrl: "{{ path('admin_tests_test_delete') }}",
        redirectAfterDeleteUrl: "{{ path('admin_test_create') }}",
        redirectAfterPublishUrl: false,
      
        questionSaveUrl: "{{ path('admin_tests_test_question_save') }}",
        questionDeleteUrl: "{{ path('admin_tests_test_question_delete') }}",

        getCreatedUrl: function (uuid, currentPath) { // измененный урл после первого сохранения
          return "/admin/tests/test/" + uuid + "/edit";
        },

        validationRules: {{ rules|json_encode|raw }},

        editorConfig: {
          loadImageByFile: "{{ path('admin_image_test_uploadFromFile') }}",
          loadImageByUrl: "{{ path('admin_image_test_uploadFromUrl') }}"
        }
      }, testData);
    })();
    
  </script>
{% endblock %}
