<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-selected="true">Основная информация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#stats" role="tab"  aria-selected="false">Задачи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#notifications" role="tab"  aria-selected="false">Оповещения</a>
    </li>
</ul>