<div class="tab-content ml-1" id="myTabContent">
    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">

        <div class="row">
            <div class="col-sm-3 col-md-2 col-5">
                <label style="font-weight:bold;">Почта</label>
            </div>
            <div class="col-md-8 col-6">
                {{ user.email }}
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3 col-md-2 col-5">
                <label style="font-weight:bold;">Роль</label>
            </div>
            <div class="col-md-8 col-6">
                {{ user_role(user.role) }}
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-sm-3 col-md-2 col-5">
                <label style="font-weight:bold;">Статус</label>
            </div>
            <div class="col-md-8 col-6">
                {{ user_status(user.status) }}
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3 col-md-2 col-5">
                <label style="font-weight:bold;">Количество публикаций</label>
            </div>
            <div class="col-md-8 col-6">
                {{ user.posts.count() }}
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="ConnectedServices-tab">
        {% include 'admin/partials/_tabs.html.twig' %}
    </div>
    <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="Notifications-tab">
        Уведомления
    </div>
</div>