{% if role == 'ROLE_USER' %}
    <span class="badge badge-secondary">Пользователь</span>
{% elseif role == 'ROLE_AUTHOR' %}
    <span class="badge badge-light">Автор</span>
{% elseif role == 'ROLE_EDITOR' %}
    <span class="badge badge-info">Редактор</span>
{% elseif role == 'ROLE_CHIEF_EDITOR' %}
    <span class="badge badge-warning">Главред</span>
{% elseif role == 'ROLE_DEVELOPER' %}
    <span class="badge badge-dark">Разработчик</span>
{% elseif role == 'ROLE_SIMPLE_ADMIN' %}
    <span class="badge badge-pill">Администратор</span>
{% elseif role == 'ROLE_SUPER_ADMIN' %}
    <span class="badge badge-primary">Суперадминистратор</span>
{% endif %}