{% if status == 'Wait' %}
    <span class="badge badge-warning">На подтверждении</span>
{% elseif status == 'Active' %}
    <span class="badge badge-success">Активный</span>
{% elseif status == 'Blocked' %}
    <span class="badge badge-danger">Заблокирован</span>
{% endif %}