.calendar {
  position: relative;
  display: inline-block;
  padding: 20px;

  &__data {
    text-align: center;
    font-size: 1.2em;
    border-bottom: 1px solid $borderColor;
  }

  &__prev, &__next {
    position: absolute;

    top: 20px; bottom: 20px;
    width: 30px;
    height: auto;
    border-radius: 0;

    transition: background $animationDuration;

    &:hover {
      background: transparentize($mainColor, 0.86);
    }

    .ico {
      color: $mainColor;
    }
  }

  &__prev {
    left: -10px;

    .ico {
      transform: rotate(90deg);
    }
  }

  &__next {
    right: -10px;

    .ico {
      transform: rotate(-90deg);
    }
  }

  &__table {
    border-collapse: collapse;
  }

  &__cell, &__h-cell {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
  }

  &__h-cell {
    color: $colorOrange;
  }

  &__cell {
    &.inactive {
      color: $secondaryTextColor;
    }
  }

  &__day {
    cursor: pointer;

    &.inactive {
      cursor: default;
      color: $secondaryTextColor;
    }

    &.current {
      color: $firmLightBlueColor;
      border: 2px solid;
    }

    &.selected {
      background: $mainColor;
      color: $colorWhite;
    }

    &.hover {
      background: transparentize($color: $mainColor, $amount: 0.9);
      color: $mainColor;
    }

    &.selected.hover {
      background: transparentize($color: $mainColor, $amount: 0.7);
    }
  }

  &__screen:not(:first-of-type) {
    display: none;
  }
}

@media screen and (min-width: $breakpointMobileM) {
  .calendar {
    padding-left: 40px;
    padding-right: 40px;

    &__prev, &__next {
      width: 40px;
      
    }

    &__prev {
      left: 0;
    }
  
    &__next {
      right: 0;
    }
  }
}

@media screen and (min-width: $breakpointMobile) {
  
  .calendar__screen:not(:first-of-type) {
    display: block;
    margin-left: 20px;
  }
}