// badge
.badge {
    height: 16px;
    min-width: 16px;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    font-size: $badgeFontSize;
    padding: 0 5px;
    border-radius: 10px;
    color: white;
    background: $badgeColor;
    border: 1px solid $badgeColor;
    vertical-align: middle;

    &-outline {
        color: $badgeColor;
        border-radius: currentColor;
        background: transparent;
    }

    &-primary {
        background: $mainColor;
        border-color: $mainColor;
    }

    &-primary-outline {
        color: $mainColor;
        border-radius: currentColor;
        background: transparent;
    }

    &-error {
        background: $errorColor;
        border-color: $errorColor;
    }

    &-error-outline {
        color: $errorColor;
        border-radius: currentColor;
        background: transparent;
    }

    &-success {
        background: darken($colorGreen, 10%);
        border-color: darken($colorGreen, 10%);
        color: $mainTextColor;
    }

    &-success-outline {
        color: darken($colorGreen, 10%);
        border-radius: currentColor;
        background: transparent;
    }
}