.card {
    @include card;
    
    &:not(.full) {
        font-size: $cardFontSize;
    }
    &__image {
        padding-top: 50%;
        position: relative;
        overflow: hidden;
        display: block;
        
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            max-width: 200%;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &.lazyload {
                background: #eeeeee;
            }
        }
    }

    &__title {
        color: $mainColor;
        font-weight: 700;
        font-size: $cardTitleFontSize;
        font-family: $secondaryFont;
        word-break: break-word;

        .slider[data-slider="vacancies"] &,
        .slider[data-slider="events"] & {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__additional {
        margin-top: 5px;
        color: $secondaryTextColor;
    }

    &__description {
        margin-top: 10px;
        color: $mainTextColor;
        line-height: $cardLineHeight;
    }

    &__more {
        font-size: $cardFontSize;
        color: $mainColor;
    }

    &__company-name {
        overflow: hidden;
        line-height: 1.2;
        height: 1.2em;
    }

    .tag {
        margin-bottom: 5px;
    }

    .userpic {
        margin-right: 10px;
    }

    .slider & {
        &__description {
            overflow: hidden;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                height: 1.5em;
                width: 50%;
                background-image: $cardGradient;
            }

            height: 3 * $cardLineHeight * 1em;
        }
    }

    [data-slider="events"] & {
        &__description {
            height: 3 * 1.5em;
        }
    }

    [data-slider="vacancies"] & {
        &__description {
            height: 4 * 1.5em;
        }
    }
}

.test-preview {
    &__result {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparentize($color: $colorBlack, $amount: 0.8);
        transition: background $animationDuration;
        color: white;
        font-weight: bold;
        font-size: $testPreviewResultFontSize;
        font-family: $testPreviewResultFontFamily;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        .test-preview__result {
            background: transparentize($color: $colorBlack, $amount: 0.5);
        }
    }
}
