.checkbox {
  display: block;
  white-space: nowrap;
  position: relative;
  cursor: pointer;


  input {
      display: none;
  }

  
}

.checkbox {
  span {
    @include checkbox($checkboxSize);
    padding: 10px 20px;

    &:hover {
      @include checkboxHover($checkboxSize);
    }
  }

  input:checked + span {
    @include checkboxActive($checkboxSize);
  }
}

