.comment {
    margin-bottom: 20px;
    font-size: $commentCardFontSize;

    &:last-child {
        margin-bottom: 0;
    }

    &__user {
        color: $mainColor;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: $commentCardAdditionalFontSize;
    }

    &__data {
        overflow: hidden;
        
        line-height: 1.2;
    }

    &__meta {
        font-size: $commentCardAdditionalFontSize;
        color: $secondaryTextColor;
    }

    .userpic {
        margin-right: 10px;
    }

    &__content {
        margin: 5px 0;
        word-break: break-word;
    }

    &__footer {
        font-size: $commentCardAdditionalFontSize;
    }
}

.comments-block {
    max-height: calc(100vh - 90px);
    position: relative;
    &.fixed, &.sticked {
        overflow: hidden;
        border-radius: $cardRadius;

        &.overflow {
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 70px;
                background-image: linear-gradient(to bottom, transparent, white);
                pointer-events: none;
            }
        }
    }
    

}

.comments-feed {
    border-radius: $cardRadius;
    
}
