// social contacts block
.contacts {
    color: inherit;

    &__item {
        text-decoration: none;
        margin-right: 20px;
        color: inherit;

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {
            .ico {
                opacity: 0.6;
            }
        }
    }
    .ico {
        color: currentColor; 
        transition: opacity $animationDuration;
    }
}