.editblock {
    display: inline-block;
    vertical-align: middle;

    position: relative;
    z-index: $editblockZIndex;

    font-size: $mainFontSize;

    cursor: pointer;

    

    .ico {
        color: $mainColor;
    }


    &__content {
        position: absolute;
        top: -10px; right: -10px;
        z-index: 1;

        opacity: none;
        visibility: hidden;
        pointer-events: none;

        transition: opacity $animationDuration;

        
        color: $colorWhite;
    }

    &.opened {
        .editblock {
            &__icon {
                visibility: hidden;
            }
            &__content {
                visibility: visible;
                pointer-events: all;
                opacity: 1;
            }
        }
    }

    &__close, &__option {
        display: flex;
        height: 3em;
        align-items: center;
        white-space: nowrap;
        display: flex;
        padding: 0 20px;
        
    }

    &__option {
        min-width: 130px;
        cursor: pointer; 
        &:hover {
            background-color: $hoverWhiteBg;
        }
    }

    a.editblock__option {
        color: inherit;
        text-decoration: none;
    }

    &__close {
        justify-content: flex-end;
        padding-right: 10px;
        padding-left: 0;
        cursor: default;

        .ico {
            cursor: pointer;
        }

        &:hover {
            background-color: transparent;
        }

    }

    &__section {
        border-bottom: 1px solid $colorWhite;
        background: $editblockBg;
        
        .editblock__close + & {
            border-top-left-radius: $cardRadius;
            border-top-right-radius: $cardRadius;
        }

        &:last-child {
            border-bottom: none;
            border-bottom-left-radius: $cardRadius;
            border-bottom-right-radius: $cardRadius;
        }
    }

    &_small {
        font-size: $secondaryFontSize;
        
        .ico {
            transform-origin: right bottom;
            transform: scale(0.9);
        }
    }

    &_right {
        .editblock__content {
            left: 0;
            right: auto;
        }

        .editblock__close {
            justify-content: flex-start;
        }
    }
}