
.elevator {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  text-align: center;
  cursor: pointer;

  display: none;
  visibility: hidden;

  z-index: $elevatorZIndex;

  &:hover {
      background-color: rgba(0, 0, 0, 0.1);
  }

  .ico {
      position: relative;
      top: 40%;
      color: $mainColor;
      transition: transform $animationDuration;
  }

  &[data-direction="top"] {
      .ico {
          transform: rotate(180deg);
      }
  }

  @media screen and (min-width: $breakpointShowElevator) {
      & {
          display: block;
          visibility: visible;

          &.hidden {
              display: none;
          }
      }
  }
}