/* flash message */
.flash {
    margin-bottom: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    a {
        color: inherit;
    }

    &__text {
        flex-grow: 1;
    }

    &__success {
        background-color: $alertSuccessBg;
        color: $alertSuccessColor; 

        &.flash_bright {
            background-color: $alertSuccessBg;
            color: $alertSuccessColor; 
        }
    }

    &__error {
        background-color: $alertErrorBg;
        color: $alertErrorColor;

        &.flash_bright {
            background-color: $alertBrightErrorBg;
            color: $alertBrightErrorColor;
        }
    }

    &__warning {
        background-color: $alertWarningBg;
        color: $alertWarningColor; 

        &.flash_bright {
            background-color: $alertBrightWarningBg;
            color: $alertBrightWarningColor; 
        }
    }
}