@keyframes alertAppear {
    from {
        background-size: 0 0;
    }
    to {
        background-size: 300px 300px;
    }
}

$alertXOffset: 20px;
$alertYOffset: 40px;

.float-alert {
    position: fixed;
    z-index: $popupZIndex;
    
    top: $alertYOffset;
    right: $alertXOffset;

    transform: perspective(500px) rotate3d(1, 0, 0, 90deg);
    transition: transform $alertAnimationDuration;

    cursor: pointer;

    &.shown {
        transform: perspective(500px) rotate3d(1, 0, 0, 0deg);
    }

    &__text {
        width: 250px;
        height: 100px;

        padding: 20px;

        background: $colorWhite;
        border-radius: $cardRadius;
        box-shadow: $floatAlertShadow;

        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;
    }

    &[data-placement*="top"] {
        top: $alertYOffset;
        bottom: auto;
    }
    &[data-placement*="bottom"] {
        top: auto;
        bottom: $alertYOffset;
    }
    &[data-placement*="left"] {
        right: auto;
        left: $alertXOffset;
    }
    &[data-placement*="right"] {
        left: auto;
        right: $alertXOffset;
    }

    &[data-state="error"] {
        color: $errorColor;
    }
}