.form {
    &__field {
        display: block;
        margin-bottom: 20px;
        position: relative;

        .error {
            position: absolute;
            display: none;
            top: 100%;
            left: 0;
            min-width: 200px;
            padding: 5px;
            box-shadow: $shadow;
            border-radius: $inputRadius;
            z-index: $customSelectErrorZIndex;
            background: $colorWhite;

            &:before {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='red' viewBox='0 0 24 24'%3E%3Cpath d='M12 1l-12 22h24l-12-22zm-1 8h2v7h-2v-7zm1 11.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z'/%3E%3C/svg%3E");
                display: inline-block;
                vertical-align: middle;
                margin-right: 4px;
            }
        }

        &:hover {
            .error {
                display: block;
            }
        }

        input:focus + .error {
            display: block;
        }
    }

    &__label {
        margin-bottom: 10px;
        color: $mainColor;
        font-size: $formLabelFontSize;
    }

    &__input, &__textarea {
        font-size: $inputFontSize;
        color: $mainTextColor;
        padding: 10px 15px;
        border-radius: $inputRadius;
        border: 1px solid $inputBorderColor;

        &:focus {
            border-color: $mainColor;
        }

        &::placeholder {
            color: $placeholderColor;
        }

        &.invalid {
            border-color: $errorColor;
        }
    }

    &__input {
        line-height: 1em;
        height: $inputHeight;

        &_full {
            width: 100%;
        }

        &_small {
            width: 90px;
        }

        &_tiny {
            width: 70px;
            padding-left: 5px;
            padding-right: 5px;
        }

        &_date-component {
            padding-left: 10px;
            padding-right: 10px;
            width: 40px;
        }
    }

    &__textarea {
        width: 100%;
        resize: vertical;
        min-height: 100px;
    }
}

[data-label] {
    position: relative;

    &:before {
        content: attr(data-label);
        position: absolute;
        top: -0.5em;
        left: 5px;
        line-height: 1;
        font-size: $secondaryFontSize;
        color: $secondaryTextColor;
        background: $colorWhite;
        padding: 0 3px;
    }

    &.invalid:before {
        color: $errorColor;
    }
}

input[type="number"].input-text {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    -moz-appearance: textfield;
}

.inputs-list {
    &__item {
        display: block;
        margin: 0.25em 0;
    }
    
    &__input {
        width: 100%;

        font-size: $inputFontSize;
        color: $mainTextColor;
        padding: 5px 10px;
        
        border-radius: $inputRadius;
        border: 1px solid $inputBorderColor;

        height: 30px;

        resize: none;

        &:focus {
            border-color: $mainColor;
        }

        &::placeholder {
            color: $placeholderColor;
        }

        &.invalid {
            border-color: $errorColor;
        }
    }
}

.with-suggestions {
    position: relative;
}

.suggestions-list {
    position: absolute;
    left: 0;
    right: 0;
    background: $colorWhite;
    z-index: 2;
    box-shadow: $shadow;

    &__item {
        padding: 10px 15px;
        cursor: pointer;

        &:hover {
            background: $lightColor;
        }
    }
}

