.frame-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* соотношение 16:9 */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}