
.image-preview {
  
    padding: 30px 10px;

.popup__close {
    position: absolute;
    top: 0px;
    right: 0px;

    .ico {
        color: white;
    }
}

&__content {
    background: $colorWhite;
}

img {
    width: auto;
    height: auto;
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 80px);
}

@media screen and (min-width: $breakpointTablet) {
    & {
        .popup__close {
            right: 0px;
        }

        img {
            max-width: calc(100vw - 80px);
        }
    }
}
}