.items-search {    
   
    &__field {
        padding: 10px;
        box-shadow: $bottomShadow;

        input {
            border: none;
            
            color: $secondaryTextColor;
            padding: 4px;

            &::placeholder {
                opacity: 0.6;
            }
        }
    }

    .marked {
        color: $mainColor;
    }
    
}