@mixin card() {
  display: block;

  background: $colorWhite;
  box-shadow: $cardShadow;

  text-decoration: none;

  &:hover {
      box-shadow: $hoverShadow;
  }

  &__content {
      padding: 10px;
  }

  @media screen and (min-width: $breakpointMobile) {
      & {
        border-radius: $cardRadius;
      }
  }
}

@mixin block {
  &__offset {
      padding: 10px;
  }   
  &__footer {
      font-size: $cardFooterFontSize;
  }
}

@mixin comment-image-preview() {
  height: 100px;
  width: 100px;
  position: relative;
  overflow: hidden;

  img {
      height: 100%;
      width: auto;
      position: absolute;
      top: 50px;
      left: 50px;
      transform: translate(-50%, -50%);

      min-width: 100%;
      min-height: 100%;

      object-fit: cover;

      transition: transform $animationDuration;
  }

  &:hover {
      
      img {
          transform: translate(-50%, -50%) scale(1.1);
      }
  }
}

@mixin scrollbar($horizontal: false) {
  &::-webkit-scrollbar-button {
      background-image:url('');
      background-repeat:no-repeat;
      width:5px;
      height:0px
  }
  
  &::-webkit-scrollbar-track {
      background-color:#ecedee
  }
  
  &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 0px;
      border-radius: 0px;
      background-color: $mainColor;
  }
  
  &::-webkit-scrollbar-thumb:hover{
      background-color: $mainColor;
  }
  
  &::-webkit-resizer{
      background-image:url('');
      background-repeat:no-repeat;
      width:2px;
      height:0px
  }
  
  &::-webkit-scrollbar{
      width: 4px;
      height: 4px;
  }
}

@mixin preloaderBg() {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' %3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='none' /%3E%3Cg%3E%3Cpath d='M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z' fill='%23000000'/%3E%3Cpath d='M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z' fill='%23c0c0c0' transform='rotate(45 64 64)'/%3E%3Cpath d='M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z' fill='%23c0c0c0' transform='rotate(90 64 64)'/%3E%3Cpath d='M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z' fill='%23c0c0c0' transform='rotate(135 64 64)'/%3E%3Cpath d='M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z' fill='%23c0c0c0' transform='rotate(180 64 64)'/%3E%3Cpath d='M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z' fill='%23c0c0c0' transform='rotate(225 64 64)'/%3E%3Cpath d='M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z' fill='%23c0c0c0' transform='rotate(270 64 64)'/%3E%3Cpath d='M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z' fill='%23c0c0c0' transform='rotate(315 64 64)'/%3E%3CanimateTransform attributeName='transform' type='rotate' values='0 64 64;45 64 64;90 64 64;135 64 64;180 64 64;225 64 64;270 64 64;315 64 64' calcMode='discrete' dur='720ms' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/g%3E%3C/svg%3E"); 
}

@mixin hover-rotate {
  transition: transform $animationDuration;
  transform-origin: 50% 50%;
  
  &:hover {
      transform: rotate(180deg);
  }
}

@keyframes like-animation {
  50% {
      transform: scale(1.3);
  }
  100% {
      transform: scale(1);
  }
}