$notificationsListArrowSize: 10px;
$notificationsListRightOffset: 10px;


.notifications {
    position: relative;

    &-list {
        opacity: 0;
        visibility: hidden;
        
        pointer-events: none;

        transition: all $animationDuration;

        position: fixed;
        top: $headerHeight;
        left: 0; right: 0;
        
        padding: 5px;
        padding-top: $notificationsListArrowSize;
        margin-top: -1 * $notificationsListArrowSize;
        z-index: $notificationsListZIndex;

        color: $mainTextColor;

        &__wrapper {
            background: $colorWhite;
            box-shadow: $shadow;
            
        }
        

        &__content {
            padding: 20px 0 10px;
            &.loading {
                padding: 0;
                height: 130px;
                background-size: 40px;
                background-position: center;
                background-repeat: no-repeat;
                @include preloaderBg();
            }
        }

        @media screen and (min-width: $breakpointTablet) {
            & {
                position: absolute;
                left: auto;
                right: -3 * $notificationsListRightOffset;

                &:before {
                    content: '';
                    width: 0; height: 0;
                    border: $notificationsListArrowSize solid transparent;
                    border-top: 0px;
                    border-bottom-color: $colorWhite;
        
                    position: absolute;
                    top: 0px;
                    right: 3 * $notificationsListRightOffset + 2;
                }

                &__wrapper {
                    width: $notificationsListWidth;
                }
            }
        }
    }

    &.opened .notifications-list {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }

    &__link {
        line-height: 40px;
        text-align: center;
        display: block;
    }

}



.notification-item {
    padding: 20px;
    display: flex;
    background-color: $colorWhite;

    &__icon {
        margin-right: 20px;

        .ico {
            position: relative;
            top: 6px;
        }
    }

    &__text {
        flex-grow: 1;
    }

    &:hover {
        background: $lightColor;
    }

    &:not(.expanded) {
        [data-toggle-show] {
            display: none;
        }
    }
    &.expanded {
        [data-toggle-hide] {
            display: none;
        } 
    }

    &__delete {
        margin-left: 20px;
        color: white;
        position: relative;
        width: 40px;
        cursor: pointer;
        flex-shrink: 0;

        &:before {
            content: '';
            position: absolute;

            left: calc(100% + 20px);
            right: -20px;
            top: -20px;
            bottom: -20px;
            
            border-radius: 5px;

            background: $mainColor;
            transition: all $animationDuration;
        }

        &:hover:before {
            background: transparentize($mainColor, 0.2);
        }

        .ico {
            position: relative;
            opacity: 0;
            transition: opacity $animationDuration;
        }
    }

    &:hover, &.deleted {
        .notification-item__delete {
            

            &:before {
                left: -20px;
                
            }
            .ico {
                opacity: 1;
            }
        }
        
    }
}

.top-menu {
    .notification-item {
        padding: 10px 20px;
        line-height: 1.2;
        &__date {
            display: none;
        }
        &__delete {
            display: none;
        }
    }
}

.configure-notifications {
    color: $secondaryTextColor;
    transition: color $animationDuration;
    cursor: pointer;

    &:hover {
        color: $mainColor;
    }
}