.official {
    max-width: $readableWidth;
    margin-left: auto;
    margin-right: auto;
    padding: $gridGap*3 $gridGap;
    
    &__title {
        margin-bottom: 1em;
    }
}

ol.official-list {
    list-style: none;
    counter-reset: official;
    
    li {
        &:before {
            counter-increment: official;
            content: counters(official, ".") ". ";
        }

        margin: 1em 0;

        & > .official-list__title {
            display: inline-block;
        }
    }

    ul {
        list-style: inside;

        li {
            margin: 0.5em 0;
            line-height: 1.3;
        }
    }

    ol {
        list-style: none;
        counter-reset: official;
    }

    &__title {
        display: inline;
        vertical-align: baseline;
        color: $mainColor;
    }

    & > li {
        &:before {
            font-size: 1.2em;
        }
        .official-list__title {
            font-size: 1.5em;
        }
    }
}

ul.official-list {
    list-style: inside;
}