.payment-block {
  .safe-connection {
    color: #1aa457;
    font-size: 12px;
    
  }
}

.payment-form {
  text-align: left;

  .form__label {
    font-size: $paymentFormLabelFontSize;
  }
  
  .error {
    font-size: $secondaryFontSize;
    width: auto;
    min-width: 120px;
    text-align: left;
    max-width: 300px;
    margin-top: 6px;
  }

  .card-number {
    width: 100%;
    position: relative;

    &[data-system="mc"],
    &[data-system="maestro"],
    &[data-system="visa"],
    &[data-system="mir"] {
      &:after {
        position: absolute;
        content: '';

        right: 5px;
        bottom: 5px;
        height: $inputHeight - 10px;
        width: 35px;

        background-position: center right;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &[data-system="mc"]:after {
      background-image: url($imgRoot + 'site/payment/mastercard.png');
    }
    &[data-system="maestro"]:after {
      background-image: url($imgRoot + 'site/payment/maestro.png');
    }
    &[data-system="visa"]:after {
      background-image: url($imgRoot + 'site/payment/visa.png');
    }
    &[data-system="mir"]:after {
      background-image: url($imgRoot + 'site/payment/mir.png');
    }
  }

  .card-owner-name {
    input {
      text-transform: uppercase;
    }
  }
}

.payment-card {
  padding: 0;
  background: $colorWhite;
}

@media screen and (min-width: $breakpointTabletS) {
  .payment-block {
    padding: 20px;
    background: $lightColor;
  }
  
  .payment-form {
    .cards {
      position: relative;
      padding-bottom: 30px;
    }

    .card-number {
      width: auto;
    }
  }

  .payment-card {
    padding: 20px;
    
    border-radius: 10px;
    box-shadow: $shadow;

      
    &__front {
      position: relative;
      z-index: 2;
      width: 420px;
      height: 300px;
    }

    &__back {
      position: absolute;
      z-index: 1;
      width: 400px;
      height: 250px;
  
      padding-top: 145px;
  
      left: 120px;
      top: 30px;
  
      background: #5590CD;
  
      .form__field {
        text-align: right;
      }
  
      .form__input {
        padding-left: 15px;
      }
  
      &:before {
        content: '';
        position: absolute;
        left: 0; right: 0;
        top: 60px;
        height: 40px;
        background: #4B453E;
  
      }
  
      .error {
        left: 100%;
        margin-left: -70px;
      }
    }
  }
}
