.post-preview, .vacancy-preview {
    margin-bottom: 20px;
    width: 100%;
    padding: 20px 20px 0;

    background: $colorWhite;

    a {
        text-decoration: none;
        color: $mainTextColor;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }

    &__title {
        font-size: $postPreviewTitleFontSize;
        margin-bottom: 10px;
        margin-top: 0;
        overflow: hidden;
        word-break: break-word;
    }

    &__description {
        word-break: break-word; 
        overflow: hidden;
    }

    &__image {
        margin-left: -1 * $gridGap;
        margin-right: -1 * $gridGap;
        width: 100%;
        height: 50%;

        img {
            display: block;
            width: 100%;
        }
    }

    footer {
        margin-top: 20px;
        margin-bottom: 20px;

        .tag {
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: $breakpointPostPreviewChange) {
    .post-preview, .vacancy-preview {
        padding-bottom: 20px;
        
        &__image {
            margin: 0;
            padding: 20px 0 0;
        }

        &__title {
            font-size: $postPreviewTitleFontSize-desktop;
        }

        footer {
            margin-bottom: 0;
        }
    }
}