.search-block {
  .top-menu__item {
      margin-right: 0;
  }

  .search-form {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      visibility: hidden;
      z-index: $searchFormZIndex;

      height: $headerHeight;
      padding: 0 10px;

      background: $headerBg;
      
      &__input {
          padding-top: 5px;
          padding-bottom: 5px;
          border: 0;
          outline: 0;
          box-shadow: none;
          transition: padding $animationDuration;
          background: transparent;
          border-bottom: 2px solid $colorWhite;
          color: inherit;
          padding-left: 10px;
          padding-right: 10px;
          height: $headerHeight - 15px;
      }

      &__submit {
          width: 40px;
          margin-left: 10px;
          margin-right: 0;
      }

      &__results {
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          background: $colorWhite;
          box-shadow: $bottomShadow;
          color: $mainTextColor;
          overflow: hidden;
          display: none;
          min-width: $searchFieldWidth;
      }

  }

  &.opened {
    .search-form {
      visibility: visible;

      &__results {
        display: block;
      }
    }

  }

}

.search-result {
  display: block;
  padding: 10px;

  &:hover {
      background: $lightColor;
  }

  &__image {
    max-height: 100px;
    width: auto;
    max-width: 100%;
  }
}


@media screen and (min-width: $breakpointMobileM) {
  .search-block {
      .search-form {
        right: 48px;
        flex-direction: row-reverse;

        &__submit {
          margin-left: 0;
          margin-right: 10px;
        }

        &__results {
          right: -48px;
        }
      }
  }

  .search-result {
    display: flex;

    &__image {
      max-width: 30%;
      flex-shrink: 0;
      margin-right: 15px;
      max-height: none;

      img {
        height: auto;
        max-width: 100%;
        width: 200px;
      }
    }
  }
}

@media screen and (min-width: $breakpointSidebarAppear) {
  .page-header {
    .search-block {
      .search-form {
        left: auto;
        right: 20px;
        flex-direction: row;
        justify-content: flex-end;
        visibility: visible;

        width: 0;
        padding: 0;

        transition: all $animationDuration;

        &__submit {
          visibility: hidden;
          margin-left: 10px;
          margin-right: 0;
        }

        &__input {
          max-width: 100%;
          padding: 0;

          transition: all $animationDuration;
          transition-delay: 200ms;
        }

        &__results {
          right: 0;
        }
      }
      &.opened {
        .search-form {
          width: $searchFieldWidth;

          &__input {
            padding: 10px;
          }

          &__submit {
            visibility: visible;
          }
        }
      }
    }

    .main-menu, .new-post {
      transition: opacity $animationDuration;
    }
  }

  .search-shown {
    .page-header {
      .main-menu, .new-post {
          opacity: 0;
      }
    }
  }

  .search-result {
    display: block;

    &__image {
      margin-right: 0;
      max-width: 100%;
    }
  }
}


@media screen and (min-width: $breakpointMainmenuShow) {
  .page-header {
      .search-form {
          right: 20px;
      }
  }
}