 
.social {
    &-wrapper {
        width: 100%;

        @media screen and (min-width: $breakpointShareInLine) {
            & {
                width: auto;
            }
        }
    }
    &__item {
        height: 20px;
        padding-left: 10px;
        padding-right: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;

        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        border-radius: $buttonRadiusSmall;
        box-shadow: $shadow;

        &[data-social="vk"] {
            background-color: $socialVk;
        }

        &[data-social="fb"] {
            background-color: $socialFb;
        }

        &[data-social="twitter"] {
            background-color: $socialTwitter;
        }

        &[data-social="odk"] {
            background-color: $socialOdk;
        }

        &[data-social="telegram"] {
            background-color: $socialTelegram;
        }

        .svg-icon {
            fill: white;
        }

        
        &_control {
            .svg-icon {
                stroke: $secondaryTextColor;
                stroke-width: 4;
            }
        }
    }
}

.share {
    position: relative;

    .post .tagbar & {
        .share__icon {
            margin: 0;
            height: $buttonHeightSmall;
            line-height: $buttonHeightSmall - 2px;
            border-radius: $buttonRadius;
            font-size: $buttonFontSizeSmall;
        }
    }

    &.opened {
        .share__icon {
            background-color: $buttonsColor;
            color: white;
            border-color: $buttonsColor;
        }
    }

    &__content {
        position: absolute;

        top: 100%;
        left: 50%;
        transform: translateX(-50%);

        margin-top: 5px;
        background: $colorWhite;

        box-shadow: $shadow;
    }

    &__item {
        position: relative;
        display: block;
        padding: 10px 20px;
        
        text-decoration: none;

        .ico {
            color: $mainColor;
        }

        &:after {
            content: attr(data-title);
            position: absolute;
            left: 100%;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 0;
            overflow: hidden;
            transition: all $animationDuration;
            background: $colorWhite;
            box-shadow: $rightPartShadow;
            margin-left: -3px;
        }

        &:hover:after {
            width: 100px;
            padding: 0 20px;
        }
    }
}

.fix-share {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: $fixShareZIndex;

    .share {
        &__icon {
            background: $fixShareBg;
            color: $colorWhite;

            width: 60px;
            height: 60px;
            border-radius: 50%;

            margin: 0;

            .ico:before {
                font-size: 24px;
            }
        }

        &__content {
            top: auto;
            bottom: 100%;
            margin-bottom: 10px;
        }

        &__item {
            
            &:after {
                left: auto;
                right: 100%;
                
                margin-left: 0;
                margin-right: -3px;

                box-shadow: $leftPartShadow;
            }

        }
    }

    @media screen and (min-width: $breakpointTablet) {
        & {
            display: none;

            &.shown {
                display: block;
            }
        }
    }
}

.social-links {
    &__item {
        cursor: pointer;

        a {
            color: inherit;
        }

        .soc-auth {
            display: inline-flex;
        }

        .soc-link, .soc-unlink {
            display: none;
        }

        &.active[data-can-unlink] {
            .soc-unlink {
                display: inline-flex;
            }
        }

        &.active {
            @include socialButtonColored;
            border-color: transparent;

            .soc-link {
                display: inline-flex;
            }

            .soc-auth {
                display: none;
            }
        }

        &:hover {
            @include socialButtonWhite;
        }

        &.active:hover {
            @include socialButtonColoredHover;
            .ico-close {
                transform: scale(1.2);
                transform-origin: center center;
            }
        }

        .ico {
            margin: 0;
        }

        .soc-unlink {
            margin-left: 15px;
        }
    }
}