// Кнопка Настроить подписки
.subscribe-edit {
    &.out-in {
        position: fixed;
        left: 50%;
        bottom: 50px;
        transform: translateX(-50%);
        z-index: $subscribeZIndex;
    }

    @media screen and (min-width: $breakpointSubscribeButtonChange) {
        &.out-in {
            position: static;
            transform: none;
        }
    }
}