.toggler {
    display: inline-block;
    position: relative;
    vertical-align: text-top;
    height: 20px;
    min-width: 40px;


    &:before {
        content: "";
        display: inline-block;
        height: 4px;
        width: 40px;
        border-radius: 2px;
        background: $togglerTrackBg;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -2px;
    }
    

    input {
        display: none;
    }

    &__runner {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $colorWhite;
        background: $togglerThumbBg;
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px;
        transition: left $animationDuration, background $animationDuration;
        cursor: pointer;
    }

    input:checked + &__runner {
        left: 20px;
        background: $togglerThumbBgActive;
    }

    &__label {
        line-height: 1.2em;
        color: $secondaryTextColor;
        padding-left: 60px;
        cursor: pointer;

    }

    input:checked ~ &__label {
        color: $mainColor;
    }


}