.userpic {
  width: $userpicSize;
  height: $userpicSize;

  border-radius: 50%;
  background-color: $colorGray3;
  background-position: center;
  background-size: cover;

  flex-shrink: 0;

  &_small {
    width: $userpicSizeSmall;
    height: $userpicSizeSmall;
  }

  &_tiny {
    width: $userpicSizeTiny;
    height: $userpicSizeTiny;
  }
}