{#
базовый шаблон админки
хлебные крошки - breadcrumbs
активный пункт меню
контент - block adminContent
#}

<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.14
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Библиотека Программиста</title>

    <!-- Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ asset('/favicon/favicon.ico') }}">
    

    {# coreui css #}
    <link href="{{ asset('admin/vendors/@coreui/icons/css/coreui-icons.min.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/vendors/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/vendors/pace-progress/css/pace.min.css') }}" rel="stylesheet">

    <link href="{{ asset('admin/admin.min.css') }}" rel="stylesheet">

    {% block adminStyles %}
    {% endblock %}
    
  </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show admin-page">

    {% include "admin/partials/adminHeader.html.twig" %}

    <div class="app-body">

      {% include "admin/partials/adminSidebar.html.twig" %}
      
      <main class="main">

       {% include "admin/partials/adminBreadcrumbs.html.twig" %}

        <div class="container-fluid">
          <div class="animated fadeIn">
            
            {% block adminContent %}
            {% endblock %}
            
          </div>
        </div>
      </main>

      {% include "admin/partials/adminAside.html.twig" %}

    </div>

    <footer class="app-footer">
      © Библиотека программиста, 2016-2019
    </footer>

    <!-- CoreUI and necessary plugins-->
    <script src="{{ asset('admin/vendors/jquery/js/jquery.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/popper.js/js/popper.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/pace-progress/js/pace.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/@coreui/coreui/js/coreui.min.js') }}"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="{{ asset('admin/vendors/chart.js/js/Chart.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/@coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js') }}"></script>

    <script src="{{ asset('admin/admin.min.js') }}"></script>

    {% block adminScripts %}
    {% endblock %}

  </body>
</html>
