{% for label, messages in app.session.flashbag.all %}
    {% for message in messages %}
        {% if label == 'error' %}
            <div class="alert alert__error">
                <div class="alert__text">{{ message }}</div>
            </div>
        {% elseif label == 'success' %}
            <div class="alert alert__success">
                <div class="alert__text">{{ message }}</div>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}

<form action="{{ path('new_admin_ads') }}" method="post">
    <input type="text" name="ad-image" />
    <input type="text" name="ad-link">
    <button type="submit">Сохранить</button>
</form>