{%
  set vacancySelects = [
    {
      title: "Место работы",
      slug: "place",
      name: "vacancy-place",
      type: "select",
      multi: false,
      items: [
        {
          text: "Удаленка",
          value: "remote",
          name: "vacancy-place[]",
          type: "radio",
          checked: false,
          labelClass: "",
          initial: false
        },{
          text: "Офис",
          value: "office",
          name: "vacancy-place[]",
          type: "radio",
          checked: false,
          labelClass: "",
          initial: false
        },{
          text: "Любое",
          value: "all",
          name: "vacancy-place[]",
          type: "radio",
          checked: true,
          labelClass: "",
          initial: true
        }
      ]
    },
    {
      title: "Занятость",
      slug: "type",
      name: "vacancy-type",
      type: "select",
      multi: false,
      items: [
        {
          text: "Полная",
          value: "fulltime",
          name: "vacancy-type[]",
          type: "radio",
          checked: false,
          labelClass: "",
          initial: false
        },{
          text: "Частичная",
          value: "parttime",
          name: "vacancy-type[]",
          type: "radio",
          checked: false,
          labelClass: "",
          initial: false
        },{
          text: "Любая",
          value: "all",
          name: "vacancy-type[]",
          type: "radio",
          checked: true,
          labelClass: "",
          initial: true
        }
      ]
    },
  ]
%}

{%
  set salaryFilters = {
    fields: [
      {
        value: '',
        text: 'от',
        name: "vacancy-salary-from",
        filterId: 'vacancy-salary-from-filter',
        min: 0,
      }
    ]
  }
%}

{%
  set cityFilter = {
    filterId: 'vacancy-city-filter',
    name: 'city',
    value: '',
  }
%}


<div class="bg_white pa-4 filters-block">
  <button class="btn btn-ghost flex-middle secondary-text" data-reset-filters>
    <span class="mr-1 ico ico-close ico_12"></span>
    Сбросить фильтры
  </button>
  {% for selectGroup in vacancySelects %}
    <div class="filters filters_{{ selectGroup.slug }}  mb-4">

      <div>{{ selectGroup.title }}</div>

      {% if selectGroup.type == "select" %}
        <div class="c-select {{ selectGroup.multi ? 'c-select_multi' }}">

          <div class="c-select__title">
            <span class="c-select__selected"></span>
            <div class="ico ico-arrow-down ico_16"></div>
          </div>
          <div class="c-select__hidden hidden" >

            {% for item in selectGroup.items %}
              <label class="c-select__item c-select__item_hover {{ item.labelClass }}" 
                data-text="{{ item.text }}" title="{{ item.text }}" 
                data-filters-item
                {{ item.initial ? 'data-initial' }}>
                <input type="{{ item.type }}" value="{{ item.value }}" name="{{ item.name }}" class="hidden" {{ item.checked ? 'checked' }}>
                <span>{{ item.text }}</span>
              </label>
            {% endfor %}

          </div>

        </div>
      {% endif %}

    </div>
  {% endfor %}

  <div>
    <div class="mb-2">Оклад, руб.</div>

    <div class="flex-middle">
      {% for field in salaryFilters.fields %}
        {{ field.text }}
        <label class="ml-2" id="{{ field.filterId }}">
          <input class="form__input form__input_tiny input-text" id="{{ field.name }}" name="{{ field.name }}" type="number" min="{{ field.min }}" value="{{ field.value }}">
        </label>
      {% endfor %}
    </div>
  </div>

  <div class="mt-4">
    <div class="mb-2">Город</div>
    <label class="mr-2 with-suggestions" id="{{ cityFilter.filterId }}">
      <input class="form__input form__input_full" id="{{ cityFilter.name }}" name="{{ cityFilter.name }}" 
        type="text" value="{{ cityFilter.value }}" data-city-field>
    </label>
  </div>
</div>
