{% set meta = {
  title: 'Подтверждение заказа',
  postfix: true,
}%}

{% extends "layouts/simpleLayout.html.twig" %}

{% block styles %}
  <script src="{{ asset('assets/com/vacancy-payment.min.js') }}" async></script>
  <link rel="stylesheet" href="{{ asset('assets/com/vacancy-payment.min.css') }}">
{% endblock %}

{% block pageContent %}
  <div class="container page-padding flex" style="min-height: calc(100vh - 55px)">
    <main style="width: 100%;" class="flex">
      <div class="mobile-full bg_white" style="flex-basis: 200%;" >
        <article class="official payment">
          <h1 class="h1 official__title">Оплата</h1>

          <div class="mb-6">
            Что-то не так с вакансией?
            <br>
            До оплаты вы можете в любой момент <a href="{{ path('vacancy_edit', { slug: slug }) }}">отредактировать ее</a>.
          </div>

          <form class="payment__period-form" action="{{ path('vacancy_payment_pay', { slug: slug }) }}" data-total="5000" data-currency="RUB">  
            
            <h2 class="h2">
              Подтвердите заказ
            </h2>

            <div class="mv-2">
              Срок размещения: 1 месяц
            </div>

            <div class="mv-2">
              Сумма заказа: <span class="payment__sum"></span>
            </div>
            
            {# 
            <div class="mv-4">
              <div class="calendar" data-period="month">
                <div class="calendar__controls">
                  <button class="btn btn-ghost calendar__prev" type="button" data-prev>
                    <span class="ico ico-arrow-down ico_32"></span>
                  </button>
                  <button class="btn btn-ghost calendar__next" type="button" data-next>
                    <span class="ico ico-arrow-down ico_32"></span>
                  </button>
                </div>
                <div class="flex">
                  <div class="calendar__screen">
                    
                    <div class="calendar__data">
                      <span data-month></span>
                      <span data-year></span>
                    </div>

                    <table class="calendar__table">
                      <thead class="calendar__header">
                        <th class="calendar__h-cell">пн</th>
                        <th class="calendar__h-cell">вт</th>
                        <th class="calendar__h-cell">ср</th>
                        <th class="calendar__h-cell">чт</th>
                        <th class="calendar__h-cell">пт</th>
                        <th class="calendar__h-cell">сб</th>
                        <th class="calendar__h-cell">вс</th>
                      </thead>
                      <tbody class="calendar__month">

                      </tbody>
                    </table>
                  </div>
                  <div class="calendar__screen">
                    <div class="calendar__data">
                      <span data-month></span>
                      <span data-year></span>
                    </div>
                    <table class="calendar__table">
                      <thead class="calendar__header">
                        <th class="calendar__h-cell">пн</th>
                        <th class="calendar__h-cell">вт</th>
                        <th class="calendar__h-cell">ср</th>
                        <th class="calendar__h-cell">чт</th>
                        <th class="calendar__h-cell">пт</th>
                        <th class="calendar__h-cell">сб</th>
                        <th class="calendar__h-cell">вс</th>
                      </thead>
                      <tbody class="calendar__month">

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <input type="hidden" name="period-from" value="">
              <input type="hidden" name="period-to" value="">
            </div> #}

            

            <button class="btn btn-primary btn-large" type="submit" data-confirm>Подтвердить</button>
          
          </form>

          
        </article>
      </div>
    </main>
  </div>
{% endblock %}

{% block popups %}
  {% include "components/paymentForm.html.twig" %}
{% endblock %}

{% block scripts %}
  <script>

  </script>
{% endblock %}






