{% set meta = {
  title: 'Новая вакансия',
  postfix: true,
}%}

{% extends "layouts/simpleLayout.html.twig" %}

{% block styles %}
  <script src="{{ asset('assets/com/vacancy-form.min.js') }}" async></script>
  <link rel="stylesheet" href="{{ asset('assets/com/vacancy-form.min.css') }}">
{% endblock %}

{% block pageContent %}
  <div class="container page-padding">
    <main class="bg_white">
      <article class="official vacancy">
      
        <h1 class="h1 official__title">Новая вакансия</h1>

        <div class="">          
          <form action="" method="POST" class="form c-form vacancy-form" novalidate data-on-submit>
            <div class="c-form__error color_error mb-4"></div>

            <div class="form__field">
              <div class="form__label">Теги</div>
              {% set tagsAsFormField = true %}
              {% include "components/selectTags.html.twig" %}
            </div>

            {# Название вакансии #}
            <label class="form__field" data-c-form-field data-name="vacancyTitle" data-validate="text">
              <div class="form__label">Название вакансии</div>
              <input class="form__input form__input_full" id="vacancyTitle" type="text" placeholder="" name="vacancyTitle" value="" required autofocus>
            </label>

            <div class="row flex-wrap">
              {# Оклад #}
              <div class="col col-auto ">
                <div class="form__label">Оклад, руб.</div>

                <div class="flex">
                  <label data-label="от" class="mr-2 form__field" data-c-form-field data-name="salaryFrom" data-validate="number">
                    <input class="form__input form__input_small input-text" 
                      id="salaryFrom" name="salaryFrom"
                      type="number" min="5000" value="5000">
                  </label>
                  <label class="mr-2 form__field" data-label="до"  data-c-form-field data-name="salaryTo" data-validate="number">
                    <input class="form__input form__input_small input-text" 
                      id="salaryTo" name="salaryTo"
                      type="number" min="5000" value="5000">
                  </label>
                </div>
              </div>
              
              {# Тип занятости #}
              <div class="col col-auto form__field" >
                <div class="form__label">Занятость</div>

                <div class="c-select" id="vacancy-type-select" data-c-form-field data-name="vacancyWorkType" data-validate="radio"> 
                  <div class="c-select__title">
                    <span class="c-select__selected"></span>
                    <span class="ico ico-arrow-down ico_16 color_secondary"></span>
                  </div>

                  <div class="c-select__hidden hidden">
                    <label class="c-select__item c-select__item_hover" data-text="Полная">
                      <input class="hidden" type="radio" value="fulltime" name="vacancyWorkType" required checked>
                      <span>Полная</span>
                    </label>

                    <label class="c-select__item c-select__item_hover" data-text="Частичная">
                      <input class="hidden" type="radio" value="parttime" name="vacancyWorkType">
                      <span>Частичная</span>
                    </label>
                  </div>
                </div>

              </div>
            </div>

            <div class="row flex-wrap">
              {# Место работы #}
              <div class="col col-auto form__field">
                <div class="form__label">Место работы</div>

                <div class="c-select" id="vacancy-place-select" data-c-form-field data-name="vacancyWorkPlace" data-validate="radio">
                  <div class="c-select__title">
                    <span class="c-select__selected"></span>
                    <span class="ico ico-arrow-down ico_16 color_secondary"></span>
                  </div>

                  <div class="c-select__hidden hidden">
                    <label class="c-select__item c-select__item_hover" data-text="Офис">
                      <input class="hidden" type="radio" value="office" name="vacancyWorkPlace" required checked>
                      <span>Офис</span>
                    </label>

                    <label class="c-select__item c-select__item_hover" data-text="Удаленка">
                      <input class="hidden" type="radio" value="remote" name="vacancyWorkPlace">
                      <span>Удаленка</span>
                    </label>
                  </div>
                </div>
              </div>
              
              {# Город #}
              <div class="col col-auto">
                <label class="form__field with-suggestions" id="vacancy-city-field" data-c-form-field data-name="vacancyCity" data-validate="text">
                  <div class="form__label">Город</div>

                  <input type="text" name="vacancyCity" value="" class="form__input" data-city-field>

                </label>
              </div>
            </div>

            <script>
              (function() {
                let vacancyPlaceSelect = document.getElementById('vacancy-place-select');
                let vacancyCityField = document.getElementById('vacancy-city-field');

                vacancyPlaceSelect.addEventListener('select-change', function() {
                  let value = vacancyPlaceSelect.select.value;
                  let isRemote = value.indexOf('remote') !== -1;

                  vacancyCityField.classList.toggle('hidden', isRemote);
                  vacancyCityField.novalidate = isRemote;
                });
              })();
            </script>

            {# Требования #}
            <div class="form__field">
              <div class="form__label">Требования</div>

              <div class="inputs-list" data-inputs-list data-name="requirements" data-c-form-field data-validate="list">
                <label class="inputs-list__item">
                  <textarea name="requirements[]" class="inputs-list__input"></textarea>
                </label>
              </div>
            </div>

            {# Задачи #}
            <div class="form__field">
              <div class="form__label">Задачи</div>

              <div class="inputs-list" data-inputs-list data-name="tasks" data-c-form-field data-validate="list">
                <label class="inputs-list__item">
                  <textarea name="tasks[]" class="inputs-list__input"></textarea>
                </label>
              </div>
            </div>

            {# Условия #}
            <div class="form__field">
              <div class="form__label">Условия</div>

              <div class="inputs-list" data-inputs-list data-name="conditions" data-c-form-field data-validate="list">
                <label class="inputs-list__item">
                  <textarea name="conditions[]" class="inputs-list__input"></textarea>
                </label>
              </div>
            </div>

            <div class="form__field">
              <div class="form__label">
                Картинка для вашей вакансии
              </div>
              <div data-action="{{ path('api_vacancy_vacancy-image_upload') }}"
                data-max="2097152"
                data-loader-images
                data-c-form-field
                data-name="vacancyImage" data-validate="loader" 
                class="file-loader file-loader__x-editor vacancy-image">

                <div class="file-loader__dropzone" data-loader-dropzone>
                      <label class="file-loader__dropzone-button flex-column-middle">
                            <input type="file" data-loader-input name="vacancyImage" accept="image/*">
                            <div class="ico ico-add-image ico_48"></div>
                            <div class="fs-1">Разрешение картинки строго 2:1, минимальная высота 500px.</div>
                      </label>
                      <div class="file-loader__progress">
                            <div class="file-loader__progress-bar" data-loader-progress></div>
                      </div>
                      
                </div>
                
                <div class="file-loader__previews" data-loader-preview></div>

                <div class="file-loader__message" data-loader-message></div>

                {# если есть картинка, вставить ее сюда #}
                <input type="hidden" name="file-path"  value="">

              </div>

            </div>

            <h2>Компания</h2>

            {# Название компании #}
            <label class="form__field" data-c-form-field
                data-name="companyTitle" data-validate="text" >
              <input class="form__input form__input_full" id="companyTitle" type="text" placeholder="Название компании"
                name="companyTitle" value="" required>
            </label>

            {# Сайт компании #}
            <label class="form__field" data-c-form-field
                data-name="companySite" data-validate="url">
              <input class="form__input form__input_full" id="companySite" type="text" placeholder="Сайт"
                name="companySite" value="">
            </label>
            
            {# Описание компании #}
            <label class="form__field" data-c-form-field
                data-name="companyDescription" data-validate="text">
              <textarea class="form__textarea" placeholder="Описание" id="companyDescription" name="companyDescription"></textarea>
            </label>

            <div class="form__field">
              <div class="form__label">
                Картинка для вашей компании
              </div>
              <div data-action="{{ path('api_vacancy_company-image_upload') }}"
                data-max="2097152"
                data-loader-images
                data-c-form-field
                data-name="companyImage" data-validate="loader" 
                class="file-loader file-loader__x-editor company-image">

                <div class="file-loader__dropzone" data-loader-dropzone>
                      <label class="file-loader__dropzone-button flex-column-middle">
                            <input type="file" name="companyImage" data-loader-input accept="image/*">
                            <div class="ico ico-add-image ico_48"></div>
                            <div class="fs-1">Разрешение картинки строго 2:1, минимальная высота 500px.</div>
                      </label>
                      <div class="file-loader__progress">
                            <div class="file-loader__progress-bar" data-loader-progress></div>
                      </div>
                      
                </div>
                
                <div class="file-loader__previews" data-loader-preview></div>

                <div class="file-loader__message" data-loader-message></div>

              </div>

            </div>

            <h2>Контактная информация</h2>

            {# Почта для соискателей #}
            <label class="form__field" data-c-form-field
                data-name="candidateEmail" data-validate="mail">
              <div class="form__label">Почта для соискателей</div>
              <input class="form__input form__input_full" id="candidateEmail" type="email" placeholder=""
                name="candidateEmail" value="" required>
            </label>

            {# Почта для уведомлений #}
            <label class="form__field" data-c-form-field
                data-name="notificationEmail" data-validate="mail">
              <div class="form__label">Почта для уведомлений</div>
              <input class="form__input form__input_full" id="notificationEmail" type="email" placeholder=""
                name="notificationEmail" value="" required>
            </label>

            <button class="btn btn-primary btn-large" type="submit">Сохранить</button>
          </form>
        </div>

        
      </article>
    </main>
  </div>

{% endblock %}

{% block scripts %}
  <script>

    window.onReady('vacancy-form-init', function() {
      window.vacancyFormInit(
        {{ rules|json_encode|raw }},
      );
    });
  </script>
{% endblock %}