{% set meta = {
  title: 'Вакансии',
  postfix: true,
}%}

{% extends "layouts/simpleLayout.html.twig" %}

{% block styles %}
  <link rel="stylesheet" href="{{ asset('assets/com/vacancy-feed.min.css') }}">
  <script src="{{ asset('assets/com/vacancy-feed.min.js') }}" async></script>
{% endblock %}


{% block pageContent %}
  <div class="container">
    <main class="page-padding">
      <div class="flex-between-top-wrap mb-4">
        <h1 class="h1 mr-2"> Вакансии </h1>
        {# <a class="btn  btn-primary" href="{{ path('vacancy_new') }}">Добавить 
          <span class="ico ico-plus ico_12 ml-1"></span>
        </a> #}
      </div>

      <div class="filters-row">
        <div class="filters-sidebar">
          {% include "advertising/vacancyFilters.html.twig" %}
        </div>
        <div class="filters-content">

            <section class="feed">
              <div class="mb-4 bg_white pa-4">
                <div>Теги</div>
                {% set tagsAsFeedFilter = true %}
                {% include "components/selectTags.html.twig" %}
              </div>

              <div class="feed__vacancies" data-load-wrapper="vacancy">
                  
                  <div class="vacancies" data-load-container>
                      {% if vacancies is defined and vacancies|length > 0 %}
                          {% include "components/feeds/vacanciesFeed.html.twig" %}
                      {% else %}
                          <div class="empty">Нет вакансий</div>
                      {% endif %}
                  </div>

                  {# load more #}
                  <div class="flex-center">
                      <button class="btn btn-large btn-primary load-more mv-1 {{ remainingPages > 0 ? '' : 'hidden' }}">
                        Загрузить ещё
                      </button>
                  </div>
                {# /load more #}

              </div>{# .feed__vacancies #}

            </section>{# .feed #}
        </div>
      </div>
    </main>
  </div>
{% endblock %}

