{% set meta = {
  title: 'Вакансия ' ~ vacancy.title,
  postfix: true,
}%}

{% extends "layouts/postLayout.html.twig" %}

{% set vacancyTypeText = {
  'fulltime': 'Полная занятость',
  'parttime': 'Частичная занятость'
}%}

{% set vacancyPlaceText = {
  'remote': 'Удаленная работа',
  'office': 'Работа в офисе'
}%}

{% set editblockType = "vacancy" %}
{% set editblockPlace = "post" %}
{% set editblockObject = vacancy %}

{% set editblockHide = true %}

{% set postType = 'vacancy' %}
{% set post = vacancy %}

{% block postAuthorInfo %}
  <div class="mv-2">
    {% if vacancy.workPlace == "office" %}{{ vacancyPlaceText['office'] }} &bull; {{ vacancy.city }}
    {% else %}{{ vacancyPlaceText['remote'] }}
    {% endif %}

    &bull; {{ vacancyTypeText[vacancy.workType.name] }}
  </div>

  <div style="font-size: 30px; font-weight: bold;">
    {% if vacancy.salaryFrom %}
      от {{ vacancy.salaryFrom }} 
    {% endif %}
    
    {% if vacancy.salaryTo %}
      до {{ vacancy.salaryTo }} 
    {% endif %}

    RUB
  </div>

{% endblock %}

{% block postContent %}
  {% if vacancy.image %}
    <div><img src="{{ vacancy.image }}"></div>
  {% endif %}

  <section class="mv-4">
    <h3>Требования</h3>

    <ul class="official-list">
      {% for requirement in vacancy.requirements %}
        <li>{{ requirement }}</li>
      {% endfor %}
    </ul>
  </section>

  <section class="mv-4">
    <h3>Задачи</h3>

    <ul class="official-list">
      {% for task in vacancy.tasks %}
        <li>{{ task }}</li>
      {% endfor %}
    </ul>
  </section>

  <section class="mv-4">
    <h3>Условия работы</h3>

    <ul class="official-list">
      {% for condition in vacancy.conditions %}
        <li>{{ condition }}</li>
      {% endfor %}
    </ul>
  </section>

  <section class="mv-4">
    <h3>Контакты</h3>

    Почта для откликов: {{ vacancy.candidateEmail }}
  </section>

{% endblock %}

{% block afterPostContent %}
  {% if false %}
    {% set companyVacancies = [
      {
        title: 'Разработчик C#',
        salaryFrom: 15000,
        salaryTo: 20000,
        workPlace: 'office',
        city: 'Москва',
        workType: { name: 'fulltime' }
      },{
        title: 'Разработчик Java',
        salaryFrom: 15000,
        workPlace: 'remote',
        workType: { name: 'parttime' }
      }
    ]%}
    <section class="bg_white pa-4 mt-6">
      <h2 class="h2">Другие вакансии этой компании</h2>
      <div class="">
        {% for vacancy in companyVacancies %}
          <a href="#" class="link-reverse">
            <strong>{{ vacancy.title }}</strong> 

            {% if vacancy.salaryFrom is defined and vacancy.salaryFrom %}
              от {{ vacancy.salaryFrom }} 
            {% endif %}
            
            {% if vacancy.salaryTo is defined and vacancy.salaryTo %}
              до {{ vacancy.salaryTo }} 
            {% endif %}

            RUB 

            {% if vacancy.workPlace == "office" %}{{ vacancyPlaceText['office'] }} &bull; {{ vacancy.city }}
            {% else %}{{ vacancyPlaceText['remote'] }}
            {% endif %}

            &bull; {{ vacancyTypeText[vacancy.workType.name] }}

          </a>
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endblock %}


{% block sidebar %}
    {% set sidebarSet = ['tests', 'advert'] %}
    {% include "layouts/sidebar.html.twig" %}
{% endblock %}
