{% extends 'admin/adminLayout.html.twig' %}

{% set breadcrumbs = [
    {
        link: path('admin_tags_index'),
        title: 'Теги',
    }, {
        title: 'Создание'
    }
]%}

{% block adminContent %}
    <div class="card" style="margin: 20px">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Создать</button>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}