{% extends 'admin/adminLayout.html.twig' %}

{% set breadcrumbs = [
    {
        title: 'Теги',
    }
]%}

{% block adminContent %}
    {% include 'components/flash.html.twig' %}
    <div class="controls" style="margin-bottom: 5px">
        <a href="{{ path('admin_tags_create') }}" class="btn btn-success pull-right" style="margin-bottom: 5px">Добавить тег</a>
    </div>
    <div class="box">
        <table class="table table-bordered bg-white">
            <thead class="thead-dark">
            <tr>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Имя', 'createdAt') }}</th>
                <th>Действия</th>
            </tr>
            </tr>
            </thead>
            <tbody>
            {% set token = csrf_token('delete') %}
            {% for tag in pagination %}
                <tr>
                    <td>
                        <a href="{{ path('admin_tags_show', {name: tag.name}) }}">{{ tag.name }}</a>
                    </td>
                    <td>
                        <div class="d-flex flex-row">
                            <a href="{{ path('admin_tags_edit', {name: tag.name}) }}" class="btn btn-sm btn-primary mr-1"><span class="fa fa-pencil"></span></a>
                            <form action="{{ path('admin_tags_delete', {name: tag.name}) }}" method="post" onsubmit="return confirm('Вы уверены?')" name="form-delete">
                                <input type="hidden" name="token" value="{{ token }}" />
                                <button type="submit" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}