{% extends 'admin/adminLayout.html.twig' %}

{% set breadcrumbs = [
    {
        link: path('admin_tags_index'),
        title: 'Теги',
    }, {
        title: tag.name
    }
]%}

{% block adminContent %}
    <div class="controls">
        <div class="form-group col-xs-6" style="float: left; margin-right: 10px">
            <form action="{{ path('admin_tags_delete', {name: tag.name}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        </div>
        <a href="{{ path('admin_tags_edit', {name: tag.name}) }}" class="btn btn-primary">Редактировать</a>
    </div>
    <div class="box">
        <table class="table table-bordered bg-white">
            <tbody>
            <tr>
                <th>Тег</th>
                <td>{{ tag.name }}</td>
            </tr>
            <tr>
                <th>Кол-во подписанных пользователей</th>
                <td>{{ tag.user.count }}</td>
            </tr>
            <tr>
                <th>Кол-во публикаций под тегом</th>
                <td>{{ tag.post.count }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}