{% extends "components/feeds/feed.html.twig" %}

{% block finishLoop %}
    {# после 3 поста - рекламный блок #}
    {% if loop.index == 3 and feedAdvert is defined %}
        {# <div class="mv-6">
        <div class="mobile-full">
            <div style="max-width: 728px; width: 100%; height: 90px; background: black; color: white; font-size: 40px; font-weight: bold; display: flex; align-items: center; padding: 0 40px; margin: 0 auto;">Python-разработчик</div>
        </div>
        </div> #}
    {% endif %}

    {# после 6 поста - слайдер событий #}
    {% if loop.index == 6 and feedEvents is defined %}
        {# {{ render(controller('App\\Infrastructure\\Http\\AppKernelController::events', {'view': 'mobile'})) }}#}
    {% endif %}

    {# после 9 поста - слайдер вакансий  #}
    {% if loop.index == 9 and feedVacancies is defined %}
        {# {{ render(controller('App\\Infrastructure\\Http\\AppKernelController::vacancies', {'view': 'mobile'})) }}#}
    {% endif %}
{% endblock %}