
{% block beforeLoop %}
{% endblock %}

{% for post in posts %}
    
    {% block startLoop %}   
    {% endblock %}
    
    {% include 'components/cards/articlePreview.html.twig' %}

    {% block finishLoop %}
    {% endblock %}

{% endfor %}
