
{% if notifications|length > 0 %}
  {% for notification in notifications %}

    {% if notification.notificationType == "like_on_post" %}
      {% set text = 'положительно оценил(а) вашу запись <a href="' ~ path('single_post', {'id': notification.postId}) ~ '">' ~ notification.postTitle ~ '</a>' %}
      {% set icon = 'like' %}
      {% set color = 'red' %}
    {% elseif notification.notificationType == "like_on_comment" %}
      {% set text = 'положительно оценил(а) ваш комментарий к записи <a href="' ~ path('single_post', {'id': notification.postId}) ~ '#comment-' ~ notification.commentId ~ '">' ~ notification.postTitle ~ '</a>' %}
      {% set icon = 'like' %}
      {% set color = 'red' %}
    {% elseif notification.notificationType == "comment_on_post" %}
      {% set text = 'прокомментировал(а) вашу запись <a href="' ~ path('single_post', {'id': notification.postId}) ~ '#comment-' ~ notification.commentId ~ '">' ~ notification.postTitle ~ '</a>' %}
      {% set icon = 'comments' %}
      {% set color = 'orange' %}
    {% elseif notification.notificationType == "comment_on_comment" %}
      {% set text = 'ответил(а) на ваш комментарий к записи <a href="' ~ path('single_post', {'id': notification.postId}) ~ '#comment-' ~ notification.commentId ~ '">' ~ notification.postTitle ~ '</a>' %}
      {% set icon = 'comments' %}
      {% set color = 'green' %}
    {% endif %}

    {% set size = location is defined and location == "header" ? 24 : 24 %}
    <div class="notification-item" data-id="{{ notification.id }}"  data-notification-block>
      <div class="notification-item__icon">
        <div class="ico ico-{{ icon }} ico_{{ size }} color_{{ color }}"></div>
      </div>
      <div class="notification-item__text">
        <a href="#{{ notification.executorId }}">{{ notification.executor }}</a> {{ text|raw }}
        <br>
        <div class="notification-item__date secondary-text">{{ notification.executedAt|date("Y-m-d") }}</div>
      </div>
      <div class="notification-item__delete flex-middle-center">
        <div class="ico ico-close ico_32"></div>
      </div>
      
    
    </div>


  {% endfor %}

  {% if location is defined and location == "header" %}
    <a href="{{ path('user_notifications') }}" class="notifications__link link-reverse color_secondary">Смотреть все</a>
  {% endif %}
{% else %}
  <div class="pa-4">
    <div class="text-center">У вас пока нет оповещений</div>
    <div class="empty"></div>
  </div>
{% endif %}