{% if posts|length > 0 %}
  {% for post in posts %}
    <a class="search-result no-link" href="{{ path('single_post', { id: post.id })}}" title="{{ post.title }}">
      {% if post.previewImage %}
        <div class="search-result__image">
          <img src="{{ post.previewImage }}" width="200" height="100">
        </div>
      {% endif %}
      <div class="search-result__title">
        {{ post.title }}
      </div>
    </a>
  {% endfor %}

  <label class="pa-2 flex-center link-reverse">
      <input type="submit" class="hidden">
      Посмотреть все результаты
  </label>
{% endif %}