{% set isBookmarked = false %}

{% set editblockPlace = "feed" %}
{% set editblockType = "vacancy" %}


{% for vacancy in vacancies %}
    {% set editblockObject = vacancy %}
    {% include 'components/cards/vacancyPreview.html.twig' %}
{% endfor %}