{% extends 'admin/adminLayout.html.twig' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin_profile') }}">Главная</a></li>
        <li class="breadcrumb-item">Задачи</li>
    </ol>

{% endblock %}

{% block adminContent %}
    {% include 'components/flash.html.twig' %}
    <div class="card">
        <div class="card-body">
            {% include 'admin/partials/_tabs.html.twig' %}

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">{{ form_widget(form.resume) }}</div>
                <div class="col-md-2">{{ form_widget(form.label) }}</div>
                <div class="col-md-2">{{ form_widget(form.executor) }}</div>
                <button type="submit" class="btn btn-primary" style="margin-right: 10px">Фильтровать</button>
                <a href="{{ path('admin_tasks_all') }}" class="btn btn-outline-secondary">
                    Сбросить
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="box">
        <table class="table table-bordered bg-white">
            <thead class="thead-dark">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Резюме', 'resume') }}</th>
                <th>Действия</th>
                <th>{{ knp_pagination_sortable(pagination, 'Статус', 'label') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Исполнитель', 'executor') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Дата завершения', 'endDate') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for task in pagination %}
                <tr>
                    <td><a href="#">{{ task.resume|slice(0, 80) }}</a></td>
                    <td>
                        <div class="d-flex flex-row">
                            <form action="{{ path('admin_tasks_task_assign', {id: task.id}) }}" method="post">
                                <button type="submit" class="btn btn-sm mr-1 btn-info"><span class="fa fa-code-fork"></span></button>
                            </form>
                            {% if is_granted('ROLE_EDITOR') %}
                            <form action="{{ path('admin_tasks_task_edit', {id: task.id}) }}" method="post">
                                <button type="submit" class="btn btn-sm btn-info"><span class="fa fa-pencil"></span>
                                </button>
                            </form>
                            {% endif %}
                            <form action="{{ path('admin_tasks_task_delete', {id: task.id}) }}" method="post" onsubmit="return confirm('Вы уверены?')">
                                <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
                                <button type="submit" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span>
                                </button>
                            </form>


                        </div>
                    </td>
                    <td>{{ label_status(task.label) }}</td>
                    <td>{{ task.executor ? task.executor.email.value : 'Автор не назначен'}}</td>
                    <td>{{ task.endDate|date("m-d-Y") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}