{% extends 'admin/adminLayout.html.twig' %}

{% block adminContent %}
    <div class="card" style="margin: 20px">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_row(form.resume) }}
                {{ form_row(form.content) }}
                {{ form_row(form.label) }}
            <div class="form-group row">
                <div class="col-12">
                    {{ form_row(form.endDate) }}
                </div>
            </div>
        </div>
                <button type="submit" class="btn btn-primary">Создать</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block adminStyles %}
    <link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css">
{% endblock %}

{% block adminScripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script>
      $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
          format: 'yyyy-mm-dd'
        });
      });
    </script>
{% endblock %}