{% extends 'admin/adminLayout.html.twig' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin_profile') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_tasks_all') }}">Задачи</a></li>
        <li class="breadcrumb-item active">Редактирование</li>
    </ol>
{% endblock %}

{% block adminContent %}
    {% include 'components/flash.html.twig' %}
    <div class="card" style="margin: 20px">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}