{% extends 'admin/adminLayout.html.twig' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin_profile') }}">Главная</a></li>
        <li class="breadcrumb-item">Задачи</li>
    </ol>
{% endblock %}

{% block adminContent %}
    <div class="card">
        <div class="card-body">
            {% include 'admin/partials/_tabs.html.twig' %}

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">{{ form_widget(form.resume) }}</div>
                <div class="col-md-2">{{ form_widget(form.label) }}</div>
                <div class="col-md-2">{{ form_widget(form.executor) }}</div>
                <button type="submit" class="btn btn-primary" style="margin-right: 10px">Фильтровать</button>
                <a href="{{ path('admin_tasks_all') }}" class="btn btn-outline-secondary">
                    Сбросить
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    </div>

    <div class="box">
        <table class="table table-bordered bg-white">
            <thead class="thead-dark">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Резюме', 'resume') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Статус', 'label') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Исполнитель', 'executor') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Дата завершения', 'endDate') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for task in pagination %}
                <tr>
                    <td><a href="#">{{ task.resume }}</a></td>
                    <td>{{ label_status(task.label) }}</td>
                    <td>{{ task.executor ? task.executor.email.value : 'Автор не назначен'}}</td>
                    <td>{{ task.endDate|date("m-d-Y") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}