{% set errorTexts = {
    '403': 'Доступ запрещен',
    '404': 'Страница не найдена'
}%}

{% set meta = {
    title: errorTexts[errorCode],
    postfix: true
}%}

{% set sidebarSet = ['tests', 'advert'] %}
{% extends "layouts/baseLayout.html.twig" %}

{% block content %}

    <div class="error-screen">
        <div class="error-screen__code">{{ errorCode }}</div>

        <div class="error-screen__text">
            {{ errorTexts[errorCode] }}
        </div>
    </div>

{% endblock %}