<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ошибка сервера|Библиотека программиста</title>

  <style>
    * { margin: 0; padding: 0; box-sizing: border-box; }
    .page {
      height: 100vh;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      font-family: sans-serif;
    }
    .container {
      width: 700px;
      max-width: 100%;
      margin: auto;
    }
    .header {
      height: 55px;
      background: #0b1233;
      color: white;
    }
    .header .container {
      height: 100%;
      display: flex;
      align-items: center;
    }
    .header .link {
      color: white;
      text-decoration: none;
    }
    .header .link:hover {
      text-decoration: underline;
    }
    .errorCode {
      font-size: 120px;
      color: #0b1233;
    }
    .errorText {
      font-size: 40px;
      color: #aaaaaa;
    }
    .main  {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }
    .main .container {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="page">
    <header class="header">
      <div class="container">
        <a class="link" href="#">
          Вернуться на proglib.io
        </a>
      </div>
    </header>
    <main class="main">
      <div class="container">
        <div class="errorText">
          Что-то пошло не так :(
        </div>
        <div class="errorCode">
          {{ errorCode }}
        </div>
      </div>
    </main>
  </div>
</body>
</html>