.color_main {
  color: $mainColor;
}
.color_base {
  color: $mainTextColor;
}

.color_secondary {
  color: $secondaryTextColor;
}

.color_error, .color_red {
  color: $errorColor;
}

.color_warning, .color_orange {
  color: $warningColor;
}

.color_success, .color_green {
  color: $successColor;
}



.bg_white {
  background-color: $colorWhite;
}

.bg_light {
  background-color: $lightColor;
}
.bg_base {
  background-color: $mainTextColor;
}

.bg_secondary {
  background-color: $secondaryTextColor;
}

.bg_error, .bg_red {
  background-color: $errorColor;
}

.bg_warning, .bg_orange {
  background-color: $warningColor;
}

.bg_success, .bg_green {
  background-color: $successColor;
}