/* VIEWPORT */

.vh100 {
    min-height: 100vh;
}


/* FLEX */

.flex, [class *= "flex"] {
    display: flex;
}

[class *= "-wrap" ] {
    flex-wrap: wrap;
}

[class *= "-reverse" ] {
    flex-direction: row-reverse;
}

[class *= "-column" ] {
    flex-direction: column;
}

[class *= "-column-reverse" ] {
    flex-direction: column-reverse;
}

[class *= "-between" ] {
    justify-content: space-between;
}

[class *= "-center" ] {
    justify-content: center;
}

[class *= "-right" ] {
    justify-content: flex-end;
}

[class *= "-top" ] {
    align-items: flex-start;
}

[class *= "-middle" ] {
    align-items: center;
}

[class *= "-bottom" ] {
    align-items: flex-end;
}

[class *= "-stretch" ] {
    align-items: stretch;
}

.fgrow-0 {
    flex-grow: 0;
}

.fgrow-1 {
    flex-grow: 1;
}

/* PADDINGS, MARGINS */

$step: 5px;
@for $i from 0 through 10 {
    .pt-#{$i} { padding-top: $i * $step; }
    .pb-#{$i} { padding-bottom: $i * $step; }
    .pl-#{$i} { padding-left: $i * $step; }
    .pr-#{$i} { padding-right: $i * $step; }
    .ph-#{$i} { padding-left: $i * $step; padding-right: $i * $step; }
    .pv-#{$i} { padding-top: $i * $step; padding-bottom: $i * $step; }
    .pa-#{$i} { padding: $i * $step; }

    .mt-#{$i} { margin-top: $i * $step; }
    .mb-#{$i} { margin-bottom: $i * $step; }
    .ml-#{$i} { margin-left: $i * $step; }
    .mr-#{$i} { margin-right: $i * $step; }
    .mh-#{$i} { margin-left: $i * $step; margin-right: $i * $step; }
    .mv-#{$i} { margin-top: $i * $step; margin-bottom: $i * $step; }
    .ma-#{$i} { margin: $i * $step; }
}

/* SIZE */

.h-100 {
    height: 100%;
}


/* MEDIA */

// hide when sidebar show
.s-hide {
    @include correct-display;
}
// show when sidebar show
.s-show {
    display: none;
}
@media screen and (min-width: $breakpointSidebarAppear) {
    .s-hide[class] {
        display: none;
    }
    .s-show {
        @include correct-display;
    }
}

.s-mobile-hide {
    display: none;
}
.s-mobile-show {
    @include correct-display;
}

@media screen and (min-width: $breakpointMobileM) {
    .s-mobile-hide {
        @include correct-display;
    }

    .s-mobile-show[class] {
        display: none;
    }
}


.mobile-hide {
    display: none;
}
.mobile-show {
    @include correct-display;
}

@media screen and (min-width: $breakpointMobile) {
    .mobile-hide {
        @include correct-display;
    }

    .mobile-show[class] {
        display: none;
    }
}

.desktop-show {
    display: none;
}
.desktop-hide {
    @include correct-display;
}

@media screen and (min-width: $breakpointTablet) {
    .desktop-show {
        @include correct-display;
    }

    .desktop-hide[class] {
        display: none;
    }
}


/* BLOCKS */
.bg-block {
    background-color: $colorWhite;
    padding: 40px 20px;

    @media screen and (min-width: $breakpointMobile) {
        padding: 40px;
    }
}

.block {
    @include block;
}

.empty {
    width: 100%;
    font-size: $emptyFontSize;
    color: $secondaryTextColor;
    text-align: center;

    &:after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 300px;
        background-image: url(/img/site/frog.png);
        background-position: center;
        background-size: auto 200px;
        background-repeat: no-repeat;
        filter: grayscale(1);
    }

    a {
        color: inherit;
    }
}

.hidden {
    display: none;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: $stickyHeaderZIndex;
}

.o-hidden {
    overflow: hidden;
}
