.fs-1 {
    font-size: 14px;
}

.bold {
    font-weight: 700;
}

.link-reverse {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.no-link {
    color: inherit;
    text-decoration: none;
}

.secondary-text {
    font-size: $secondaryFontSize;
    color: $secondaryTextColor;
}

.nowrap {
    white-space: nowrap;
}

.text-center {
    text-align: center;  
}

.text-left {
    text-align: left;  
}

.text-right {
    text-align: right;  
}

[data-content-before] {
    &:before {
        content: attr(data-content-before);
    }
}

[data-content-after] {
    &:after {
        content: attr(data-content-after);
    }
}

[data-content-empty] {
    &:empty:before, &:empty:after {
        content: '';
    }
}