

/**
 * default button
 * серая кнопка без рамки с темным текстом 
 * hover, active, marked: темная кнопка с темной рамкой и белым текстом
 */
.btn {
    @include buttonBase();
    background-color: $defaultButtonsBg;
    border-color: $defaultButtonsBg;
    color: $buttonsColor;

    &:hover, &.active, &.marked {
        background-color: $buttonsColor;
        border-color: $buttonsColor;
        color: $colorWhite;
    }

    .ico + span, span + .ico {
        margin-left: 5px;
    }

    &-inactive {
        cursor: default;
        &:hover, &.active, &.marked {
            background-color: $defaultButtonsBg;
            color: $buttonsColor;
        }
    }
}
/**
 * default outline button
 * прозрачная кнопка с серой рамкой и серым текстом
 * hover, active, marked: темная кнопка с темной рамкой и белым текстом
 */
.btn-outline {
    background-color: transparent;
    border-color: $secondaryTextColor;
    color: $secondaryTextColor;

    &:hover, &.active, &.marked {
        background-color: $secondaryTextColor;
        color: $buttonsColor;
    }

    &.btn-inactive {
        cursor: default;
        &:hover, &.active, &.marked {
            background-color: transparent;
            border-color: $secondaryTextColor;
            color: $secondaryTextColor;
        }
    }
}
/**
 * primary button
 * темная кнопка с темной рамкой и белым текстом
 */
.btn-primary {
    background-color: $buttonsColor;
    border-color: $buttonsColor;
    color: $colorWhite;

    &:hover, &.active, &.marked {
        background-color: lighten($buttonsColor, 15%);
        border-color: lighten($buttonsColor, 15%);
    }
}
/** 
 * primary outline button
 * прозрачная кнопка с темной рамкой и темным текстом 
 * hover, active, marked: темная кнопка с темной рамкой и белым текстом
 */
.btn-outline-primary {
    background-color: transparent;
    border-color: $buttonsColor;

    &:hover, &.active, &.marked {
        background-color: $buttonsColor;
        color: $colorWhite;
    }

    &.btn-inactive {
        &:hover, &.active, &.marked {
            background-color: transparent;
            border-color: $buttonsColor;
        }
    }
}
/** 
 * primary inverse button
 * темная кнопка с темной рамкой и белым текстом
 * hover, active, marked: прозрачная кнопка с темной рамкой и темным текстом 
 */
.btn-inverse-primary {
    background-color: $buttonsColor;
    border-color: $buttonsColor;
    color: $colorWhite;
    
    &:hover, &.active, &.marked {
        background-color: transparent;
        color: $buttonsColor;
    }

    &.btn-inactive {
        &:hover, &.active, &.marked {
            background-color: $buttonsColor;
            color: $colorWhite;
        }
    }
}

/**
 * white outline button
 * прозрачная кнопка с белой рамкой и белым текстом
 * hover, active, marked: белая кнопка с белой рамкой и темным текстом
 */
.btn-outline-white {
    background-color: transparent;
    border-color: $colorWhite;
    color: $colorWhite;

    &:hover, &.active, &.marked {
        background-color: $colorWhite;
        color: $buttonsColor;
    }
}


/**
 * default button
 */
.btn-default {

}

/**
 * info button
 */
.btn-info {

}

/**
 * success button
 */
.btn-success {

}

/**
 * error button
 */
.btn-error {

}

/**
 * warning button
 */
.btn-warning {

}

.btn-ghost {
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: $buttonsColor;

    &:hover, &.active, &.marked {
        background: transparent;
        color: lighten($buttonsColor, 15%);
    }
}

.btn-small {
    height: $buttonHeightSmall;
    font-size: $buttonFontSizeSmall;
}

.btn-large {
    height: $buttonHeightLarge;
    font-size: $buttonFontSizeLarge;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn {
    &.disabled, &[disabled], &.disabled:hover, &[disabled]:hover {
        background-color: $defaultButtonsBg;
        border-color: $defaultButtonsBg;
        color: $buttonDisabledColor;
        opacity: 0.8;
        cursor: not-allowed;

        &.btn-ghost {
            background-color: transparent;
        }
    }

}