.loader-button, .filters__item.active, .load-more {
  @include loadingButton;
}

[data-load][data-loading],
[data-submiting] [type="submit"] {
  color: transparent;
  position: relative;

  &:hover, &:focus {
    color: transparent;
  }

  &:before {
    content: '';
    @include preloaderBg();
    background-size: 1em 1em;
    background-position: center center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}