/**
 * base button style
 */
 @mixin buttonBase() {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    border-radius: $buttonRadius;
    border-width: 1px;
    border-style: solid;

    height: $buttonHeight;
    line-height: $buttonHeight - 2px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: $buttonFontSizeNormal;
    font-weight: 500;
    text-decoration: none;

    white-space: nowrap;

    cursor: pointer;

    margin-right: 10px;

    transition: color $animationDuration, 
                background-color $animationDuration, 
                border-color $animationDuration;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        text-decoration: none;
    }
}

@mixin loadingButton() {
  position: relative;
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;

  &.button_large {
      background-size: 24px 24px;
  }

  [data-progress] &,
  &[data-progress] {
      color: transparent;
      @include preloaderBg();
  }
}

@mixin socialButtonColored() {
    color: $colorWhite;

    &[data-social="vk"] {
        background: $socialVk;
    }

    &[data-social="github"] {
        background: $socialGithub;
    }

    &[data-social="google"] {
        background: $socialGoogle;
    }

    &[data-social="fb"] {
        background: $socialFb;
    }
    }

    @mixin socialButtonColoredHover() {
    background-color: $colorWhite;
    border-color: currentColor;

    &[data-social="vk"] {
        color: $socialVk; 
    }

    &[data-social="github"] {
        color: $socialGithub;
    }

    &[data-social="google"] {
        color: $socialGoogle;
    }

    &[data-social="fb"] {
        color: $socialFb;
    }
    }

    @mixin socialButtonWhite() {
    background-color: $colorWhite;
    border-color: currentColor;

    &[data-social="vk"] {
        color: $socialVk; 
    }

    &[data-social="github"] {
        color: $socialGithub;
    }

    &[data-social="google"] {
        color: $socialGoogle;
    }

    &[data-social="fb"] {
        color: $socialFb;
    }
}