[data-save] {
  &:before {
    content: 'Сохранить';
  }
}

[data-save="saving"] {
  &:before {
    content: 'Сохранение...';
  }
}

[data-save="saved"] {
  &:before {
    content: 'Сохранено';
  }
}

