<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="brand-card">
      <div class="brand-card-header bg-facebook">
        <i class="fa fa-facebook"></i>
        <div class="chart-wrapper">
          <canvas id="social-box-chart-1" height="90"></canvas>
        </div>
      </div>
      <div class="brand-card-body">
        <div>
          <div class="text-value">89k</div>
          <div class="text-uppercase text-muted small">friends</div>
        </div>
        <div>
          <div class="text-value">459</div>
          <div class="text-uppercase text-muted small">feeds</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="brand-card">
      <div class="brand-card-header bg-twitter">
        <i class="fa fa-twitter"></i>
        <div class="chart-wrapper">
          <canvas id="social-box-chart-2" height="90"></canvas>
        </div>
      </div>
      <div class="brand-card-body">
        <div>
          <div class="text-value">973k</div>
          <div class="text-uppercase text-muted small">followers</div>
        </div>
        <div>
          <div class="text-value">1.792</div>
          <div class="text-uppercase text-muted small">tweets</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="brand-card">
      <div class="brand-card-header bg-linkedin">
        <i class="fa fa-linkedin"></i>
        <div class="chart-wrapper">
          <canvas id="social-box-chart-3" height="90"></canvas>
        </div>
      </div>
      <div class="brand-card-body">
        <div>
          <div class="text-value">500+</div>
          <div class="text-uppercase text-muted small">contacts</div>
        </div>
        <div>
          <div class="text-value">292</div>
          <div class="text-uppercase text-muted small">feeds</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="brand-card">
      <div class="brand-card-header bg-google-plus">
        <i class="fa fa-google-plus"></i>
        <div class="chart-wrapper">
          <canvas id="social-box-chart-4" height="90"></canvas>
        </div>
      </div>
      <div class="brand-card-body">
        <div>
          <div class="text-value">894</div>
          <div class="text-uppercase text-muted small">followers</div>
        </div>
        <div>
          <div class="text-value">92</div>
          <div class="text-uppercase text-muted small">circles</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col-->
</div>
<!-- /.row-->