{#
Шаблон редактора статьи (без сайдбара)
Стили:
- post/new-post.min.css
Скрипты:
- post/new-post.min.js (async)
#}

{% set bodyClasses = "editor-page x-editor" %}
{% set meta = {
      title: 'Новый пост',
      postfix: true,
}%}

{% extends "layouts/simpleLayout.html.twig" %}

{% block pageHead %}
      <link rel="stylesheet" href="{{ asset("assets/post/new-post.min.css") }}">
      <script type="text/javascript" src="{{ asset('assets/post/new-post.min.js') }}" async></script>
{% endblock %}

{% block pageContent %}  
      <div class="sticky-header bg-white">
            <div class="editor-bar flex-middle">
                  <div class="container flex-right-wrap-middle">
                        <a class="btn btn-ghost btn-primary editor-bar-__action no-link hidden x-editor__preview-link" target="_blank" href="" id="preview" data-title="Предпросмотр">
                              <div class="ico ico-eye"></div>
                        </a>
                        <button class="btn btn-ghost btn-primary editor-bar__action no-link ml-2 x-editor__save" id="save" data-title="Сохранить изменения" disabled>
                              <div class="ico ico-save"></div>
                        </button>
                        <button class="btn btn-primary ml-2 x-editor__publish" id="publish">Опубликовать</button>
                  </div>
            </div>
      </div>

      <div class="container">
            <div class="row">
                  <div class="col">

                        <div class="editor flex-center">
                              
                              <div class="editor__area new-post">
                                    <div class="x-editor__error pb-4 color_error"></div>
                                    {# мета-данные поста #}
                                    <div class="new-post__meta color_secondary mb-6 select-block">
                                          <div class="new-post__last-saving x-editor__last-saving"></div>
                                          <div>
                                                <div class="mb-1">Теги</div>
                                                {% include "components/selectTags.html.twig" %}
                                          </div>
                                    </div>

                                    {# заголовок поста, не разбивать по строкам #}
                                    <div data-length-checker>
                                          <h1 class="new-post__title editor-width mb-4 x-editor__title" 
                                                contenteditable="true" 
                                                id="new-post-title" 
                                                data-post-field="title"
                                                data-placeholder="Заголовок поста" data-length-field></h1>
                                          <div data-length-counter></div>
                                    </div>
                                    

                                    {# краткое содержание, не разбивать по строкам #}
                                    <div data-length-checker>
                                          <div class="editor-width new-post__annotation pa-4 mb-4 x-editor__preview" 
                                                contenteditable="true"
                                                id="new-post-annotation" 
                                                data-post-field="annotation"
                                                data-placeholder="Краткое содержание" data-length-field></div>
                                          <div data-length-counter></div>
                                    </div>


                                    {# загрузчик картинки для превью #}
                                    <div class="new-post__image editor-width mb-4">
                                          <form data-action="{{ path('preview_image_upload') }}"
                                                data-max="2097152"
                                                data-loader-images
                                                class="file-loader file-loader__x-editor x-editor__image-loader">
                                                <div class="file-loader__dropzone" data-loader-dropzone>
                                                      <label class="file-loader__dropzone-button flex-column-middle">
                                                            <input type="file" data-loader-input accept="image/*">
                                                            <div class="ico ico-add-image ico_48"></div>
                                                            <div class="fs-1">Разрешение картинки строго 2:1, минимальная высота 500px.</div>
                                                      </label>
                                                      <div class="file-loader__progress">
                                                            <div class="file-loader__progress-bar" data-loader-progress></div>
                                                      </div>
                                                      
                                                </div>
                                                
                                                <div class="file-loader__previews" data-loader-preview></div>

                                                <div class="file-loader__message" data-loader-message></div>
                                                
                                                {# если есть картинка, вставить ее сюда #}
                                                <input type="hidden" name="file-path" id="new-post-image" 
                                                      value=""
                                                      data-post-field="image">

                                          </form>
                                    </div>

                                    {# сам редактор #}
                                    <div id="editor-content" class="new-post__content"></div>
                              </div>
                              
                        </div>

                  </div>
            </div>
      </div>
{% endblock %}

{% block pageBottom %}
      {# инициализация редактора #}
      <script>
            
            (function() {
                  let postData;

                  {% if post is defined %}
                        postData = {};
                        postData.id = "{{ post.id }}";
                        postData.title = "{{ post.title }}";
                        postData.preview = "{{ post.preview }}";
                        postData.image = "{{ post.previewImage }}";
                        postData.tags = {{ post.tags|map(=> _.id)|slice(0, post.tags|length)|json_encode|raw }};
                        postData.editorData = {{ post.renderedContent|raw }};
                  {% endif %}

                  window.onReady('post-editor', function() {
                        new PostEditor({
                              redirectAfterDeleteUrl: "{{ path('proglib_app') }}",
                              redirectAfterPublishUrl: "{{ path('proglib_app') }}",
                              publishUrl: "{{ path('save_post') }}", 
                              saveUrl: "{{ path('save_draft') }}", 

                              getCreatedUrl: function (uuid, currentPath) { 
                                    let tmp = "{{ path('edit_post', {id: 'POSTID' }) }}";
                                    return tmp.replace("POSTID", uuid);
                              },
                              getPreviewUrl: function(uuid) {
                                    let tmp = "{{ path('single_post', {id: 'POSTID' }) }}";
                                    return tmp.replace("POSTID", uuid);
                              },
                              editorConfig: {
                                    loadImageByFile: "{{ path('article_files_uploader') }}",
                                    loadImageByUrl: "{{ path('api_post_image_fetch') }}"
                              },
                              backgroundSave: true,
                              saveDelay: 400,
                              validationRules: {{ rules|json_encode|raw }}

                        }, postData);
                  })
            })();
            
      </script>
{% endblock %}


