{% extends 'admin/adminLayout.html.twig' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin_profile') }}">Главная</a></li>
        <li class="breadcrumb-item">Менеджеры</li>
    </ol>

{% endblock %}

{% block adminContent %}
    {% include 'components/flash.html.twig' %}
    <div class="card">
        <div class="card-body">
            {% include 'admin/partials/_tabs.html.twig' %}

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">{{ form_widget(form.name) }}</div>
                <div class="col-md-2">{{ form_widget(form.role) }}</div>
                <button type="submit" class="btn btn-primary" style="margin-right: 10px">Фильтровать</button>
                <a href="{{ path('admin_members_all') }}" class="btn btn-outline-secondary">
                    Сбросить
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="box">
        <table class="table table-bordered bg-white">
            <thead class="thead-dark">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Имя', 'resume') }}</th>
                <th>Действия</th>
                <th>{{ knp_pagination_sortable(pagination, 'Роль', 'role') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Дата присоединения', 'date') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for member in pagination %}
                <tr>
                    <td><a href="{{ path('admin_members_member_show', {id: member.id}) }}" target="_blank" class="pull-right"><span class="fa fa-external-link"></span></a>
                        {{ member.name }}
                    </td>
                    <td>
                        <div class="d-flex flex-row">
                            <form action="#" method="post">
                                <button type="submit" class="btn btn-sm mr-1 btn-info"><span class="fa fa-code-fork"></span></button>
                            </form>
                            <form action="#" method="post" onsubmit="return confirm('Вы уверены?')">
                                <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
                                <button type="submit" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span>
                                </button>
                            </form>
                        </div>
                    </td>
                    <td>{{ user_role(member.user.role) }}</td>
                    <td>{{ member.date|date("m-d-Y") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}