{% extends 'admin/adminLayout.html.twig' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin_profile') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_members_all') }}">Менеджеры</a></li>
        <li class="breadcrumb-item">{{ member.name }}</li>
    </ol>

{% endblock %}

{% block adminContent %}

        <div class="card">
            <div class="card-header">Профиль автора</div>
            <div class="card-body">
                <table class="table table-bordered mb-0">
                    <tbody>
                    <tr>
                        <th>Имя</th>
                        <td>
                            {{ member.name }}
                            <a href="#" class="btn btn-sm btn-outline-primary"><span class="fa fa-pencil"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <th>Электронный адрес</th>
                        <td>
                            {{ member.email.value }}
                            <a href="#" class="btn btn-sm btn-outline-primary"><span class="fa fa-pencil"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <th>Создан</th>
                        <td>{{ member.date|date('Y-m-d') }}</td>
                    </tr>
                    <tr>
                        <th>Роль</th>
                        <td>{{ user_role(member.user.role) }}</td>
                    </tr>
                    <tr>
                        <th>Количество выполненных тасков</th>
                        <td>{{ tasks ? tasks.count : 0 }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}