/* Futura PT normal */
@font-face {
    font-family: 'Futura PT';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPT-Bold.eot');
    src: local('Futura PT Bold'), local('FuturaPT-Bold'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Bold.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Bold.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPT-Heavy.eot');
    src: local('Futura PT Heavy'), local('FuturaPT-Heavy'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Heavy.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Heavy.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPT-ExtraBold.eot');
    src: local('Futura PT Extra Bold'), local('FuturaPT-ExtraBold'),
        url($fontsRoot + 'FuturaPT/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPT-ExtraBold.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPT-ExtraBold.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPT-Demi.eot');
    src: local('Futura PT Demi'), local('FuturaPT-Demi'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Demi.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Demi.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Medium.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Medium.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Book.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Book.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPT-Light.eot');
    src: local('Futura PT Light'), local('FuturaPT-Light'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Light.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Light.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


/* Futura PT Italic */
@font-face {
    font-family: 'Futura PT';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPT-BoldObl.eot');
    src: local('Futura PT Bold Oblique'), local('FuturaPT-BoldObl'),
        url($fontsRoot + 'FuturaPT/FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPT-BoldObl.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPT-BoldObl.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPT-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPT-HeavyObl.eot');
    src: local('Futura PT Heavy Oblique'), local('FuturaPT-HeavyObl'),
        url($fontsRoot + 'FuturaPT/FuturaPT-HeavyObl.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPT-HeavyObl.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPT-HeavyObl.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPT-HeavyObl.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPT-ExtraBoldObl.eot');
    src: local('Futura PT Extra Bold Oblique'), local('FuturaPT-ExtraBoldObl'),
        url($fontsRoot + 'FuturaPT/FuturaPT-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPT-ExtraBoldObl.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPT-ExtraBoldObl.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPT-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPT-DemiObl.eot');
    src: local('Futura PT Demi Oblique'), local('FuturaPT-DemiObl'),
        url($fontsRoot + 'FuturaPT/FuturaPT-DemiObl.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPT-DemiObl.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPT-DemiObl.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPT-DemiObl.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPT-MediumObl.eot');
    src: local('Futura PT Medium Oblique'), local('FuturaPT-MediumObl'),
        url($fontsRoot + 'FuturaPT/FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPT-MediumObl.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPT-MediumObl.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPT-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPT-BookObl.eot');
    src: local('Futura PT Book Oblique'), local('FuturaPT-BookObl'),
        url($fontsRoot + 'FuturaPT/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPT-BookObl.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPT-BookObl.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPT-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Futura PT';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPT-LightObl.eot');
    src: local('Futura PT Light Oblique'), local('FuturaPT-LightObl'),
        url($fontsRoot + 'FuturaPT/FuturaPT-LightObl.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPT-LightObl.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPT-LightObl.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPT-LightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Futura PT Cond */
@font-face {
    font-family: 'Futura PT Cond';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPTCond-Bold.eot');
    src: local('Futura PT Cond Bold'), local('FuturaPTCond-Bold'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-Bold.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-Bold.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-Bold.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPTCond-ExtraBold.eot');
    src: local('Futura PT Cond Extra Bold'), local('FuturaPTCond-ExtraBold'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-ExtraBold.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-ExtraBold.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPTCond-Medium.eot');
    src: local('Futura PT Cond Medium'), local('FuturaPTCond-Medium'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-Medium.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-Medium.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-Medium.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPTCond-Book.eot');
    src: local('Futura PT Cond Book'), local('FuturaPTCond-Book'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-Book.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-Book.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-Book.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Futura PT Cond italic */
@font-face {
    font-family: 'Futura PT Cond';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPTCond-BoldObl.eot');
    src: local('Futura PT Cond Bold Oblique'), local('FuturaPTCond-BoldObl'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-BoldObl.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-BoldObl.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-BoldObl.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPTCond-ExtraBoldObl.eot');
    src: local('Futura PT Cond Extra Bold Oblique'), local('FuturaPTCond-ExtraBoldObl'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-ExtraBoldObl.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-ExtraBoldObl.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPTCond-MediumObl.eot');
    src: local('Futura PT Cond Medium Oblique'), local('FuturaPTCond-MediumObl'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-MediumObl.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-MediumObl.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-MediumObl.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    font-display: swap;
    src: url($fontsRoot + 'FuturaPT/FuturaPTCond-BookObl.eot');
    src: local('Futura PT Cond Book Oblique'), local('FuturaPTCond-BookObl'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-BookObl.eot?#iefix') format('embedded-opentype'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-BookObl.woff2') format('woff2'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-BookObl.woff') format('woff'),
        url($fontsRoot + 'FuturaPT/FuturaPTCond-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
