/* http://app.fontastic.me/#publish/font/rHyNxBjHmToWJnr2tcYF6V */

@charset "UTF-8";

@font-face {
  font-family: "icofont";
  font-display: block;
  src:url("/fonts/icofont/icofont.eot");
  src:url("/fonts/icofont/icofont.eot?#iefix") format("embedded-opentype"),
    url("/fonts/icofont/icofont.woff") format("woff"),
    url("/fonts/icofont/icofont.ttf") format("truetype"),
    url("/fonts/icofont/icofont.svg#icofont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icofont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ico-"]:before,
[class*=" ico-"]:before {
  font-family: "icofont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-add-image:before {
  content: "\61";
}
.ico-arrow-down:before {
  content: "\62";
}
.ico-arrow-left:before {
  content: "\63";
}
.ico-arrow-right:before {
  content: "\64";
}
.ico-arrow-up:before {
  content: "\65";
}
.ico-bookmark:before {
  content: "\66";
}
.ico-bookmark-empty:before {
  content: "\67";
}
.ico-comments:before {
  content: "\68";
}
.ico-ellipsis:before {
  content: "\69";
}
.ico-eye:before {
  content: "\6a";
}
.ico-fb:before {
  content: "\6b";
}
.ico-github:before {
  content: "\6c";
}
.ico-google:before {
  content: "\6d";
}
.ico-vk:before {
  content: "\6e";
}
.ico-twitter:before {
  content: "\6f";
}
.ico-submit-outline:before {
  content: "\70";
}
.ico-share:before {
  content: "\71";
}
.ico-search:before {
  content: "\72";
}
.ico-save:before {
  content: "\73";
}
.ico-profile:before {
  content: "\74";
}
.ico-plus:before {
  content: "\75";
}
.ico-notification:before {
  content: "\76";
}
.ico-message:before {
  content: "\77";
}
.ico-like-empty:before {
  content: "\78";
}
.ico-like:before {
  content: "\79";
}
.ico-instagram:before {
  content: "\7a";
}
.ico-telegram:before {
  content: "\41";
}
.ico-close:before {
  content: "\42";
}
.ico-menu:before {
  content: "\43";
}
.ico-odk:before {
  content: "\44";
}
.ico-edit:before {
  content: "\45";
}
.ico-submit:before {
  content: "\46";
}
.ico-settings:before {
  content: "\47";
}
.ico-warning:before {
  content: "\48";
}
.ico-lock:before {
  content: "\49";
}

.ico {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}
.ico:before {
  font-size: 24px;
  line-height: 1;
}

@for $i from 2 through 20 {
  .ico_#{$i * 4}:before {
    font-size: $i * 4 * 1px;
  }
}
