@mixin checkbox($size: $checkboxSize) {
  
  display: block;

  &:before {
      content: '';
      display: inline-block;
      vertical-align: baseline;
      position: relative;
      top: 2px;
      width: $size;
      height: $size;
      margin-right: 10px;
      border: 1px solid currentColor;
      border-radius: 2px;
      font-size: 0px;
      text-align: center;
      line-height: $size;
      background-repeat: no-repeat;
      background-size: $size - 2px;
      background-position: center;
  } 
}

@mixin checkboxHover($size: $checkboxSize) {
    &:before {
        outline: 2px solid $firmLightBlueColor;
    }
}

@mixin checkboxActive($size: $checkboxSize, $fill: "%23506990", $color: $mainColor) {
  color: $color;
  &:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='#{$fill}' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3E%3C/path%3E%3C/svg%3E");
  }
}


@mixin contentElements {
  figcaption, pre {
      font-size: $secondaryFontSize;
      line-height: 1.2;
  }

  img { 
      display: block;
      max-width: 100%;
      height: auto;
      margin: 20px 0;
  }

  figure {
      margin: 20px 0;
      img {
          margin: 0;
      }

      figcaption {
          margin-top: 5px;
          color: $secondaryTextColor;
      }
  }

  p, ul, ol {
      margin: 1em 0;
  }

  ul, ol {
      list-style-position: inside;
      margin-left: 20px;
  }

  li {
      margin: 0.5em 0;
  }

  a {
      &:not(.button) {
          color: $linkColor;
          text-decoration: none;
          cursor: pointer;

          &:hover {
              text-decoration: underline;
          }
      }
  }

  h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.5em;
      margin-top: 1em;

      &:first-child {
          margin-top: 0;
      }
  }

  h1 {
      font-size: $h1ContentFontSize;
  }

  h4, h5, h6 {
      font-size: 1em;
  }

  pre {
      padding: 20px;
      
      overflow: auto;  

      &:not(.code-wrapper) {
          background: $lightColor;
      }

      &.code-wrapper {
          padding: 0;

          code {
              padding: 20px;
              display: block;

          }
      }
  }

  code {
      &:not(.hljs) {
          display: inline-block;
          vertical-align: baseline;
          padding: 2px;
          margin: 0 2px;
          font-size: $secondaryFontSize;
          background-color: $lightColor;
      }
  }

  table {
      border-collapse: collapse;
      width: 100%;
      margin: 20px 0;

      
      tr {
          border-bottom: 1px solid $borderColor;

          &:last-child {
              border-bottom: none;
          } 

          &:nth-of-type(even) {
              background: $lightColor;
          }
      }

      thead + tbody tr {
          &:nth-of-type(even) {
              background: transparent;
          }
          &:nth-of-type(odd) {
              background: $lightColor;
          }
      }

      thead {
          border-bottom: 1px solid $borderColor;

          tr {
              background: transparent;

              &:last-child {
                  border-bottom: none;
              } 
          }
          
      }

      td, th {
          padding: 10px 15px;
      }
  }

  @media screen and (min-width: $breakpointFontSizeChange) {
      h1 {
          font-size: $h1ContentFontSize-desktop;
      }
  }
}