body {
    font-family: $mainFont;
    font-weight: 400;
    line-height: 1.5;
    font-size: $mainFontSize;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $secondaryFont;
    font-weight: 700;
    color: $headersColor;
    margin-bottom: 0.5em;
    line-height: 1.2;
    margin-top: 0;
}

h1, .h1 {
    font-size: $h1FontSize;
}

h2, .h2 {
    font-size: $h2FontSize;
}

h3, .h3 {
    font-size: $h3FontSize;
}

h4, .h4 {
    font-size: $h4FontSize;
}

a, .link {
    color: $linkColor;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}


*::placeholder {
    opacity: 0.6;
}


@media screen and (min-width: $breakpointFontSizeChange) {
    body {
        font-size: $mainFontSize-desktop;
    }

    h1, .h1 {
        font-size: $h1FontSize-desktop;
    }
    
    h2, .h2 {
        font-size: $h2FontSize-desktop;
    }

    h3, .h3 {
        font-size: $h3FontSize-desktop;
    }

    h4, .h4 {
        font-size: $h4FontSize-desktop;
    }
}