

.ce-spoiler__toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.ce-spoiler__toggler:before {
  content: '▼';
  color: lightgray;
  font-size: 15px;
  width: 22px;
  height: 22px;
  text-align: center;
  transform: rotate(0deg);
  transition: transform 400ms;
}

.ce-spoiler.opened .ce-spoiler__toggler:before {
  transform: rotate(-180deg);
}