.c-select {
  min-width: 150px;
  font-size: $inputFontSize;
  position: relative;

  &_small {
    min-width: 80px;
  }

  &_tiny {
    min-width: 60px;

    .c-select__title {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__hidden {
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid $borderColor;

    position: absolute;
    background: $colorWhite;
    left: 0;
    min-width: 100%;
    top: 100%;
    z-index: $customSelectHiddenZIndex;

    box-shadow: $customSelectHiddenShadow;
  }

  &__title {
    border: 1px solid $borderColor;
    line-height: 1em;
    height: $inputHeight;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: $inputRadius;
    background: $colorWhite;

    .ico {
      transition: transform $animationDuration;
      transform: rotate(0deg);
    }
  }

  &.invalid,
  &.is-invalid {
    .c-select {
      &__title {
        border-color: $errorColor;

        .ico {
          color: $errorColor;
        }
      }
    }
  }

  &__item {
    display: block;
    cursor: pointer;

    span {
      display: block;
      padding: 10px 15px;
      transition: background $animationDuration;
    }

    &_hover:not(.checkbox):hover span {
      background: $lightColor;
    }

    &:not(.checkbox) input:checked + span {
      background: darken($lightColor, 10%);
    }


  }

  &.opened {
    .c-select__title {
      white-space: nowrap;
      .ico {
        transform: rotate(-180deg);
      }
    }
  }

  .items-search {
    &__field {
      margin-bottom: 15px;

      .ico {
        color: $secondaryTextColor;
      }

      input {
        border: 0;
        outline: 0;
        box-shadow: none;

        border-bottom: 1px solid $secondaryTextColor;
        margin-left: 15px;
        padding: 4px 10px;
      }
    }
  }

  &_block {
    width: 100%;
    margin: 5px 0;
    .c-select__title {
      height: auto;
      min-height: $inputHeight;
    }
    .c-select__item {

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      min-width: 170px;

      .marked {
        color: $mainColor;
      }

      @media screen and (min-width: $breakpointMobile) {
        & {
          width: 50%;
        }
      }

      @media screen and (min-width: $breakpointTabletS) {
        & {
          width: 33.3333%;
        }
      }

      @media screen and (min-width: $breakpointTablet) {
        & {
          width: 25%;
        }
      }
    }
    .c-select__hidden {
      right: 0;
    }
  }
  
  &_multi {
    .c-select {
      &__hidden {
        padding: 10px 15px;
      }
    }
  }
}