<script>
function API(action, params = {}, post_data = {}) {
    let self = {};

    self.methods = {{ api_routes|json_encode|raw }};

    self.compileUri = function(action, params) {
        let base = '{{ app.request.getBaseURL() }}';
        let uri = action.path;

        action.variables.forEach((variable) => {
            uri = uri.replace(`{${variable}}`, params[variable] || action.defaults[variable]);
        });

        return base + uri;
    }
    
    self.callMethod = function(action, params = {}, post_data = {}) {
        return new Promise((resolve, reject) => {
            let method = 'GET', // Request method
                xhr;            // XHR request 

            if (!(action in self.methods)) {
                reject({error: 'Unknown method'});
                return;
            }
            action = self.methods[action];

            if (action.variables.length) {
                let required = [];

                action.variables.forEach((variable) => {
                    if (!(variable in action.defaults) && (!(variable in params) || (!params[variable]))) {
                        required.push(variable);
                    }
                });

                if (required.length) {
                    reject({error: 'Not all required params passed: ' + required.join(', ')});
                    return;
                }
            }

            if (Object.keys(post_data).length || post_data instanceof FormData) {
                method = 'POST';
            }

            let uri = self.compileUri(action, params);

            xhr = new XMLHttpRequest();
            xhr.open(method, uri, true);
            xhr.send(post_data);

            xhr.onreadystatechange = function () {
                if (this.readyState !== 4) return;
                if (this.status < 400) {
                    try {
                        let response = JSON.parse(this.responseText);
                        response.status = this.status;
                        resolve(response);
                    } catch(e) {
                        reject({
                            error: e,
                            status: this.status
                        });
                    }
                } else if (this.status === 401 ) { // нужна авторизация
                    window.authorizationPopup.open();
                    reject({
                        error: "needAuthorization",
                        status: this.status
                    });
                } else {
                    reject({
                        error: "Server error",
                        status: this.status
                    });
                }
            }
        });
    };

    if (!action) return self;
    else return self.callMethod(action, params, post_data);
}

</script>