{% extends "mails/baseLayout.html.twig" %}
{% import "mails/macro.html.twig" as mail %}

{% block mailContent %}
    {# сюда вставить ссылку #}
    {# {% set link = app.request.schemeAndHttpHost ~ path('confirm_new_email', {'token': user.token.value }) %} #}
    {% set link = 'http://localhost:8000' ~ path('confirm_new_email', {token: user.token}) %}

    {{ mail.spacer(20) }}
    {{ mail.title("Пожалуйста, подтвердите смену почтового адреса") }}
    {{ mail.spacer(20) }}
    {{ mail.text("Вы запросили смену адреса электронной почты на сайте" ~ mail.link('proglib.io',  path('proglib_app') ) ~ ".<br>Если это были не вы, просто проигнорируйте это письмо." ) }}
    {{ mail.spacer(20) }} 
    {{ mail.button("Подтвердить", link) }}
    {{ mail.spacer(10) }}
    {{ mail.note("Вы также можете скопировать ссылку " ~ mail.link(link, link) ~ " прямо в адресную строку вашего браузера.") }}
    {{ mail.spacer(20) }}
{% endblock %}

{% block unsubscribe %}{% endblock %}