{% extends "mails/baseLayout.html.twig" %}
{% import "mails/macro.html.twig" as mail %}

{% block mailContent %}
    {# сюда вставить ссылку #}
    {% set link = "http://localhost:8000/user/email-token/confirm/" ~ token %}

    {{ mail.spacer(20) }}
    {{ mail.title("Пожалуйста, подтвердите почтовый адрес") }}
    {{ mail.spacer(20) }}
    {{ mail.text("Кто-то указал ваш почтовый адрес при регистрации на сайте" ~ mail.link('proglib.io',  path('proglib_app') ) ~ "<br>Если это были не вы, просто проигнорируйте это письмо." ) }}
    {{ mail.spacer(20) }} 
    {{ mail.button("Подтвердить", link) }}
    {{ mail.spacer(10) }}
    {{ mail.note("Вы также можете скопировать ссылку " ~ mail.link(link, link) ~ " прямо в адресную строку вашего браузера.") }}
    {{ mail.spacer(20) }}
{% endblock %}

{% block unsubscribe %}{% endblock %}