.authorization {
  width: 100%;
  max-width: $popupWidth;

  &__container {
      flex-direction: column-reverse;       
  }

  .brand {
      img {
          margin-bottom: 30px;
          display: block;
      }

      background-color: $mainColor;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 20px;
  }

  .logo {
      margin-bottom: 20px;
  }

  .popup__content {
      width: 100%;
      max-width: none;
      margin: 0;
  }

  &__confirm {
      color: white;

      a {
          color: inherit;
      }
  } 
}

.auth-button {
  border-radius: $buttonRadius;
  width: 70px;
  height: 70px;

  margin: 20px;
  cursor: pointer;
  font-size: 0;
  flex-shrink: 0;

  position: relative;

  @include socialButtonColored();

  &:hover {
      @include socialButtonWhite();
  }

  .ico {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: $breakpointAuthorizationChange) {
  .authorization {
      max-width: 640px;
      &__container {
          flex-direction: row;
      }

      .brand {
          width: 300px;
          flex-shrink: 0;

          img {
              display: block;
          }
      }

      .logo {
          display: none;
      }
  }

  .auth-button {
      width: 70px;
      height: 70px;
  }
}