.complain {
 

  .checkbox {
    white-space: normal;
    font-size: 1rem;

    &:hover span {
      background-color: transparent;
    }
  }

  [data-type-visible] {
    display: none;
  }

  @each $type in post, test, comment {
    &[data-type="#{$type}"] [data-type-visible="#{$type}"] {
      display: block;
    }
  }

  &__field {
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    border: 1px solid $borderColor;
    font-size: 1rem;
    padding: 10px;
    border-radius: $buttonRadius;
  }
}