body.popup-opened {
  overflow: hidden;

  .popup {
      opacity: 1;
  }

  #mask {
      opacity: 1;
  }
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $maskBg;
  cursor: pointer;

  display: none;
  opacity: 0;

  transition: opacity $animationDuration, visibility $animationDuration;

  z-index: $maskZIndex;
}

.popup {
  visibility: hidden;
  opacity: 0;

  transition: opacity $animationDuration, visibility $animationDuration;
  
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  padding: 20px;

  z-index: $popupZIndex;

  max-width: 100%;
  max-height: 100%;

  overflow: auto;

  &__close {
      cursor: pointer;
      position: absolute;
      top: 10px; right: 10px;
      font-size: 0px;

      .ico {
          color: $mainColor;
      }
  }

  &__content {
      width: $popupWidth;
      max-width: 100%;
      position: relative;

      background-color: $colorWhite;

      padding: 40px 20px;

      border-radius: $popupRadius;
      box-shadow: $popupShadow;
  }

  &_large {
      .popup__content {
          width: $popupLargeWidth;
      }
  }

  &__text {
      text-align: center;
      font-size: $popupFontSize;
  }

  &__button {
      margin-top: 40px;
      text-align: center;
  }
}