{% set bodyClasses = "popular-posts-page" %}
{% set favoriteData = {
  'year': {
    'title': 'Лучшие материалы за год',
    'feedMethod': 'posts_favorite_by_year_fetch',
  },
  'month': {
    'title': 'Лучшие материалы за месяц',
    'feedMethod': 'posts_favorite_by_month_fetch',
  },
  'week': {
    'title': 'Лучшие материалы за неделю',
    'feedMethod': 'posts_favorite_by_week_fetch',
  }
}%}

{% set meta = {
  title: favoriteData[period].title,
  postfix: true
}%}

{% block feedMethod %}{{ favoriteData[period].feedMethod }}{% endblock %}

{% extends "facade/feed.html.twig" %}

{% block pageTitle %}
  {{ favoriteData[period].title }}
{% endblock %}