{#
фид постов с уникальным заголовком
block pageTitle - текст заголовка
#}
{% extends "layouts/baseLayout.html.twig" %}

{% block content %}
    <section class="feed">
        {# заголовок #}
            <div class="flex-between-middle-wrap mb-3">
                <h1 class="h1 mr-2">
                    {% block pageTitle %}
                    {% endblock %}
                </h1>


                {% if tags is defined %}
                    <a href={{ path('api_subscriptions') }}
                        class="btn btn-primary subscribe-edit" id="subscribe-edit"
                        data-view=".feed"
                        data-view-offset="50"
                        data-view-out-class="out-of"
                        data-view-in-class="out-in">
                            Настроить подписки
                    </a>

                    <div class="popup popup_large" id="subscribes-form">
                        <div class="popup__content">
                            <div class="popup__close hover-rotate">
                                <div class="ico ico-close ico_24"></div>
                            </div>
                            {% include "user/partials/subscriptionsForm.html.twig" %}
                        </div>
                    </div>

                    <script>
                        window.onReady('popup', function() {
                            let subscribeEditButton = document.querySelector('.subscribe-edit');
                            let subscribeEditPopup = new Popup(document.getElementById('subscribes-form'));

                            subscribeEditButton.addEventListener('click', function(e) {
                                e.preventDefault();

                                if (!window.checkAuth()) return;
                                
                                subscribeEditPopup.open();
                            });
                        });
                    </script>
                {% endif %}
            </div>
        {# /заголовок #}

        {# лента тегов #}
            {% if tags is defined %}
                {% include 'components/tags.html.twig' %}
            {% endif %}
        {# /лента тегов #}

        <div class="feed__posts mobile-full" data-load-wrapper="post">

            <div class="posts" data-load-container>
                {% if posts is defined and posts|length > 0 %}
                    {% include "components/feeds/advertFeed.html.twig" %}
                {% else %}
                    <div class="empty">Нет результатов :( <a href="{{ path('proglib_app') }}">Посмотрите</a> другие статьи</div>
                {% endif %}
            </div>

            {# load more #}
            <div class="flex-center">
                <button class="btn btn-large btn-primary load-more mv-1 {{ remainingPages > 0 ? '' : 'hidden' }}">
                        Загрузить ещё
                </button>
            </div>
        {# /load more #}

        </div>{# .feed__posts #}

    </section>{# .feed #}

{% endblock %}

{% block sidebar %}
    {% set sidebarSet = ['tests', 'advert', 'comments'] %}
    {% include "layouts/sidebar.html.twig" %}
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/feed/feed.min.js') }}" async></script>

    <script>
        window.onReady('feed', function() {
            let filters = [];
            let $tagFilters = document.querySelector('.filters_tag');
            if ($tagFilters) {
                filters.push(new Filters($tagFilters, "postsType"));
            }

            let request = {{ request is defined ? request|json_encode|raw : 'null' }};

            new Feed({
                filters: filters,
                method: "{% block feedMethod %}posts_fetch{% endblock %}",
                request: request
            })
        });
    </script>
{% endblock %}
