{% set bodyClasses = "search-results-page" %}

{% set meta = {
  title: "Вы искали " ~ query,
  postfix: true
}%}

{% block feedMethod %}search_post_fetch{% endblock %}
{% set request = {
  q: query
} %}

{%  extends "facade/feed.html.twig" %}

{% block pageTitle %}
  Результаты поиска для "{{ query }}"
{% endblock %}
