{% set bodyClasses = "tag-posts-page" %}

{% set meta = {
  title: "Тег " ~ tag,
  postfix: true
}%}

{% extends "facade/feed.html.twig" %}

{% block pageTitle %}
	{{ tag }}
{% endblock %}

{% block sidebar %}
  {% set subscribed = false %}
  <aside class="sidebar-width sticky-block tag-icon"  style="position: sticky; top: 60px">

    <section class="text-center">
      <img src="{{ asset('placeholders/tag.png') }}" width="200">
      <div class="mt-2">Подписались: <span data-subscribers>1500</span></div>
      <div class="mt-2">
          <button class="btn btn-large btn-primary" data-tag="{{ tag }}" data-subscribe-tag {{ subscribed ? 'data-subscribed' }}>{{ subscribed ? 'Отписаться' : 'Подписаться' }}</button>
      </div>
    </section>

    <script>
      (function() {
        let subscribeButton = document.querySelector('[data-subscribe-tag]');
        let tag = subscribeButton.dataset.tag;
        let subscribers = document.querySelector('[data-subscribers]');

        subscribeButton.addEventListener('click', function() {
          let status = subscribeButton.hasAttribute('data-subscribed');
          if (status) {
            /*отписаться*/
            subscribeButton.removeAttribute('data-subscribed');
            subscribeButton.textContent = 'Подписаться';
            subscribers.textContent = 150;
          } else {
            /*подписаться*/
            subscribeButton.setAttribute('data-subscribed', '');
            subscribeButton.textContent = 'Отписаться';
            subscribers.textContent = 151;
          }
        })
      })();
    </script>

  </aside>
{% endblock %}