{% set slides = events %}
{% set sliderType = "events" %}
{% extends "components/slider.html.twig" %}

{% block configureSlide %}
    {% set item = {
        link: "#",
        title: slide.title,
        additional: slide.eventTime ~ ', ' ~ slide.location,
        description: slide.description,
        image: slide.pictureUrl
    }%}
    {% include "components/cards/card.html.twig" %}
{% endblock %}