{% set slides = vacancies %}
{% set sliderType = "vacancies" %}
{% extends "components/slider.html.twig" %}

{% block configureSlide %}
    {% set item = {
        link: "#",
        title: slide.domain,
        description: slide.description,
        more: true,
    }%}
    {% include "components/cards/card.html.twig" %}
{% endblock %}