<div class="contacts">
    <a class="contacts__item" href="#">
        <div class="ico ico-vk"></div>
    </a>
    <a class="contacts__item" href="#">
        <div class="ico ico-fb"></div>
    </a>
    <a class="contacts__item" href="#">
        <div class="ico ico-twitter"></div>
    </a>
    <a class="contacts__item" href="#">
        <div class="ico ico-telegram"></div>
    </a>
</div>