{#
    Блок редактирования
    Данные:
    editblockPlace: "feed", "post", "comment" - определяет положение и размер блока
    editblockType: "post", "test", "comment", "vacancy"
    editblockObject: объект статьи/теста/комментария/вакансии
#}

{# внешний вид блока - зависит от места расположения #}
{% set additionalEditblockClasses = '' %}{# дополнительные классы #}
{% set iconSize = "huge" %}{# размер иконки #}
{% if editblockPlace == "feed" %}
    {% set additionalEditblockClasses = 'editblock_small' %}
    {% set iconSize = "24" %}
{% elseif editblockPlace == "comment" %}
    {% set additionalEditblockClasses = 'editblock_small editblock_right' %}
    {% set iconSize = "20" %}
{% endif %}

{# видимость отдельных пунктов #}
{% set complainVisible = true %}{# Пожаловаться #}
{% set editVisible = false %}{# Изменить #}
{% set deleteVisible = false %}{# Удалить #}

{% if editblockType == "vacancy" %}
    {% set editVisible = true %}
    {% set deleteVisible = true %}
{% else %}
    {% if is_granted('delete', editblockObject) or is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
        {% set deleteVisible = true %}
    {% endif %}
    {% if is_granted('edit', editblockObject) or is_granted('ROLE_CHIEF_EDITOR') %}
        {% set complainVisible = false %}
        {% set editVisible = true %}
    {% endif %}
{% endif %}

{# пути #}
{% set editPath = "" %}
{% set reloadPath = path('proglib_app') %}
{% if editblockType == "post" %}
    {% set editPath = path("edit_post", { id: editblockObject.id }) %}
{% elseif editblockType == "test" %}
    {% set editPath = path("admin_tests_test_edit", { id: editblockObject.id }) %}
{% elseif editblockType == "vacancy" %}
    {% set editPath = path("vacancy_edit", { slug: editblockObject.slug }) %}
{% endif %}

<div class="editblock {{ additionalEditblockClasses }} " data-toggle-block>
    {# Иконка открытия блока #}
        <div class="editblock__icon" data-toggle-open>
            <div class="ico ico-ellipsis ico_{{ iconSize }}"></div>
        </div>
    {# /Иконка открытия блока #}


    <div class="editblock__content" data-toggle-hidden>

        {# Иконка закрытия блока #}
            <div class="editblock__close editblock__option" data-toggle-close>
                <div class="ico ico-close ico_{{ iconSize }}"></div>
            </div>
        {# /Иконка закрытия блока #}

        <div class="editblock__section">
            {# Пожаловаться #}
                {% if complainVisible %}
                    <div class="editblock__option" 
                        data-complain="{{ editblockType }}" 
                        data-complain-id="{{ editblockType != "vacancy" ? editblockObject.id }}">
                            Пожаловаться
                    </div>
                {% endif %}
            {# /Пожаловаться #}

            {# Изменить #}
                {% if editVisible %}
                    {% if editblockType == "comment" %}
                        <div class="editblock__option" data-comment-edit>Изменить</div>
                    {% else %}
                        <a class="editblock__option" href="{{ editPath }}">Изменить</a>
                    {% endif %}
                {% endif %}
            {# Изменить #}
        </div>

        {# Удалить #}
            {% if deleteVisible %}
                <div class="editblock__section">
                    {% if editblockType == "comment" %}
                        <div class="editblock__option" data-comment-delete>Удалить</div>
                    {% else %}
                        <div class="editblock__option" data-delete="{{ editblockType }}"
                            data-delete-id="{{  editblockType != "vacancy" ? editblockObject.id }}" 
                            data-delete-reload="{{ reloadPath }}">
                            Удалить
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {# /Удалить #}
    </div>
</div>