{% for label, messages in app.session.flashbag.all %}
    {% for message in messages %}

        <div class="flash flash__{{ label }}">
            <div class="flash__text">{{ message|raw }}</div>
            <div class="flash__close hover-rotate" onclick="this.parentElement.remove()">
                <div class="ico ico-close"></div>
            </div>
        </div>
       
    {% endfor %}
{% endfor %}