<script src="https://widget.cloudpayments.ru/bundles/checkout"></script>
<div class="popup popup_large no-mail" id="payment" data-type="post">
  <div class="popup__content">
    <div class="popup__close hover-rotate">
      <div class="ico ico-close"></div>
    </div>
    <div class="popup__text">
      <div class="payment-block">
        <form class="form payment-form mb-4" id="paymentForm" autocomplete="off">
          <div class="cards mb-4">
            <div class="payment-card payment-card__front">

              <div class="flex-middle-wrap">
                <label class="form__field fgrow-1 mr-2 card-number">
                  <div class="form__label">Номер карты</div>
                  <input class="form__input form__input_full" type="tel" data-cp="cardNumber" value="">
                </label>
                <div>
                  <div class="form__label">Действует до</div>
                  <div class="flex">
                    <label class="form__field mr-1 exp-date-month">
                      <input class="form__input form__input_date-component" type="tel" data-cp="expDateMonth">
                    </label>
                    /
                    <label class="form__field ml-1 exp-date-year">
                      <input class="form__input form__input_date-component" type="tel" data-cp="expDateYear">
                    </label>
                  </div>
                </div>
              </div>

              <label class="form__field mr-4 card-owner-name">
                <div class="form__label">Владелец карты</div>
                <input class="form__input form__input_full" data-cp="name" placeholder="IVAN IVANOV">
              </label>

              <label class="form__field mr-4 card-owner-mail">
                <div class="form__label">Почта для отправки чека (необязательно)</div>
                <input class="form__input form__input_full" data-cp="mail" type="mail">
              </label>
             
            </div>
            <div class="payment-card payment-card__back">
              
              <label class="form__field card-cvv">
                <div class="form__label">CVV/CVV2</div>
                <input type="password" data-cp="cvv" value="" maxlength="3" class="form__input form__input_tiny">
              </label>

            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block btn-large">Оплатить <span class="sum"></span></button>
        </form>

        <a href="https://cloudpayments.ru/" class="safe-connection">
          {# <span class="ico ico-lock ico_16"></span>
          Безопасное соединение #}
          <img src="https://show.cloudpayments.ru/assets/img/svg/pay-systems.svg">
        </a>

      </div>
    </div>
  </div>
</div>

<script>
  
</script>