{% set isFormField = tagsAsFormField is defined and tagsAsFormField %}
{% set isFeedFilter = tagsAsFeedFilter is defined and tagsAsFeedFilter %}

{% set additionalClass = "" ~ (isFormField ? 'tags-select__field') ~ (isFeedFilter ? 'tags-select__filter') %}

<div class="tags-select c-select c-select_multi c-select_block mr-2 {{ additionalClass }}" 
  {% if isFormField %}
    data-c-form-field data-name="tags" data-validate="group"
  {% endif %}>
  <div class="c-select__title">
    <span class="c-select__selected"></span>
    <div class="ico ico-arrow-down ico_16"></div>
  </div>
  <div class="c-select__hidden hidden" data-search>
    <div class="items-search">
      <div class="items-search__field flex-bottom">
        <span class="ico ico-search"></span>
        <input type="text" data-search-field class="fgrow-1" placeholder="Поиск по тегам">
      </div>
      <div class="items-search__list flex-wrap">
        {% if tags is defined %}
          {% for tag in tags %}
            <label class="checkbox items-search__item c-select__item" data-search-item 
              data-text="{{ tag.name }}" title="{{ tag.name }}"
              {{ isFeedFilter ? 'data-filters-item' }}>
              <input type="checkbox" value="{{ isFeedFilter ? tag.name : tag.id }}" name="tags[]">
              <span data-search-text>{{ tag.name }}</span>
            </label>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>