{% set socials = [
    {
        "social": "vk",
        "link": "https://vk.com/share.php?url=" ~ postUrl,
        "title": "ВКонтакте",
    },{
        "social": "fb",
        "link": "https://www.facebook.com/sharer/sharer.php?u=" ~ postUrl,
        "title": "Facebook",
    },{
        "social": "twitter",
        "link": "https://twitter.com/share?url=" ~ postUrl ~ "&text=" ~ post.title,
        "title": "Twitter",
    },{
        "social": "odk",
        "link": "https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&service=odnoklassniki&st.shareUrl=" ~ postUrl,
        "title": "Одноклассники",
    },{
        "social": "telegram",
        "link": "tg://msg_url?url=" ~ postUrl,
        "title": "Telegram",
    }

]%}

<div class="share" data-toggle-block data-toggle-slide>
    <div class="btn share__icon" data-toggle-open>
        <div class="ico ico-share ico_12"></div>
    </div>
    <div class="share__content hidden" data-toggle-hidden>
        {% for item in socials %}
            <a target="_blank" class="share__item no-link" data-social="{{ item.social }}" data-title="{{ item.title }}" href="{{ item.link }}">
                <div class="ico ico-{{ item.social }} ico_16"></div>
            </a>
        {% endfor %}
    </div>
</div>
