{# блок тестов в сайдбаре #}
<section class="cards-block" data-block="tests">
    <div class="mb-3 flex-between-middle">
        <h3 class="h2 ma-0">Тесты</h3>
    </div>

    {% for item in tests %}
    <div class="mb-4">
        {% set test = {
          title: item.title,
          previewImage: item.previewImage,
          id: item.id
        }%}
        {% include "components/cards/testPreview.html.twig" %}
    </div>
    {% endfor %}
    

    <div class="flex-center mt-4">
        <a class="btn btn-primary" href="{{ path('tests_all') }}">Больше тестов</a>
    </div>

</section>