<aside>
    <div class="slider inactive" data-slider="{{ sliderType is defined ? sliderType : '' }}">
        {% if sliderTitle is defined %}
            <h2 class="h2">{{ sliderTitle }}</h2>
        {% endif %}
        <div class="slider__viewport">
            <div class="slides">
                {% for slide in slides %}
                    <article class="slide">
                        {% block configureSlide %}
                        {% endblock %}
                    </article>
                {% endfor %}
            </div>
        </div>
        <div class="slider__thumb"></div>
        <div class="slider__left">
            <div class="ico ico-arrow-left ico_60"></div>
        </div>
        <div class="slider__right">
            <div class="ico ico-arrow-right ico_60"></div>
        </div>
    </div>
</aside>