
{% if app.user and app.user.tags|length %}
    <div class="user-tags filters filters_tag" data-toggle-block data-toggle-inside>
        <span class="btn btn-outline-primary mb-2 filters__item active" data-filters-item data-value="all">Все</span>

        {% for tag in app.user.tags %}
            <a class="btn btn-outline-primary mb-2 filters__item" href="{{ path('tag_posts', {tag: tag.name}) }}" data-filters-item data-value="{{ tag.id }}">{{ tag.name }}</a>
        {% endfor %}

        <span class="btn btn-outline-primary mb-2" data-toggle-hide data-toggle-open>Показать другие теги</span>

        {% for tag in tags %}
            {% if tag not in app.user.tags %}
                <a class="btn btn-outline-primary mb-2 filters__item" data-toggle-show href="{{ path('tag_posts', {tag: tag.name}) }}" data-filters-item data-value="{{ tag.id }}">{{ tag.name }}</a>
            {% endif %}
        {% endfor %}

        <span class="btn btn-outline-primary mb-2" data-toggle-show data-toggle-close>Скрыть</span>
    </div>
{% elseif tags is defined %}
    <div>
    <div class="slider inactive slidebar mb-4 filters filters_tag" data-slider="data-slider" data-switch>
        <div class="slider__viewport">

            <div class="slides">
                <div class="slide slidebar__item">
                    <div class="btn btn-outline-primary filters__item active" data-filters-item data-value="all">Все</div>
                </div>

                {% for tag in tags %}
                    <div class="slide slidebar__item">
                        <a class="btn btn-outline-primary filters__item" href="{{ path('tag_posts', {tag: tag.name}) }}" data-filters-item data-value="{{ tag.id }}">{{ tag.name }}</a>
                    </div>
                {% endfor %}

                <div class="slide slidebar__item hide-rest">
                    <div class="btn btn-outline-primary filters__item">Свернуть</div>
                </div>

            </div>

        </div>
        <div class="slider__thumb"></div>
    </div>
    </div>
{% endif %}