<div class="top-menu {{ topmenuClasses }} flex">
    <div class="top-menu__item flex-middle notifications" href="#">
        <div class="ico ico-notification"></div>
        {% if app.user %}
            {% set notification = render(controller('App\\Controller\\User\\NotificationController::count')) %}
        {% endif %}
        <div class="badge badge-success {% if not app.user or notification <= 0 %} hidden {% endif %}" data-notifications-count>
            {{ app.user ? notification }}
        </div>
        <div class="notifications-list">
            <div class="notifications-list__wrapper">
                <div class="notifications-list__content">

                </div>
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_USER') %}
        <a class="top-menu__item flex-middle " href="{{ path('cabinet') }}">
            <span class="top-menu__userpic" style="background-image: url({{ app.user.avatar }})">
        </a>
    {% elseif errorCode is not defined %}
        <div class="top-menu__item flex-middle " data-auth>
            <div class="ico ico-profile"></div>
        </div>
    {% endif %}
    <div class="flex-middle search-block" data-search-toggle data-toggle-focus>
        <div class="top-menu__item flex-middle" href="#" data-toggle-open>
            <div class="ico ico-search"></div>
        </div>
        <form class="search-form flex-middle" action="{{ path('search') }}" method="GET" data-toggle-ignore>
            
            <input class="search-form__input fgrow-1" type="text" name="q" autocomplete="off" required/>
            <button type="submit" class="btn btn-outline-white search-form__submit">
                <div class="ico ico-search"></div>
            </button>

            <div class="search-form__results">
                
            </div>
        </form>
    </div>
</div>