{% set breadcrumbs = [
  {
    title: "Статьи",
    link: "#"
  },
  {
    title: "Новая статья",
    active: true
  }
] %}

{% extends "admin/adminLayout.html.twig" %}


{% block adminContent %}
  <div class="row post x-editor" data-post>

    <div class="col-lg-3 order-lg-2">
      <div class="mv-2">
        <button class="btn btn-primary x-editor__save" data-save></button>
      </div>
      {% if is_granted('ROLE_CHIEF_EDITOR') %}
        <div class="mv-2">
          <button class="btn btn-primary x-editor__publish" data-load>Опубликовать</button>
        </div>
       {% endif %}
    </div>

    <div class="col-lg-9 order-lg-1">
      <div class="invalid-feedback pb-4 x-editor__error"></div>

      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="">Данные статьи</div>
          <div class="new-post__last-saving x-editor__last-saving">
            <span class="time"></span>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group">
            {% include "components/selectTags.html.twig" %}
          </div>

          <div class="form-group">
            <label>Заголовок статьи</label>
            <div class="flex-middle" data-length-checker>
              <div class="form-control x-editor__title" contenteditable data-length-field></div>
              <div class="secondary-text ml-2" data-length-counter></div>
            </div>
          </div>

          <div class="form-group">
            <label>Краткое содержание статьи</label>
            <div class="flex-middle" data-length-checker>
              <div class="form-control x-editor__preview" contenteditable data-length-field></div>
              <div class="secondary-text ml-2" data-length-counter></div>
            </div>
          </div>

          <div class="form-group">
            <label>Изображение</label>

            <form data-action="{{ path('admin_work_post_preview_upload') }}"
              data-max="2097152"
              data-loader-images
              class="file-loader file-loader__x-editor x-editor__image-loader">
              <div class="file-loader__dropzone" data-loader-dropzone>
                <label class="file-loader__dropzone-button flex-column-middle">
                  <input type="file" data-loader-input accept="image/*">
                  <div class="ico ico-add-image ico_48"></div>
                  <div class="fs-1">Разрешение картинки строго 2:1, минимальная высота 500px.</div>
                </label>
                <div class="file-loader__progress">
                  <div class="file-loader__progress-bar" data-loader-progress></div>
                </div>
                    
              </div>
              
              <div class="file-loader__previews" data-loader-preview></div>

              <div class="file-loader__message" data-loader-message></div>
              
              <input type="hidden" name="file-path" id="post-image" 
                value=""
                data-post-field="image">

            </form>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Текст статьи
        </div>
        <div class="card-body">
          {# сам редактор #}
          <div id="editor-content" class="new-post__content"></div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-danger x-editor__delete" disabled>Удалить статью</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block adminStyles %}
  <link rel="stylesheet" href="{{ asset("admin/post.min.css") }}">

{% endblock %}

{% block adminScripts %}
  <script type="text/javascript" src="{{ asset('admin/post.min.js') }}"></script>

  <script>
    (function() {
      let postData;

      {% if post is defined %}
            postData = {};
            postData.id = "{{ post.id }}";
            postData.title = "{{ post.title }}";
            postData.preview = "{{ post.preview }}";
            postData.image = "{{ post.previewImage }}";
            postData.tags = {{ post.tags|map(=> _.id)|slice(0, post.tags|length)|json_encode|raw }};
            postData.editorData = {{ post.renderedContent|raw }};
      {% endif %}

      new PostEditor({
        redirectAfterDeleteUrl: "{{ path('admin_work_post_create') }}",
        redirectAfterPublishUrl: false,
        publishUrl: "{{ path('admin_work_post_publish_post') }}", 
        saveUrl: "{{ path('admin_work_post_keep_draft') }}", 

        getCreatedUrl: function (uuid, currentPath) { 
          let tmp = "{{ path('admin_work_post_edit', {id: 'POSTID' }) }}";
          return tmp.replace("POSTID", uuid);
        },
        getPreviewUrl: function(uuid) {
          let tmp = "{{ path('single_post', {id: 'POSTID' }) }}";
          return tmp.replace("POSTID", uuid);
        },
        editorConfig: {
          loadImageByFile: "{{ path('admin_work_post_files_upload') }}",
          loadImageByUrl: "{{ path('admin_work_post_urlFiles_upload') }}",
        },
        backgroundSave: true,
        backgroundSaveExcept: ['tags'],
        saveDelay: 400,
        validationRules: {{ rules|json_encode|raw }}

      }, postData);
      

    })();
  </script>
{% endblock %}
