

.ce-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ce-button .button {
  height: 50px;
  margin-bottom: 20px;
}

.ce-button__settings-button {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
.ce-button__settings-button--active {
  outline: 4px solid lightgray;
  outline-offset: -3px;
  box-shadow: none;
}