html {
    scroll-behavior: smooth;
}

button {
    border-style: solid;
    outline-color: $outlineColor;
}

img {
    max-width: 100%;
    max-height: 100%;
}

input {
    font-family: inherit;
    color: inherit;
    outline: none;
}