{% extends 'base.html.twig' %}

{% block title %}
    First Look
{% endblock %}

{% block body %}
    <form>
        <a href="{{ path('connect_google_start') }}" id="google_login" >Войти через Google</a><br>
        <a href="{{ path('connect_github_start') }}">Войти через Github</a><br>
        <a href="{{ path('connect_facebook_start') }}">Войти через Facebook</a><br>
        <a href="{{ path('connect_vk_start') }}">Войти через VK</a>
    </form>
{% endblock %}