<section class="cards-block" data-block="tests">
    <div class="mb-3 flex-between-middle">
        <h3 class="h2 ma-0">Блоги компаний</h3>
    </div>

    {% set blogs = [
        {
        "title": "Какую музыку вы слушаете? Жанровая классификация на Python",
        "company": "Company name",
        "link": "#",
        },{
        "title": "Какую музыку вы слушаете? Жанровая классификация на Python",
        "company": "Company name",
        "link": "#",
        }
    ] %}

    {% for blog in blogs %}
        {% set item = blog %}
        {% include('components/cards/card.html.twig') %}
    {% endfor %}

    <div class="flex-center mt-4">
        <a class="btn btn-primary" href="#">Больше блогов</a>
    </div>

</section>