<section class="cards-block flex-column" data-block="comments">
    <div class="mb-3 flex-between-middle">
        <h3 class="h2 ma-0">Комментарии</h3>
    </div>

    <div class="bg_white pa-2 comments-feed">
        {% for item in comments %}
            {% include "components/comments/commentCard.html.twig" %}
        {% endfor %}     
    </div>    
</section>