<p class="codepen" data-height="265" data-theme-id="0"
   data-default-tab="result" data-user="{{ user }} " data-slug-hash="{{ data-slug }}"
   style="height: 265px; box-sizing: border-box; display: flex; align-items: center;
                justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
   data-pen-title="Audio Element"
>
    <span>See the Pen <a href="{{ url }}">
            Audio Element</a> by <a href="https://codepen.io/'{{ user }}">@{{ user }}</a>
        on <a href="https://codepen.io">CodePen</a>.
    </span>
</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>