.comment-block {
  @include block;

  &__header {
      margin-bottom: 10px;
      font-size: $cardTitleFontSize;
  }

  &__images {
      margin-left: -10px;
      margin-right: -10px;
  }

  &__text {
      word-wrap: break-word;
      @include contentElements;
  }

  &__image {
    cursor: pointer;
    img {
        margin: 0;
    }
    
    &:not(:only-child) {
        @include comment-image-preview();
        margin: 10px;
    }
      
    &:only-child {
        width: 100%;
        img {
            width: auto;
            height: auto;
        }
    }
  }


  &__edited {
      display: none;
      color: $secondaryTextColor;
      font-size: $secondaryFontSize;
      padding-top: 10px;
      text-align: right;
      
      .edited & {
          display: block;
      }
  }

}