.comments {
    &-form {
        &__content {
            position: relative;
            width: 100%;
            box-shadow: $formShadow;
            border-radius: $cardRadius;
            background: $colorWhite;
            overflow: hidden;
        }

        &__workarea {
            position: relative;
        }

        &__field {
            display: block;
            padding: 20px;
            padding-right: 50px;
            width: 100%;
            min-height: 120px;

            transition: height $animationDuration, min-height $animationDuration;

            &:placeholder-shown {
                height: 64px;
            }

            border: 0;
            outline: none;

            color: $secondaryTextColor;
            background-color: inherit;

            resize: vertical;

            &:focus {
                min-height: 120px; 
            }
        }

        &:hover {
            .comments-form__field {
                height: 120px;
            }
        }

        &__clip, &__submit {
            position: absolute;
            right: 20px;
            width: 24px;
            height: 24px;
            cursor: pointer;

            input {
                display: none;
            }
        }

        &__clip {
            top: 20px;
            z-index: 2;
            background-color: inherit;
            min-height: 25px;

            .ico {
                color: $secondaryTextColor;
                transition: color $animationDuration;
            }

            &:hover {
                .ico {
                    color: $mainColor;
                }
            }
        }

        &__submit {
            bottom: 10px;
        }

        &__cancel-edit {
            display: none;
            font-size: $secondaryFontSize;
            color: $secondaryTextColor;
            cursor: pointer;

            #edit-form & {
                display: block;
            }
        }

        &__service {
            position: relative;
        }

        &__help {
            font-size: $secondaryFontSize;
            color: $secondaryTextColor;
            padding: 10px 20px;
            text-align: right;
            cursor: pointer;

            .ico {
                transition: transform $animationDuration;
                position: relative;
                top: -1px;
            }

            .help & {
                .ico {
                    transform: rotate(-180deg);
                }
            }
        }

        .preloader {
            @include preloaderBg();
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;

            position: absolute;
            right: 20px;
            width: 24px;
            height: 24px;
            bottom: 10px;
        }

        &.in-process {
            .preloader { 
                display: block;
            }
            .comments-form__submit {
                display: none;
            }
        }
  }

  &-branch {
      &__toggle {
        .comments-branch__fold {
            display: none;
            color: $secondaryTextColor;
            font-size: $secondaryFontSize;
            text-align: center;
            padding-bottom: 20px;
            margin-top: -20px;
            cursor: pointer;

            .ico-arrow-down {
                transition: transform $animationDuration;
                transform: rotate(0deg);
            }

            [data-toggle-show] {
                display: none;
            }
        }

        &.opened {
            .comments-branch__fold {
                [data-toggle-show] {
                    display: inline;
                }
                [data-toggle-hide] {
                    display: none;
                }
                .ico-arrow-down {
                    transform: rotate(-180deg);
                }
            }
        }

        [data-has-children] & {
            .comments-branch__fold {
                display: block;
            }
        }
      }

      &__children {
            .comment-block {
                &__text {
                    @include card;
                    padding: 20px;
                }


                @media screen and (min-width: $breakpointMobileM) {
                    &__text, &__footer {
                        margin-left: $userpicSizeSmall;
                    }
                }
            } 
      }
  }
}

.comments-branch {
    .comments-branch {
        .comments-branch__fold {
            display: none;
        }
    }
}

.comments__branches, .posts {
  & > .comments-branch {
      /* ветка */
      .comments-branch__children {

          
          .comment-block {
              .userpic {
                  width: $userpicSizeSmall;
                  height: $userpicSizeSmall;
              }

              &.highlighted {
                  .comment-block__text {
                      background-color: $commentBranchCardBg;
                  }
              }

              @media screen and (min-width: $breakpointMobile) {
                  & {
                      padding-left: 20px;
                  }
              }
          }

          .main-comment-s {
              display: none;
          }
      }

      /* первый коммент */
      & > .comment-block {
          .comment-block__content {
              @include card;
              padding: 20px;
          }

          .main-comment-h {
              display: none;
          }

          &.highlighted {
              .comment-block__content {
                  background-color: $commentBranchCardBg;
              }
          }
      }
  }
}

.markdown-help {
  padding: 20px;

  h4 {
      font-size: $mainFontSize;
  }
}