.textcomplete-dropdown {
  list-style: none;
  background-color: $colorWhite;
  box-shadow: $shadow;
  min-width: 180px;
  max-height: 17.5em;
  overflow: auto;

  .textcomplete-header, .textcomplete-footer {
    display: none;
  }

  .textcomplete-item {

    a {
      text-decoration: none;
    }

    &:hover, &.active {
      background-color: $pageBg;
    }
  }

  .suggest-user {
    padding: 0 15px;
    height: 3.5em;

    

    &__pic {
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
      }
    }

    &__name {
      color: $mainTextColor;
      font-size: 1em;
    }
  }
}