{% macro paragraph( data ) %}
    <p>{{ data.text|raw }}</p>
{% endmacro %}

{% macro header(data) %}
    {% if data.level == 1 %}
        <h1>{{ data.text|raw }}</h1>
    {% elseif data.level == 2 %}
        <h2>{{ data.text|raw }}</h2>
    {% elseif data.level == 3 %}
        <h3>{{ data.text|raw }}</h3>
    {% elseif data.level == 4 %}
        <h4>{{ data.text|raw }}</h4>
    {% elseif data.level == 5 %}
        <h5>{{ data.text|raw }}</h5>
    {% elseif data.level == 6 %}
        <h6>{{ data.text|raw }}</h6>
    {% endif %}
{% endmacro %}

{% macro delimiter( data ) %}
    <div class="delimiter text-center">***</div>
{% endmacro %}

{% macro code( data ) %}
    {% set language = data.language is defined ? data.language : '' %}
    <pre class="code-wrapper {{ language }}">
        <code>{{ data.code is defined ? data.code|raw : data.text|raw }}</code> 
    </pre>
{% endmacro %}

{% macro list( data ) %}
    {% if data.style == "ordered" %}
        <ol>
    {% else %}
        <ul>
    {% endif %}
        
        {% for item in data.items %}
            <li>{{ item|raw }}</li>
        {% endfor %}

    {% if data.style == "ordered" %}
        </ol>
    {% else %}
        </ul>
    {% endif %}
{% endmacro %}


{% macro checklist( data ) %}
    <div class="checklist">  
        {% for item in data.items %}
            <div>
                <label>
                    <input type="checkbox" {{ item.checked ? "checked = 'checked'" : ""}}>
                    <span>{{ item.text|raw }}</span>
                </label>
            </div>
        {% endfor %}

    </div>
{% endmacro %}

{% macro image( data ) %}
    {% if data.file.url is defined or data.caption %}
        {% set classes = "" %}
        {% if data.withBorder %}
            {% set classes = classes ~ " withBorder" %}
        {% endif %}
        {% if data.stretched %}
            {% set classes = classes ~ " stretched" %}
        {% endif %}
        {% if data.withBackground %}
            {% set classes = classes ~ " withBackground" %}
        {% endif %}

        <figure class="{{ classes|trim }} post-full">
            {% if data.file.url is defined %}
                <img data-src="{{ data.file.url }}" class="lazyload">
            {% endif %}
            {% if data.caption %}
                <figcaption>{{ data.caption|raw }}</figcaption>
            {% endif %}
        </figure>
    {% endif %}
{% endmacro %}

{% macro quote( data ) %}
    <blockquote class="quote mv-4 pv-4">
        <div class="quote__content">
            {{ data.text|raw }}
        </div>
        {% if data.caption %}
            <footer class="quote__cite">
                <cite>{{ data.caption|raw }}</cite>
            </footer>
        {% endif %}
    </blockquote>
{% endmacro %}

{% macro raw( data ) %}
    {{ data.html|raw}}
{% endmacro %}

{% macro table( data ) %}
    <table>
        <tbody>
            {% for row in data.content %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell|raw }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro warning( data ) %}
    <section class="warning post-full post-inset">
        <h3 class="warning__title">{{ data.title|raw }}</h3>
        <div>{{ data.message|raw }}</div>
    </section>
{% endmacro %}

{% macro button(data, prefix) %}
    <div class="flex-center pa-4">
        <a id="{{ prefix ~ '-' ~ data.link }}"
        class="btn btn-large btn-{{ data.className }}" target="_blank" rel="noopener noreferrer nofollow" href={{ data.link }}>{{ data.text }}</a>
    </div>
    <script>
        (function() {
            let link = document.getElementById("{{ prefix ~ '-' ~ data.link }}");
            if (!link) return;
            let href = link.getAttribute('href');
            if (!href) return;
            link.addEventListener('click', function(e) {
                e.preventDefault();
                API("calltoactionclick")
                    .then(function(res) {
                        window.open(href, "_blank");
                    })
                    .catch(function(err) {
                        console.log(err);
                        window.open(href, "_blank");
                    });
            })
        })()
    </script>
{% endmacro %}

{% macro spoiler( data ) %}
    <div class="spoiler mv-4" data-toggle-block data-toggle-slide data-toggle-inside>
        <div class="spoiler__visible bg_light pa-4 flex-between" data-toggle-toggle>
            <div>{{ data.shown|raw }}</div>
            <div class="ico ico-arrow-down ico_16"></div>
        </div>
        <div class="spoiler__hidden hidden pa-4" data-toggle-hidden>
            {{ data.hidden|raw }}
        </div>
    </div>
{% endmacro %}


{% macro embed ( data ) %}
    <div class="frame-wrapper">
        <iframe height='{{ data.height }}' width='{{ data.width }}' scrolling='no' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;' src='{{ data.embed }}'></iframe>
    </div>
{% endmacro %}

{% macro gist ( data ) %}
    <figure class="gist-code">
        <script src="{{ data.script }}"></script>
        {% if (data.caption) %} 
            <figcaption>{{ data.caption }}</figcaption>
        {% endif %}
    </figure>
{% endmacro %}