{% macro getNotificationBlock(data, titleMaxLength) %}
    <div class="notification-item">
                                    
        {% set count = data.actors|length %}
        <b class="color_main">{{ data.actors[0].userName }}</b>

        {% if count > 1 %} 
            и еще  {{ count }} {{ format_word(count, ["человек", "человека", "человек"]) }}
        {% endif %}

        {% if data.action == "like" %}
            положительно {{ format_word(count, ["оценил", "оценили", "оценили"]) }}
        {% elseif data.action == "comment" %}
            {% if data.post is defined %}
                {{ format_word(count, ["прокомментировал", "прокомментировали", "прокомментировали"]) }}
            {% elseif data.comment is defined %}
                {{ format_word(count, ["ответил на", "ответили на", "ответили на"]) }}
            {% endif %}
        {% endif %}

        {% if data.post is defined %}
            {% set notificationPost = data.post %}
            вашу запись
        {% elseif data.comment is defined %}
            {% set notificationPost = data.comment.post %}
            ваши комментарии к записи
        {% endif %}

        <a href={{ notificationPost.link }}>
            {# обрезанный текст #}
            <span data-toggle-hide>{{ notificationPost.title|length > titleMaxLength ? notificationPost.title|slice(0, titleMaxLength) ~ '...' : notificationPost.title }}</span>
            {# полный текст #}
            <span data-toggle-show>{{ notificationPost.title }}</span>
        </a>

        
        <div class="notification-item__list hidden" data-toggle-hidden>
            {% if data.actors|length > 1 %}
                <div class="mt-4">
                    {# в строчку #}
                    {% for actor in data.actors %}
                        {% if loop.index > 1 %}
                            , 
                        {% endif %}
                        {{ actor.userName }}
                    {% endfor %}
                    <br><br>
                    {# списком #}
                    {% for actor in data.actors %}
                        <div>{{ actor.userName }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}